<div class="contant" >
    <div class="banner-bg">
        <div class="fp-tableCell">
            <header>
                <div class="container" id="menu">
                    <div class="col-md-6 banner-bg-media-text-left">
                        <div class="row">
                            <div class="d-inline-block col-md-3">
                                <div class="row">
                                    <div class="fa fa-for-who d-inline-block"></div>
                                    <p class="d-inline-block"><a href="#for-who">Для кого</a></p>
                                </div>
                            </div>
                            <div class="d-inline-block col-md-9">

                                    <div class="fa fa-check d-inline-block"></div>
                                    <p class="d-inline-block"><a href="#programm">Программа мастер-класса</a></p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 banner-bg-media-text-right">
                        <div class="row">
                            <div class="d-inline-block col-md-6">

                                    <div class="fa fa-calendar d-inline-block"></div>
                                    <p class="d-inline-block">
                                    	<span class="webinar_day"></span> 
                                        <span class="webinar_month"></span> 
                                        <span class="webinar_year"></span>
                                    </p>

                            </div>
                            <div class="d-inline-block col-md-6">

                                    <a href="#free" class="btn d-inline-block">Бесплатная регистрация</a>

                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="container">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="section-video col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="video section-form-arrow">
                                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/z72EbNrx-TI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                            </div>

                        </div>
                        <div class="section-content col-md-12 col-sm-12 col-xs-12" id="free">
                            <div class="row">
                                <div class="col-md-8 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="section-content-title text-center col-md-12">
                                         <h1>Узнайте пошаговый план как зарабатывать <span></span> на выдаче займов </h1>
                                        </div>
                                        <div class="section-content-info col-md-12">
                                        <div class="col-md-3 col-sm-3 section-content-img">
                                            <img src="https://finansvest.ru/masterclass/images/DSC03724.jpg">
                                        </div>
                                        <div class="col-md-9 col-sm-9">
                                            <div class="fa fa-microphone d-inline-block"></div><p class="d-inline-block">Автор: Артем Ткачев</p>
                                            <ul>
                                                <li>Владелец сети микрокедитных компаний "Финанс Инвест"</li>
                                                <li>Открыл более 90 офисов в 45 городах</li>
                                                <li>За последний год увеличил оборот на 24% в среднем по компании</li>
                                            </ul>
                                            <div class="fa fa-calendar-2 d-inline-block"></div>
                                            <p class="d-inline-block">
                	                            <span class="webinar_day"></span> 
        		                                <span class="webinar_month"></span> 
		                                        <span class="webinar_year"></span>
                                            </p>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-1"></div>
                                <div class="col-md-4 col-sm-8 col-xs-10" >
                                    <div class="row">
                                    <div class="section-form ">
                                        <div class="block-form">

                                            <form id="form" >
                                                <h3>Введите Ваш E-mail и мы отправим вам ссылку на мастер-класс</h3>
                                                <input class="input-fa fa fa-user2 fa-form1" type="text" name="name" pattern="^[а-яА-ЯёЁ\-\s]+$" placeholder="Ваше Имя" required>
                                                <input class="input-fa fa fa-envelope fa-form1" type="text" name="email" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" placeholder="Ваш E-mail" required>
                                                <input class="fa fa-telephone fa-form1" type="text" name="phone" placeholder="Ваш Телефон" required>
                                                <input type="hidden" name="location" value="1">
                                                <button>Приду на мастер-класс</button>
                                            </form>
                                            <p>Уже зарегистрировано: <b>214</b> человек</p>
                                        </div>
                                        <div class="block-counter" >
                                             <h3>Мастер класс стартует через: </h3>
                                             <div class="" id="t"></div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="article">
        <div class="container">
            <div class="col-md-12 text-center">
                 <div class="row">
                     <h2 id="programm">На этом Мастер-Классе Вы узнаете:</h2>
                     <div class="article-contant">
                         <div class="col-md-12 col-sm-12 col-xs-12 article-contant-list">
                             <div class="col-md-3 col-sm-3 col-xs-3 text-right">
                                <div class="icon icon-open d-inline-block"></div>
                             </div>
                             <div class="col-md-8 col-sm-8 col-xs-8 text-left">
                                 <div class="article-contant-text ">
                                     <p>Как просто и&nbsp;быстро открыть офис по&nbsp;выдаче займов с&nbsp;минимальными вложениями</p>
                                 </div>
                             </div>
                         </div>
                         <div class="col-md-12 col-sm-12 col-xs-12 article-contant-list">
                             <div class="col-md-3 col-sm-3 col-xs-3 text-right">
                                 <div class="icon icon-security d-inline-block"></div>
                             </div>
                             <div class="col-md-8 col-sm-8 col-xs-8 text-left">
                                 <div class="article-contant-text">
                                     <p>Как правильно проверять заемщика, чтобы вернуть занятые деньги с&nbsp;вероятностью&nbsp;90%</p>
                                 </div>
                             </div>
                         </div>
                         <div class="col-md-12 col-sm-12 col-xs-12 article-contant-list">
                             <div class="col-md-3 col-sm-3 col-xs-3 text-right">
                                 <div class="icon icon-gear d-inline-block"></div>
                             </div>
                             <div class="col-md-8 col-sm-8 col-xs-8 text-left">
                                 <div class="article-contant-text">
                                     <p>Как сделав 3&nbsp;простых шага получить бизнес, работающий на&nbsp;автомате без головной боли и нервов</p>
                                 </div>
                             </div>
                         </div>
                         <div class="col-md-12 col-sm-12 col-xs-12 article-contant-list">
                             <div class="col-md-3 col-sm-3 col-xs-3 text-right">
                                 <div class="icon icon-gift d-inline-block"></div>
                             </div>
                             <div class="col-md-8 col-sm-8 col-xs-8 text-left">
                                 <div class="article-contant-text">
                                     <p>Получите <span>В&nbsp;ПОДАРОК</span> пошаговый план, открытия&nbsp;офиса&nbsp;по выдаче займов&nbsp;от 10 дней</p>
                                 </div>
                             </div>
                         </div>
                         <div class="col-md-12 col-sm-12 col-xs-12">
                             <div class="col-md-2"></div>
                             <div class="col-md-9 text-center">
                                        <div class="row">
                                      <div class="article-form">

                                          <form id="form2">
                                              <h3>Бесплатный мастер-класс <br>
                                                  <span class="webinar_day"></span> <span class="webinar_month"></span> в <span class="webinar_h"></span>:00</h3>
<p>по Московскому времени.</p>
                                              <p>Введите Ваш E-mail и&nbsp;мы&nbsp;отправим вам ссылку на&nbsp;мастер-класс</p>
                                              <input class="input-fa fa fa-user2 fa-form1" type="text" name="name" pattern="^[а-яА-ЯёЁ\-\s]+$" placeholder="Ваше Имя" required>
                                              <input class="input-fa fa fa-envelope fa-form1" type="text" name="email" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" placeholder="Ваш E-mail" required>
                                              <input class="fa fa-telephone fa-form1" type="text" name="phone" placeholder="Ваш Телефон" required>
                                              <input type="hidden"  name="location" value="2">
                                              <button>Приду на мастер-класс</button>
                                          </form>
                                          <p>Уже зарегистрировано: <b>214</b> человек</p>
                                      </div>
                                        </div>
                             </div>

                         </div>

                     </div>
                     <h3 id="for-who">Этот МАСТЕР-КЛАСС для вас, если:</h3>
                     <div class="article-contant">
                         <div class="col-md-12 col-sm-12 col-xs-12">
                             <div class="row ">
                                 <div class="col-md-6 col-sm-6 col-xs-12 master-contant-list">
                                     <div class="row ">
                                         <div class="col-md-4 text-media">
                                             <div class="row">
                                                 <div class="icon icon-big icon-coin-hand d-inline-block"></div>
                                             </div>
                                         </div>
                                         <div class="col-md-8 text-left">
                                             <div class="article-contant-text article-contant-text-p-m">
                                                 <p>Вы&nbsp;устали работать по&nbsp;найму и&nbsp;получать нищенскую зарплату без надежды на&nbsp;хорошую жизнь для себя и&nbsp;своих детей</p>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-md-6 col-sm-6 col-xs-12 master-contant-list">
                                     <div class="row">
                                         <div class="col-md-4 text-media">
                                             <div class="row">
                                                 <div class="icon icon-big icon-man d-inline-block"></div>
                                             </div>
                                         </div>
                                         <div class="col-md-8 text-left">
                                             <div class="article-contant-text article-contant-text-p-m">
                                                 <p>Периодически думаете об&nbsp;открытии своего бизнеса, но&nbsp;не&nbsp;знаете с&nbsp;чего нужно начинать и&nbsp;что делать</p>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-md-6 col-sm-6 col-xs-12">
                                     <div class="row">
                                         <div class="col-md-4 text-media">
                                             <div class="row">
                                                 <div class="icon icon-big icon-aircraft d-inline-block"></div>
                                             </div>
                                         </div>
                                         <div class="col-md-8 text-left">
                                             <div class="article-contant-text article-contant-text-p-m">
                                                 <p>Хотели&nbsp;бы поменять машину, квартиру на&nbsp;более престижные, отправить детей в&nbsp;хороший ВУЗ и&nbsp;отдыхать за&nbsp;границей несколько раз в&nbsp;год</p>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-md-6 col-sm-6 col-xs-12">
                                     <div class="row">
                                         <div class="col-md-4 text-media">
                                             <div class="row">
                                                 <div class="icon icon-big icon-partner d-inline-block"></div>
                                             </div>
                                         </div>
                                         <div class="col-md-8 text-left">
                                             <div class="article-contant-text article-contant-text-p-m">
                                                 <p>Хотели&nbsp;бы чтобы пришел человек и&nbsp;провел вас за&nbsp;ручку к&nbsp;деньгам, а&nbsp;вы&nbsp;готовы вкладывать свои силы в&nbsp;дело и&nbsp;не&nbsp;лениться</p>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <h3>Чего мы достигли и чему научим</h3>




                     <h4><span>134 500</span> рублей в месяц - минимальная чистая прибыль офиса по выдачи займов </h4>
                     <div class="article-contant">
                         <div class="col-md-12 col-sm-12 col-xs-12">
                             <div class="row">
                                 <div class="col-md-3 col-sm-6 col-xxs-6 col-xxxs-6">
                                     <div class="row">
                                         <div class="article-contant-what-we">
                                             <div class="article-contant-what-we-img bg-lchegorsk ">
                                             </div>
                                             <div class="article-contant-what-we-text">
                                                 <h4>пгт. Лучегорск </h4>
                                                 <p class="text-left title-h5">Приморский край</p>
                                                 <p class="text-left d-inline-block">Срок открытия</p><p class="text-right d-inline-block">10 дней</p>
                                                 <p class="text-left d-inline-block">Срок окупаемости</p><p class="text-right d-inline-block">6,5 месяцев</p>
                                                 <p class="text-left d-inline-block">Прибыль в месяц</p><p class="text-right d-inline-block">219 421 &#8381;</p>
                                                 <p class="text-left d-inline-block">Прибыль в год</p><p class="text-right d-inline-block">2 633 062 &#8381;</p>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-md-3 col-sm-6 col-xxs-6 col-xxxs-6">
                                     <div class="row">
                                         <div class="article-contant-what-we">
                                             <div class="article-contant-what-we-img bg-belogorsk">
                                             </div>
                                             <div class="article-contant-what-we-text">
                                                 <h4>г.Белогорск </h4>
                                                 <p class="text-left title-h5">Амурская область</p>
                                                 <p class="text-left d-inline-block">Срок открытия</p><p class="text-right d-inline-block">15 дней</p>
                                                 <p class="text-left d-inline-block">Срок окупаемости</p><p class="text-right d-inline-block">6 месяцев</p>
                                                 <p class="text-left d-inline-block">Прибыль в месяц</p><p class="text-right d-inline-block">227 500 &#8381;</p>
                                                 <p class="text-left d-inline-block">Прибыль в год</p><p class="text-right d-inline-block">2 730 470 &#8381;</p>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-md-3 col-sm-6 col-xxs-6 col-xxxs-6">
                                     <div class="row">
                                         <div class="article-contant-what-we">
                                             <div class="article-contant-what-we-img bg-mozaisk">
                                             </div>
                                             <div class="article-contant-what-we-text">
                                                 <h4>г.Можайск </h4>
                                                 <p class="text-left title-h5">Московская область</p>
                                                 <p class="text-left d-inline-block">Срок открытия</p><p class="text-right d-inline-block"> 20 дней</p>
                                                 <p class="text-left d-inline-block">Срок окупаемости</p><p class="text-right d-inline-block">5 месяцев</p>
                                                 <p class="text-left d-inline-block">Прибыль в месяц</p><p class="text-right d-inline-block">134 500 &#8381;</p>
                                                 <p class="text-left d-inline-block">Прибыль в год</p><p class="text-right d-inline-block">1 608 235 &#8381;</p>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-md-3 col-sm-6 col-xxs-6 col-xxxs-6">
                                     <div class="row">
                                         <div class="article-contant-what-we">
                                             <div class="article-contant-what-we-img bg-verhnevilyisk ">
                                             </div>
                                             <div class="article-contant-what-we-text">
                                                 <h4>г.Верхневилюйск</h4>
                                                 <p class="text-left title-h5"> Якутия</p>
                                                 <p class="text-left d-inline-block">Срок открытия</p><p class="text-right d-inline-block">23 дней</p>
                                                 <p class="text-left d-inline-block">Срок окупаемости</p><p class="text-right d-inline-block">5 месяцев</p>
                                                 <p class="text-left d-inline-block">Прибыль в месяц</p><p class="text-right d-inline-block">217 050 &#8381;</p>
                                                 <p class="text-left d-inline-block">Прибыль в год</p><p class="text-right d-inline-block">2 604 600 &#8381;</p>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <h3>Почему сейчас это делать особено выгодно</h3>
                     <div class="article-contant">
                         <div class="col-md-12">
                             <div class="row">
                                 <div class="col-md-8">
                                     <div style="    position: absolute;
    z-index: 10;
    width: 90%;">
                                     <div class="col-md-12">

                                         <div class="map-russia"></div>

                                     </div>
                                     </div>
                                 </div>
                                 <div class="col-md-8 text-left article-contant-f-r"  >
                                                 <div class="article-contant-text-why-now">
                                                     <div class="col-md-5"></div>
                                                     <div class="col-md-7">
                                                     <p class="fa-6">Рынок займов свободен на 65%</p>
                                                     <p class="fa-6">Более 5 млн клиентов МФО</p><span>с 2017 году по данным ЦБ</span>
                                                     <p class="fa-6">с 2017 году по данным ЦБ</p> <span>среднегодовой темп роста рынка</span>
                                                     <p class="fa-6">7 450 P</p>  <span> средняя сумма займа </span>
                                                     <p class="fa-6">2 397 компании</p> <span> в государственном реестре МФО в октябре 2017 года</span>
                                                     </div>
                                                 </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     
                 </div>
            </div>
        </div>
        
    </div>
    <div class="footer-bg">
        <div class="fp-tableCell">
            <div class="container">
                         <h2>Формат МАСТЕР-КЛАССА</h2>
                <div class="col-md-6 ">
                    <div class="row">
                        <div class="block-counter" >
                            <h3>Начало через: </h3>
                            <div class="" id="t2"></div>
                            <div>
                                <p>-Мастер-класс будет в режиме онлайн</p>
                                <p>-Для участия необходимы только компьютер и наушники</p>
                                <p>-Вам не нужно никуда ехать</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="section-form">
                            <div class="block-form">

                                <form id="form3">
                                    <h3>
                                        Введите Ваш E-mail и мы отправим вам ссылку на мастер-класс
                                    </h3>
                                    <input class="input-fa fa fa-user2 fa-form1" type="text" name="name" pattern="^[а-яА-ЯёЁ\-\s]+$" placeholder="Ваше Имя" required >
                                    <input class="input-fa fa fa-envelope fa-form1" type="text" name="email" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required>
                                    <input class="fa fa-telephone fa-form1" type="text" name="phone" placeholder="Ваш Телефон" required>
                                    <input type="hidden"  name="location" value="3">
                                    <button>Приду на мастер-класс</button>
                                </form>
                                <p>Уже зарегестрированно: <b>214</b> человек</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <footer>
        <div class="container">
            <div class="col-md-6 col-sm-6 col-xs-6  text-left">
                <div class="row">
                    <p><img src="https://finansvest.ru/masterclass/images/logo-white.png"></p>
                    <div style="color: #828282; line-height:14px; font-size:12px;"><a style="color: #bbb;" href="http://finansvest.ru/wp-content/uploads/2014/12/policy.pdf" target="_blank" rel="nofollow">Политика</a> в области обработки и обеспечения безопасности персональных данных.</div>
                    </div>
                </div>
            <div class="col-md-6 col-sm-6 col-xs-6   text-right">
                <div class="row">
                    <div class="nomber" >8 (800) 333 21 17</div>
                </div>
            </div>
            </div>

    </footer>

</div>