section.modal.modal-callback.page_hidden
    .wrapper
        .modal__action
            button.page__btn.page__btn_circle.page__btn_close
        .modal__content
            h2.page__title-h2 Связаться со мной
            p.page__text Свяжитесь со мной любым из способов ниже
            .social
                .social__item-link.social__item-icon.social__item-icon_fb
                .social__item-link.social__item-icon.social__item-icon_fb
                .social__item-link.social__item-icon.social__item-icon_fb
                .social__item-link.social__item-icon.social__item-icon_fb
                .social__item-link.social__item-icon.social__item-icon_fb
                .social__item-link.social__item-icon.social__item-icon_fb
            p.page__text
                | Любую сделку Вы можете оформить безопасным способом через 
                a.page__link(href="https://www.fl.ru/users/manokhinil/") FL 
                a.page__link(href="https://freelance.habr.com/info/safe_deal") Freelansim 
                a.page__link(href="https://freelance.habr.com/info/safe_deal") Сбербанк
            
                