<section  class="works" id="works">
    <div class="container">
      <h2 class="works__title title">Мои проекты</h2>
      <div class="works__list">
        <div class="works__col  fadeInUp animated delay-2s">
            <figure class="works__effect">
                <img src="../assets/page.component/img/tetris-demo.jpg" alt="portfolio">
                <figcaption class="works__descr">
                    <h3>Tetris Demo v0.1</h3>
                    <p>Tetris on clearJS</p>
                    <a class="btn-works" target="blank" [routerLink]="'/tetris'">Show</a>
                </figcaption>
            </figure>
        </div>
        <div class="works__col  fadeInUp animated delay-2s">
            <figure class="works__effect">
                <img src="../assets/page.component/img/bookkeeping.jpg" alt="portfolio">
                <figcaption class="works__descr">
                    <h3>bookkeeping</h3>
                <p>bookkeeping</p>
                <a class="btn-works" target="blank" [routerLink]="'/bookkeeping'">Show</a>
                </figcaption>
            </figure>
          </div>
      </div>
    </div>
  </section>