<section  class="works" id="works">
<div class="container">
  <h2 class="works__title title">Мои работы</h2>
  <div class="works__list">
    <div class="works__col  fadeInUp animated delay-2s">
      <figure class="works__effect">
          <img src="./assets/page.component/img/vr-jazz-bg.png" alt="portfolio">
          <figcaption class="works__descr">
              <h3>VR Jazz</h3>
              <p>VR Jazz</p>
              <a class="btn-works" target="blank" [routerLink]="'/vr-jazz'">Show</a>
          </figcaption>
      </figure>
    </div>
    <div class="works__col  fadeInUp animated delay-2s">
      
        <figure class="works__effect">
            <img src="./assets/page.component/img/finansvest.png" alt="portfolio">
            <figcaption class="works__descr">
                <h3>Finans Invest</h3>
                <p>Finans Invest</p>
                <a class="btn-works" target="blank" [routerLink]="'finansvest'">Show</a>
            </figcaption>
        </figure>
     
      </div>

    <div class="works__col  fadeInUp animated delay-2s">
       
        <figure class="works__effect">
            <img src="./assets/page.component/img/evakuator.png" alt="portfolio">
            <figcaption class="works__descr">
                <h3>Evakuator</h3>
                <p>Evakuator</p>
                <a class="btn-works" target="blank" [routerLink]="'evakuator'">Show</a>
            </figcaption>
        </figure>
      
      </div>
      
      <div class="works__col  fadeInUp animated delay-2s">
        
            <figure class="works__effect">
                <img src="./assets/page.component/img/akvahit.png" alt="portfolio">
                <figcaption class="works__descr">
                    <h3>akvahit</h3>
                    <p>akvahit</p>
                    <a class="btn-works" target="blank" [routerLink]="'pulsar'">Show</a>
                </figcaption>
            </figure>
         
          </div>
      <div class="works__col  fadeInUp animated delay-2s">
          
            <figure class="works__effect">
                <img src="./assets/page.component/img/pulsar.png" alt="portfolio">
                <figcaption class="works__descr">
                    <h3>Pulsar</h3>
                    <p>Pulsar</p>
                    <a class="btn-works" target="blank" [routerLink]="'pulsar'">Show</a>
                </figcaption>
            </figure>
          
          </div>
      <div class="works__col  fadeInUp animated delay-2s">
             
              <figure class="works__effect">
                  <img src="./assets/page.component/img/danfoss.png" alt="portfolio">
                  <figcaption class="works__descr">
                      <h3>Danfoss</h3>
                      <p>Danfoss</p>
                      <a class="btn-works" target="blank" [routerLink]="'danfoss'">Show</a>
                  </figcaption>
              </figure>
             
            </div>
      <div class="works__col  fadeInUp animated delay-2s">
               
                <figure class="works__effect">
                    <img src="./assets/page.component/img/furycoins.png" alt="portfolio">
                    <figcaption class="works__descr">
                        <h3>furycoins</h3>
                        <p>furycoins</p>
                        <a class="btn-works" target="blank" >Show</a>
                    </figcaption>
                </figure>
           
              </div>
      <div class="works__col  fadeInUp animated delay-2s">
                
                  <figure class="works__effect">
                      <img src="./assets/page.component/img/obed-ru.png" alt="portfolio">
                      <figcaption class="works__descr">
                          <h3>Obed.ru</h3>
                          <p>Obed.ru</p>
                          <a class="btn-works" target="blank" [routerLink]="'obed_ru'">Show</a>
                      </figcaption>
                  </figure>
                 
                </div>
  </div>
</div>
</section>