<div class="works__list">
<div class="works__col  fadeInUp animated delay-2s">
  <div class="works__effect">
    <img src="../assets/img/tetris-demo.jpg" alt="portfolio">
    <div class="works__descr">
      <h3>Tetris Demo v0.1</h3>
      <p>Tetris on clearJS</p>
      <a class="btn-works" target="blank" [routerLink]="'/tetris'">Show</a>
    </div>
  </div>
</div>
<div class="works__col  fadeInUp animated delay-2s">
    <div class="works__effect">
      <img style="background: blue" alt="portfolio">
      <div class="works__descr">
        <h3>bookkeeping</h3>
        <p>bookkeeping</p>
        <a class="btn-works" target="blank" >Show</a>
      </div>
    </div>
  </div>
</div>

