doctype html
html(lang='ru') 
    head
        block title
        block style
        link(rel='stylesheet', href='css/styles.css', type='text/css')
        block script
        script(src='js/debugGridCreate.js')
    body
        block content
        