header#js-nav.header
  .header__navbar
    .container
      .header__inner
        a.header__logo
            span.logo-img
            span.logo Портфолио
        nav.header__nav(role='navigation')
          ul.nav
            li
              a Главная
            li
              a(href='') &Mcy;&ocy;&icy; Мои project
            li
              a(href='') &Mcy;&ocy;&icy; Мои portfolio
            li
              a(href='#contacts') Контакты
