#global-wrapper
  // ===================================================== Loader
  .loader
    .pseudo-table
      .pseudo-table-cell.align-center
        .a-loader.arc-loader
          .arc.arc-1
          .arc.arc-2
        .loader-text &zcy;&acy;&gcy;&rcy;&ucy;&zcy;&kcy;&acy;...
  // ===================================================== Header
  header.layout-header
    .container
      .row
        // Logo
        .col-1-4
          a.logo.si-jump(href='#')
            img(src='../../img/portfolio/danfoss/logo.png' alt=' ')
        // global nav
        .col-1-2
          nav.global-nav
            ul.nav
              li
                a.si-jump.primary.dashed(href='#catalogue') &Kcy;&acy;&tcy;&acy;&lcy;&ocy;&gcy;
              li
                a.si-jump.primary.dashed(href='#why') &Pcy;&rcy;&iecy;&icy;&mcy;&ucy;&shchcy;&iecy;&scy;&tcy;&vcy;&acy;
              li
                a.si-jump.primary.dashed(href='#about') &Ocy; &bcy;&rcy;&iecy;&ncy;&dcy;&iecy;
              li
                a.si-jump.primary.dashed(href='#form-3') &Acy;&kcy;&tscy;&icy;&yacy;
        // Phone block
        .col-1-4.align-right
          .si-phone
            a.btn-small.show-mail(href='mailto:zakaz@akvahit.ru') zakaz@akvahit.ru
            a.phone-link.dark(href='tel:+78005008259') 8 800 500-82-59
            .btn-holder
              a.btn.btn-small.open-phone-modal(href='#' data-extra='1')
                | &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &kcy;&ocy;&ncy;&scy;&ucy;&lcy;&softcy;&tcy;&acy;&tscy;&icy;&yucy;
  // ===================================================== section heading
  section#heading.section-heading
    .container
      .row
        .col-7-12
          p
            span.big.primary
              | &Ocy;&bcy;&ocy;&rcy;&ucy;&dcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy; 
              span.hidden Danfoss
            span.offtop
              | &Ocy;&Pcy;&Tcy;&Ocy;&Mcy; &mdash; &Bcy;&Ycy;&Scy;&Tcy;&Rcy;&Ocy;
              br
              |                             &Icy; &Bcy;&IEcy;&Zcy; &Gcy;&Ocy;&Lcy;&Ocy;&Vcy;&Ncy;&Ocy;&Jcy; &Bcy;&Ocy;&Lcy;&Icy;
        .col-1-4.col-offset-1-12
          .heading-catalogue-block.align-center
            | &Ncy;&acy;&shcy;&icy; &tscy;&iecy;&ncy;&ycy;&nbsp;&mdash; &ocy;&dcy;&ncy;&icy; &icy;&zcy;&nbsp;&scy;&acy;&mcy;&ycy;&khcy; &ncy;&icy;&zcy;&kcy;&icy;&khcy; &ncy;&acy;&nbsp;&rcy;&ycy;&ncy;&kcy;&iecy;!
            .btn-holder
              a.btn.open-catalogue-modal(href='#' data-extra='3')
                | &Kcy;&acy;&tcy;&acy;&lcy;&ocy;&gcy;
      .heading-advantages-block.row
        .col-1-3.cre-animate(data-animation='slide-in-from-right' data-speed='1000' data-delay='200' data-offset='90%' data-easing='easeOutQuart')
          .heading-advantage-item.pseudo-table.hover-buzz-out
            .heading-advantage-image.pseudo-table-cell
              span.icon.icon-heading-1
            .heading-advantage-text.pseudo-table-cell
              | &Rcy;&acy;&scy;&chcy;&iocy;&tcy; &scy;&tcy;&ocy;&icy;&mcy;&ocy;&scy;&tcy;&icy;
              br
              |                         &zcy;&acy; 2 &chcy;&acy;&scy;&acy;
        .col-1-3.cre-animate(data-animation='slide-in-from-right' data-speed='1000' data-delay='400' data-offset='90%' data-easing='easeOutQuart')
          .heading-advantage-item.pseudo-table.hover-buzz-out
            .heading-advantage-image.pseudo-table-cell
              span.icon.icon-heading-2
            .heading-advantage-text.pseudo-table-cell
              | &Ocy;&tcy;&gcy;&rcy;&ucy;&zcy;&kcy;&acy;
              br
              |                         &zcy;&acy; 1 &dcy;&iecy;&ncy;&softcy;
        .col-1-3.cre-animate(data-animation='slide-in-from-right' data-speed='1000' data-delay='600' data-offset='90%' data-easing='easeOutQuart')
          .heading-advantage-item.pseudo-table.hover-buzz-out
            .heading-advantage-image.pseudo-table-cell
              span.icon.icon-heading-3
            .heading-advantage-text.pseudo-table-cell
              | 0 &rcy;&ucy;&bcy;&lcy;&iecy;&jcy;
              br
              |                         &dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&acy; &pcy;&ocy; &Rcy;&Fcy;
  // ===================================================== section form-1
  section#form-1.section-form.form-1
    .container
      .title-h2
        | &Pcy;&rcy;&icy;&shcy;&lcy;&icy;&tcy;&iecy; &scy;&pcy;&icy;&scy;&ocy;&kcy; &tcy;&rcy;&iecy;&bcy;&ucy;&iecy;&mcy;&ycy;&khcy; &pcy;&ocy;&zcy;&icy;&tscy;&icy;&jcy; &mdash;
        br
        |             &ucy;&zcy;&ncy;&acy;&jcy;&tcy;&iecy; &tscy;&iecy;&ncy;&ucy; &icy; &scy;&rcy;&ocy;&kcy;&icy; &pcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&icy; &ucy;&zhcy;&iecy; &chcy;&iecy;&rcy;&iecy;&zcy; 2 &chcy;&acy;&scy;&acy;.
      p.font24
        | &Ecy;&kcy;&ocy;&ncy;&ocy;&mcy;&softcy;&tcy;&iecy; &bcy;&yucy;&dcy;&zhcy;&iecy;&tcy; &mdash; &ncy;&acy;&shcy;&icy; &tscy;&iecy;&ncy;&ycy; &ocy;&dcy;&ncy;&icy; &icy;&zcy; &scy;&acy;&mcy;&ycy;&khcy; &ncy;&icy;&zcy;&kcy;&icy;&khcy; &ncy;&acy; &rcy;&ycy;&ncy;&kcy;&iecy;!
      form.send-form(action='send.php' method='post' autocomplete='off' data-onsubmit="yaCounter42143364.reachGoal('FormSendSmeta'); ga('send', 'event', 'Form', 'Send', 'Smeta');return true;")
        .row
          .col-1-3
            input.client-name(type='text' name='client_name' placeholder='Ваше имя')
          .col-1-3
            input.client-phone(type='tel' name='client_phone' placeholder='Ваш телефон')
          .col-1-3
            input.client-mail(type='email' name='client_mail' placeholder='Ваш e-mail')
        .btn-holder.row.align-center
          .col-1-2
            input.client-file(type='file' name='client_file')
          .col-1-2
            button.btn(type='submit') &Pcy;&ocy;&lcy;&ucy;&chcy;&icy;&tcy;&softcy; &scy;&mcy;&iecy;&tcy;&ucy;
        input.send-type(type='hidden' name='send_type' value='2')
        input.send-extra(type='hidden' name='send_extra' value='1')
  // ===================================================== section catalogue
  section#catalogue.section-catalogue
    .container.align-center
      .ctl
        h1 &Kcy;&ucy;&pcy;&icy;&tcy;&softcy; &ocy;&bcy;&ocy;&rcy;&ucy;&dcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy; Danfoss &ocy;&pcy;&tcy;&ocy;&mcy;
      .catalogue-block.row.row-3
        // single block
        .col-1-3
          .catalogue-item.align-center
            .catalogue-image
              img(src='../../img/portfolio/danfoss/1.png' alt=' ')
            .catalogue-name
              | &Rcy;&acy;&dcy;&icy;&acy;&tcy;&ocy;&rcy;&ncy;&ycy;&iecy; &tcy;&iecy;&rcy;&mcy;&ocy;&rcy;&iecy;&gcy;&ucy;&lcy;&yacy;&tcy;&ocy;&rcy;&ycy; &icy;&nbsp;&kcy;&lcy;&acy;&pcy;&acy;&ncy;&ycy;
            // <div class="catalogue-price">
            // от 699 &#8381;
            // </div>
        // single block
        .col-1-3
          .catalogue-item.align-center
            .catalogue-image
              img(src='../../img/portfolio/danfoss/2.png' alt=' ')
            .catalogue-name
              | &Bcy;&acy;&lcy;&acy;&ncy;&scy;&icy;&rcy;&ocy;&vcy;&ocy;&chcy;&ncy;&ycy;&iecy; &kcy;&lcy;&acy;&pcy;&acy;&ncy;&ycy;
            // <div class="catalogue-price">
            // от 699 &#8381;
            // </div>
        // single block
        .col-1-3
          .catalogue-item.align-center
            .catalogue-image
              img(src='../../img/portfolio/danfoss/3.png' alt=' ')
            .catalogue-name
              | &Rcy;&iecy;&gcy;&ucy;&lcy;&yacy;&tcy;&ocy;&rcy;&ycy; &rcy;&acy;&scy;&khcy;&ocy;&dcy;&acy;, &dcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &icy;&nbsp;&tcy;&iecy;&mcy;&pcy;&iecy;&rcy;&acy;&tcy;&ucy;&rcy;&ycy;
            // <div class="catalogue-price">
            // от 699 &#8381;
            // </div>
        // single block
        .col-1-3
          .catalogue-item.align-center
            .catalogue-image
              img(src='../../img/portfolio/danfoss/4.png' alt=' ')
            .catalogue-name
              | &Kcy;&ocy;&ncy;&tcy;&rcy;&ocy;&lcy;&lcy;&iecy;&rcy;&ycy; &icy;&nbsp;&dcy;&icy;&scy;&pcy;&iecy;&tcy;&chcy;&iecy;&rcy;&icy;&zcy;&acy;&tscy;&icy;&yacy;
            // <div class="catalogue-price">
            // от 699 &#8381;
            // </div>
        // single block
        .col-1-3
          .catalogue-item.align-center
            .catalogue-image
              img(src='../../img/portfolio/danfoss/5.png' alt=' ')
            .catalogue-name
              | &Kcy;&lcy;&acy;&pcy;&acy;&ncy;&ycy; &scy;&nbsp;&ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&ocy;&pcy;&rcy;&icy;&vcy;&ocy;&dcy;&acy;&mcy;&icy;
            // <div class="catalogue-price">
            // от 699 &#8381;
            // </div>
        // single block
        .col-1-3
          .catalogue-item.align-center
            .catalogue-image
              img(src='../../img/portfolio/danfoss/6.png' alt=' ')
            .catalogue-name
              | &Tcy;&iecy;&pcy;&lcy;&ocy;&ocy;&bcy;&mcy;&iecy;&ncy;&ncy;&icy;&kcy;&icy;
            // <div class="catalogue-price">
            // от 699 &#8381;
            // </div>
        // single block
        .col-1-3
          .catalogue-item.align-center
            .catalogue-image
              img(src='../../img/portfolio/danfoss/7.png' alt=' ')
            .catalogue-name
              | &Kcy;&ocy;&mcy;&ncy;&acy;&tcy;&ncy;&ycy;&iecy; &tcy;&iecy;&rcy;&mcy;&ocy;&scy;&tcy;&acy;&tcy;&ycy;
            // <div class="catalogue-price">
            // от 699 &#8381;
            // </div>
        // single block
        .col-1-3
          .catalogue-item.align-center
            .catalogue-image
              img(src='../../img/portfolio/danfoss/8.png' alt=' ')
            .catalogue-name
              | &Ucy;&chcy;&iecy;&tcy; &tcy;&iecy;&pcy;&lcy;&ocy;&vcy;&ocy;&jcy; &ecy;&ncy;&iecy;&rcy;&gcy;&icy;&icy;
            // <div class="catalogue-price">
            // от 699 &#8381;
            // </div>
        // single block
        .col-1-3
          .catalogue-item.align-center
            .catalogue-image
              img(src='../../img/portfolio/danfoss/9.png' alt=' ')
            .catalogue-name
              | &Tcy;&rcy;&ucy;&bcy;&ocy;&pcy;&rcy;&ocy;&vcy;&ocy;&dcy;&ncy;&acy;&yacy; &acy;&rcy;&mcy;&acy;&tcy;&ucy;&rcy;&acy;
            // <div class="catalogue-price">
            // от 699 &#8381;
            // </div>
        // single block
        .col-1-3
          .catalogue-item.align-center
            .catalogue-image
              img(src='../../img/portfolio/danfoss/10.png' alt=' ')
            .catalogue-name
              | &Bcy;&lcy;&ocy;&chcy;&ncy;&ycy;&iecy; &tcy;&iecy;&pcy;&lcy;&ocy;&vcy;&ycy;&iecy; &pcy;&ucy;&ncy;&kcy;&tcy;&ycy;
            // <div class="catalogue-price">
            // от 699 &#8381;
            // </div>
        // single block
        .col-1-3
          .catalogue-item.align-center
            .catalogue-image
              img(src='../../img/portfolio/danfoss/11.png' alt=' ')
            .catalogue-name
              | &SHcy;&kcy;&acy;&fcy;&ycy; &rcy;&acy;&scy;&pcy;&rcy;&iecy;&dcy;&iecy;&lcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&iecy; &dcy;&lcy;&yacy;&nbsp;&gcy;&ocy;&rcy;&icy;&zcy;&ocy;&ncy;&tcy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; &scy;&icy;&scy;&tcy;&iecy;&mcy; &ocy;&tcy;&ocy;&pcy;&lcy;&iecy;&ncy;&icy;&yacy;
            // <div class="catalogue-price">
            // от 699 &#8381;
            // </div>
        // single block
        .col-1-3
          .catalogue-item.align-center
            .catalogue-image
              img(src='../../img/portfolio/danfoss/12.png' alt=' ')
            .catalogue-name
              | &Acy;&rcy;&mcy;&acy;&tcy;&ucy;&rcy;&acy; &dcy;&lcy;&yacy;&nbsp;&tcy;&iecy;&pcy;&lcy;&ycy;&khcy; &pcy;&ocy;&lcy;&ocy;&vcy;
            // <div class="catalogue-price">
            // от 699 &#8381;
            // </div>
      .btn-holder
        a.btn.open-catalogue-modal(href='#' data-extra='1')
          | &Zcy;&acy;&pcy;&rcy;&ocy;&scy;&icy;&tcy;&softcy; &pcy;&ocy;&lcy;&ncy;&ycy;&jcy; &kcy;&acy;&tcy;&acy;&lcy;&ocy;&gcy;
  // ===================================================== section form-2
  section#form-2.section-form.form-2
    .container
      .discount-block.align-center.cre-animate(data-animation='slide-down-from-top' data-speed='1000' data-delay='200' data-offset='90%' data-easing='easeOutQuart')
        | &scy;&kcy;&icy;&dcy;&kcy;&acy;
        span 3%
      .title-h2
        | &Ucy;&zhcy;&iecy; &scy;&dcy;&iecy;&lcy;&acy;&lcy;&icy; &rcy;&acy;&scy;&chcy;&iocy;&tcy; &vcy; &dcy;&rcy;&ucy;&gcy;&ocy;&jcy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy;?
      p.font24
        | &Pcy;&rcy;&icy;&kcy;&rcy;&iecy;&pcy;&icy;&tcy;&iecy; &scy;&mcy;&iecy;&tcy;&ucy; &mdash; &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&tcy;&iecy; &tcy;&ocy; &zhcy;&iecy; &ocy;&bcy;&ocy;&rcy;&ucy;&dcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy; &scy;&ocy; &scy;&kcy;&icy;&dcy;&kcy;&ocy;&jcy; 3%!
      form.send-form(action='send.php' method='post' autocomplete='off' data-onsubmit="yaCounter42143364.reachGoal('FormSendSkidka'); ga('send', 'event', 'Form', 'Send', 'Skidka');return true;")
        .row
          .col-1-3
            input.client-name(type='text' name='client_name' placeholder='Ваше имя')
          .col-1-3
            input.client-phone(type='tel' name='client_phone' placeholder='Ваш телефон')
          .col-1-3
            input.client-mail(type='email' name='client_mail' placeholder='Ваш e-mail')
        .btn-holder.row.align-center
          .col-1-2
            input.client-file(type='file' name='client_file')
          .col-1-2
            button.btn(type='submit') &Pcy;&ocy;&lcy;&ucy;&chcy;&icy;&tcy;&softcy; &scy;&kcy;&icy;&dcy;&kcy;&ucy;
        input.send-type(type='hidden' name='send_type' value='2')
        input.send-extra(type='hidden' name='send_extra' value='2')
  // ===================================================== section why
  section#why.section-why
    .container
      .why
        span.big
          | &Pcy;&ocy;&chcy;&iecy;&mcy;&ucy; 
          span.primary
            | &laquo;&Acy;&kcy;&vcy;&acy;
            span.accent &KHcy;&icy;&tcy;
            | &raquo;
          |  &mdash;
        span.offtop &scy;&acy;&mcy;&ycy;&jcy; &laquo;&ucy;&dcy;&ocy;&bcy;&ncy;&ycy;&jcy;&raquo; &pcy;&ocy;&scy;&tcy;&acy;&vcy;&shchcy;&icy;&kcy;?
      ol.why-block
        li.cre-animate(data-animation='slide-in-from-left' data-speed='1000' data-delay='200' data-offset='90%' data-easing='easeOutQuart')
          .why-item
            .why-title.primary
              | &laquo;&Gcy;&icy;&bcy;&kcy;&icy;&jcy;&raquo; &pcy;&acy;&rcy;&tcy;&ncy;&iecy;&rcy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&jcy; &scy;&mcy;&ocy;&zhcy;&iecy;&tcy; &pcy;&ocy;&dcy;&scy;&tcy;&rcy;&ocy;&icy;&tcy;&softcy;&scy;&yacy;
              br
              |                         &pcy;&ocy;&dcy;&nbsp;&vcy;&acy;&shcy;&icy; &zcy;&acy;&dcy;&acy;&chcy;&icy;
            .why-text.offtop
              | &Ncy;&acy;&pcy;&rcy;&icy;&mcy;&iecy;&rcy;, &scy;&dcy;&iecy;&lcy;&acy;&tcy;&softcy; &scy;&rcy;&ocy;&chcy;&ncy;&ucy;&yucy; &acy;&vcy;&icy;&acy;&pcy;&iecy;&rcy;&iecy;&vcy;&ocy;&zcy;&kcy;&ucy;, &dcy;&ocy;&scy;&tcy;&acy;&vcy;&icy;&tcy;&softcy; &tcy;&ocy;&vcy;&acy;&rcy; &pcy;&rcy;&yacy;&mcy;&ocy; &vcy;&nbsp;&acy;&ecy;&rcy;&ocy;&pcy;&ocy;&rcy;&tcy;
              | &icy;&lcy;&icy;&nbsp;&scy;&rcy;&ocy;&chcy;&ncy;&ocy; &ocy;&tcy;&gcy;&rcy;&ucy;&zcy;&icy;&tcy;&softcy; &tcy;&ocy;&vcy;&acy;&rcy; &vcy;&nbsp;&ncy;&ocy;&chcy;&ncy;&ucy;&yucy; &scy;&mcy;&iecy;&ncy;&ucy;.
        li.cre-animate(data-animation='slide-in-from-left' data-speed='1000' data-delay='400' data-offset='90%' data-easing='easeOutQuart')
          .why-item
            .why-title.primary
              | &Bcy;&ocy;&lcy;&softcy;&shcy;&icy;&ncy;&scy;&tcy;&vcy;&ocy; &pcy;&ocy;&zcy;&icy;&tscy;&icy;&jcy;
              br
              |                         &vcy;&nbsp;&ncy;&acy;&lcy;&icy;&chcy;&icy;&icy;
            .why-text.offtop
              | &Ucy;&nbsp;&ncy;&acy;&scy; &scy;&ocy;&bcy;&rcy;&acy;&ncy;&ycy; &vcy;&scy;&iecy; &scy;&acy;&mcy;&ycy;&iecy; &khcy;&ocy;&dcy;&ocy;&vcy;&ycy;&iecy;, &vcy;&ocy;&scy;&tcy;&rcy;&iecy;&bcy;&ocy;&vcy;&acy;&ncy;&ncy;&ycy;&iecy;, &pcy;&rcy;&ocy;&vcy;&iecy;&rcy;&iecy;&ncy;&ncy;&ycy;&iecy; &scy;&pcy;&rcy;&ocy;&scy;&ocy;&mcy; &tcy;&ocy;&vcy;&acy;&rcy;&ycy;. &Vcy;&acy;&mcy;
              | &ncy;&iecy;&nbsp;&pcy;&rcy;&icy;&dcy;&iecy;&tcy;&scy;&yacy; &zhcy;&dcy;&acy;&tcy;&softcy; 2&nbsp;&ncy;&iecy;&dcy;&iecy;&lcy;&icy;.
        li.cre-animate(data-animation='slide-in-from-left' data-speed='1000' data-delay='600' data-offset='90%' data-easing='easeOutQuart')
          .why-item
            .why-title.primary
              | &Ocy;&tcy;&gcy;&rcy;&ucy;&zcy;&kcy;&acy; &zcy;&acy;&nbsp;1&#x2011;3&nbsp;&dcy;&ncy;&yacy;
            .why-text.offtop
              | &Kcy;&acy;&kcy; &tcy;&ocy;&lcy;&softcy;&kcy;&ocy; &vcy;&ycy;&nbsp;&vcy;&ncy;&ocy;&scy;&icy;&tcy;&iecy; &dcy;&iecy;&ncy;&softcy;&gcy;&icy;, &mcy;&ycy;&nbsp;&tcy;&ucy;&tcy;&nbsp;&zhcy;&iecy; &ocy;&tcy;&pcy;&rcy;&acy;&vcy;&lcy;&yacy;&iecy;&mcy; &zcy;&acy;&kcy;&acy;&zcy;.
        li.cre-animate(data-animation='slide-in-from-left' data-speed='1000' data-delay='400' data-offset='90%' data-easing='easeOutQuart')
          .why-item
            .why-title.primary
              | &Vcy;&scy;&iocy; &ocy;&fcy;&icy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;
            .why-text.offtop
              | &Vcy;&ycy;&nbsp;&pcy;&ocy;&lcy;&ucy;&chcy;&acy;&iecy;&tcy;&iecy; &ocy;&rcy;&icy;&gcy;&icy;&ncy;&acy;&lcy;&softcy;&ncy;&ocy;&iecy; &ocy;&bcy;&ocy;&rcy;&ucy;&dcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&acy; &Dcy;&acy;&ncy;&icy;&icy; &scy;&ocy;&nbsp;&vcy;&scy;&iecy;&mcy;&icy; &scy;&iecy;&rcy;&tcy;&icy;&fcy;&icy;&kcy;&acy;&tcy;&acy;&mcy;&icy;,
              | &dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&acy;&mcy;&icy; &icy;&nbsp;&gcy;&acy;&rcy;&acy;&ncy;&tcy;&icy;&iecy;&jcy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&acy; &ncy;&acy;&nbsp;1&#x2011;2&nbsp;&gcy;&ocy;&dcy;&acy;.
        li.cre-animate(data-animation='slide-in-from-left' data-speed='1000' data-delay='600' data-offset='90%' data-easing='easeOutQuart')
          .why-item
            .why-title.primary
              | &Pcy;&iecy;&rcy;&scy;&ocy;&ncy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy; &bcy;&ocy;&ncy;&ucy;&scy;&ycy;
            .why-text.offtop
              | &Pcy;&rcy;&icy; &zcy;&acy;&kcy;&acy;&zcy;&iecy; &bcy;&ocy;&lcy;&softcy;&shcy;&ocy;&jcy; &pcy;&acy;&rcy;&tcy;&icy;&icy; &tcy;&ocy;&vcy;&acy;&rcy;&ocy;&vcy; &vcy;&ycy;&nbsp;&mcy;&ocy;&zhcy;&iecy;&tcy;&iecy; &rcy;&acy;&scy;&scy;&chcy;&icy;&tcy;&ycy;&vcy;&acy;&tcy;&softcy; &ncy;&acy;&nbsp;&icy;&ncy;&dcy;&icy;&vcy;&icy;&dcy;&ucy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy;
              | &pcy;&rcy;&iecy;&dcy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&yacy;, &scy;&kcy;&icy;&dcy;&kcy;&icy; &icy;&nbsp;&pcy;&ocy;&dcy;&acy;&rcy;&kcy;&icy;.
        li.cre-animate(data-animation='slide-in-from-left' data-speed='1000' data-delay='800' data-offset='90%' data-easing='easeOutQuart')
          .why-item
            .why-title.primary
              | &Bcy;&iecy;&scy;&pcy;&lcy;&acy;&tcy;&ncy;&acy;&yacy; &dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&acy;
            .why-text.offtop
              | &Pcy;&ocy;&nbsp;&vcy;&scy;&iecy;&jcy; &Rcy;&ocy;&scy;&scy;&icy;&icy; &dcy;&ocy;&nbsp;&pcy;&ucy;&ncy;&kcy;&tcy;&acy; &scy;&acy;&mcy;&ocy;&vcy;&ycy;&vcy;&ocy;&zcy;&acy; &tcy;&rcy;&acy;&ncy;&scy;&pcy;&ocy;&rcy;&tcy;&ncy;&ocy;&jcy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy; &laquo;&Dcy;&iecy;&lcy;&ocy;&vcy;&ycy;&iecy; &lcy;&icy;&ncy;&icy;&icy;&raquo;
              | &vcy;&nbsp;&vcy;&acy;&shcy;&iecy;&mcy; &gcy;&ocy;&rcy;&ocy;&dcy;&iecy;.
  // ===================================================== section form-3
  section#form-3.section-form.form-3
    .iphone-block
    .container
      .title-h2
        | &Scy;&dcy;&iecy;&lcy;&acy;&jcy;&tcy;&iecy; &ocy;&pcy;&tcy;&ocy;&vcy;&ycy;&jcy; &zcy;&acy;&kcy;&acy;&zcy; &ocy;&bcy;&ocy;&rcy;&ucy;&dcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; Danfoss
      p.font24
        | &ucy;&zhcy;&iecy; &scy;&iecy;&jcy;&chcy;&acy;&scy;!
      .row
        .col-1-3.col-offset-2-12
          .iphone-text.cre-animate(data-animation='slide-up-from-bottom' data-speed='1000' data-delay='200' data-offset='90%' data-easing='easeOutQuart')
            .big
        .col-1-3.col-offset-2-12
          form.send-form(action='send.php' method='post' autocomplete='off' data-onsubmit="yaCounter42143364.reachGoal('FormSendiPhone');ga('send', 'event', 'Form', 'Send', 'iPhone');return true;")
            input.client-name(type='text' name='client_name' placeholder='Ваше имя')
            input.client-phone(type='tel' name='client_phone' placeholder='Ваш телефон')
            input.send-type(type='hidden' name='send_type' value='2')
            input.send-extra(type='hidden' name='send_extra' value='3')
            .btn-holder.row
              button.btn(type='submit') &Scy;&vcy;&yacy;&zcy;&acy;&tcy;&softcy;&scy;&yacy; &scy; &mcy;&iecy;&ncy;&iecy;&dcy;&zhcy;&iecy;&rcy;&ocy;&mcy;
  // ===================================================== section system
  section#system.section-system
    .container.align-center
      h2 &Ocy;&bcy;&ocy;&rcy;&ucy;&dcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy; Danfoss &tscy;&iecy;&ncy;&acy; &ucy; &dcy;&icy;&lcy;&iecy;&rcy;&acy; &vcy; &Mcy;&ocy;&scy;&kcy;&vcy;&iecy;
      span.big(style='font-size: 30px;')
        | &Scy;&icy;&scy;&tcy;&iecy;&mcy;&acy; 
        span.primary
          | &scy;&bcy;&ocy;&rcy;&acy;
          br
          |                         &pcy;&ocy;&kcy;&acy;&zcy;&acy;&ncy;&icy;&jcy; 
          span.accent INDIV X AMR
      .system-block
        .system-title
          | &Pcy;&rcy;&iecy;&icy;&mcy;&ucy;&shchcy;&iecy;&scy;&tcy;&vcy;&acy; &scy;&icy;&scy;&tcy;&iecy;&mcy;&ycy;
        .system-text.offtop
          | &Scy;&icy;&scy;&tcy;&iecy;&mcy;&acy; INDIV&nbsp;AMR &ocy;&chcy;&iecy;&ncy;&softcy; &gcy;&icy;&bcy;&kcy;&acy;&yacy;, &mcy;&ocy;&zhcy;&iecy;&tcy; &bcy;&ycy;&tcy;&softcy; &pcy;&rcy;&icy;&scy;&pcy;&ocy;&scy;&ocy;&bcy;&lcy;&iecy;&ncy;&acy; &kcy;&nbsp;&rcy;&acy;&zcy;&lcy;&icy;&chcy;&ncy;&ycy;&mcy; &tcy;&icy;&pcy;&acy;&mcy; &zcy;&dcy;&acy;&ncy;&icy;&jcy;
          | &icy;&nbsp;&rcy;&acy;&zcy;&mcy;&iecy;&rcy;&acy;&mcy; &scy;&tcy;&rcy;&ucy;&kcy;&tcy;&ucy;&rcy;.
        img(src='../../img/portfolio/danfoss/system.png' alt=' ')
  // ===================================================== section addition
  #addition.section-addition
    .container
      .row
        .col-5-12
          .addition-title.primary
            | &Kcy;&nbsp;&scy;&icy;&scy;&tcy;&iecy;&mcy;&iecy; &pcy;&rcy;&icy;&lcy;&acy;&gcy;&acy;&iecy;&tcy;&scy;&yacy; &bcy;&iecy;&scy;&pcy;&lcy;&acy;&tcy;&ncy;&acy;&yacy; &pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&acy;
          .addition-text.offtop
            | &Pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&acy; &ocy;&bcy;&rcy;&acy;&bcy;&acy;&tcy;&ycy;&vcy;&acy;&iecy;&tcy; &pcy;&ocy;&lcy;&ucy;&chcy;&iecy;&ncy;&ncy;&ycy;&iecy; &dcy;&acy;&ncy;&ncy;&ycy;&iecy; &icy;&nbsp;&fcy;&ocy;&rcy;&mcy;&icy;&rcy;&ucy;&iecy;&tcy; &ocy;&tcy;&chcy;&iocy;&tcy;&ycy; &ocy;&nbsp;&pcy;&ocy;&tcy;&rcy;&iecy;&bcy;&lcy;&iecy;&ncy;&icy;&icy; &rcy;&iecy;&scy;&ucy;&rcy;&scy;&ocy;&vcy;
            | &dcy;&lcy;&yacy;&nbsp;&ucy;&pcy;&rcy;&acy;&vcy;&lcy;&yacy;&yucy;&shchcy;&icy;&khcy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&jcy;.
        .col-1-2.col-offset-1-12
          .addition-list-block
            .addition-list-title
              | &Kcy;&nbsp;&scy;&icy;&scy;&tcy;&iecy;&mcy;&iecy; &scy;&bcy;&ocy;&rcy;&acy; &mcy;&ocy;&zhcy;&ncy;&ocy; &pcy;&ocy;&dcy;&kcy;&lcy;&yucy;&chcy;&icy;&tcy;&softcy; &scy;&chcy;&iocy;&tcy;&chcy;&icy;&kcy;&icy;
            ol.addition-list.row.row-2
              li.col-1-2.cre-animate(data-animation='slide-in-from-right' data-speed='1000' data-delay='200' data-offset='90%' data-easing='easeOutQuart')
                | &Vcy;&ocy;&dcy;&ycy;
              li.col-1-2.cre-animate(data-animation='slide-in-from-right' data-speed='1000' data-delay='400' data-offset='90%' data-easing='easeOutQuart')
                | &Tcy;&iecy;&pcy;&lcy;&acy;
              li.col-1-2.cre-animate(data-animation='slide-in-from-right' data-speed='1000' data-delay='600' data-offset='90%' data-easing='easeOutQuart')
                | &Gcy;&acy;&zcy;&acy;
              li.col-1-2.cre-animate(data-animation='slide-in-from-right' data-speed='1000' data-delay='800' data-offset='90%' data-easing='easeOutQuart')
                | &Ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&acy;
  // ===================================================== section advantages
  #advantages.section-advantages
    .container
      .advantages-block
        .advantage-title
          | &CHcy;&tcy;&ocy; &dcy;&iecy;&lcy;&acy;&iecy;&mcy; &mcy;&ycy;?
        .row
          .col-1-3.cre-animate(data-animation='slide-in-from-right' data-speed='1000' data-delay='200' data-offset='90%' data-easing='easeOutQuart')
            .advantage-item.pseudo-table.hover-buzz-out
              .advantage-image.pseudo-table-cell
                span.icon.icon-heading-4
              .advantage-text.pseudo-table-cell
                | &Pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&icy;&mcy; &mcy;&ocy;&ncy;&tcy;&acy;&zhcy;
                br
                |                             &icy; &ncy;&acy;&scy;&tcy;&rcy;&ocy;&jcy;&kcy;&ucy; &scy;&icy;&scy;&tcy;&iecy;&mcy;&ycy;
          .col-1-3.cre-animate(data-animation='slide-in-from-right' data-speed='1000' data-delay='400' data-offset='90%' data-easing='easeOutQuart')
            .advantage-item.pseudo-table.hover-buzz-out
              .advantage-image.pseudo-table-cell
                span.icon.icon-heading-5
              .advantage-text.pseudo-table-cell
                | &Dcy;&acy;&iecy;&mcy; &gcy;&acy;&rcy;&acy;&ncy;&tcy;&icy;&yucy;
          .col-1-3.cre-animate(data-animation='slide-in-from-right' data-speed='1000' data-delay='600' data-offset='90%' data-easing='easeOutQuart')
            .advantage-item.pseudo-table.hover-buzz-out
              .advantage-image.pseudo-table-cell
                span.icon.icon-heading-6
              .advantage-text.pseudo-table-cell
                | &Pcy;&rcy;&iecy;&dcy;&ocy;&scy;&tcy;&acy;&vcy;&lcy;&yacy;&iecy;&mcy;
                br
                |                             &scy;&iecy;&rcy;&vcy;&icy;&scy;&ncy;&ocy;&iecy; &ocy;&bcy;&scy;&lcy;&ucy;&zhcy;&icy;&vcy;&acy;&ncy;&icy;&iecy;
  // ===================================================== section about
  section#about.section-about
    .container.align-center
      .brand
        span.big
          | &Ocy; &bcy;&rcy;&iecy;&ncy;&dcy;&iecy; 
          span.accent Danfoss
        p
          strong &Kcy;&ucy;&pcy;&icy;&tcy;&softcy; &ocy;&bcy;&ocy;&rcy;&ucy;&dcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy; Danfoss &ocy;&pcy;&tcy;&ocy;&mcy;
      .about-block.row
        .col-1-3.cre-animate(data-animation='slide-up-from-bottom' data-speed='1000' data-delay='200' data-offset='90%' data-easing='easeOutQuart')
          .about-item.hover-buzz-out
            .about-image
              span.icon.icon-about-1
            .about-title.primary
              | &Ecy;&kcy;&ocy;&ncy;&ocy;&mcy;&icy;&yacy; &dcy;&ocy;&nbsp;20% &ecy;&ncy;&iecy;&rcy;&gcy;&icy;&icy; &icy;&nbsp;&tcy;&ocy;&pcy;&lcy;&icy;&vcy;&acy;
            .about-text.offtop
              | &Ecy;&kcy;&ocy;&ncy;&ocy;&mcy;&softcy;&tcy;&iecy; &ecy;&ncy;&iecy;&rcy;&gcy;&icy;&yucy;, &kcy;&ocy;&tcy;&ocy;&rcy;&acy;&yacy; &rcy;&acy;&scy;&khcy;&ocy;&dcy;&ucy;&iecy;&tcy;&scy;&yacy; &ncy;&acy;&nbsp;&ocy;&tcy;&ocy;&pcy;&lcy;&iecy;&ncy;&icy;&iecy; &zcy;&dcy;&acy;&ncy;&icy;&jcy; &pcy;&rcy;&icy;&nbsp;&pcy;&ocy;&mcy;&ocy;&shchcy;&icy; &acy;&vcy;&tcy;&ocy;&mcy;&acy;&tcy;&icy;&kcy;&icy;
              | Danfoss
        .col-1-3.cre-animate(data-animation='slide-up-from-bottom' data-speed='1000' data-delay='400' data-offset='90%' data-easing='easeOutQuart')
          .about-item.hover-buzz-out
            .about-image
              span.icon.icon-about-2
            .about-title.primary
              | &Lcy;&ucy;&chcy;&shcy;&iecy;&iecy; &scy;&ocy;&ocy;&tcy;&ncy;&ocy;&shcy;&iecy;&ncy;&icy;&iecy; &tscy;&iecy;&ncy;&ycy; &icy;&nbsp;&kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&acy; &ncy;&acy;&nbsp;&rcy;&ycy;&ncy;&kcy;&iecy;
            .about-text.offtop
              | &Dcy;&ocy;&scy;&tcy;&ucy;&pcy;&ncy;&acy;&yacy; &tscy;&iecy;&ncy;&acy; &icy;&nbsp;&dcy;&ocy;&lcy;&gcy;&icy;&jcy; &scy;&rcy;&ocy;&kcy; &scy;&lcy;&ucy;&zhcy;&bcy;&ycy; &bcy;&iecy;&zcy;&nbsp;&pcy;&rcy;&ocy;&bcy;&lcy;&iecy;&mcy; &icy;&nbsp;&pcy;&ocy;&lcy;&ocy;&mcy;&ocy;&kcy;. &Vcy;&ocy;&tcy; &pcy;&ocy;&chcy;&iecy;&mcy;&ucy;
              | &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy; &vcy;&scy;&iocy; &chcy;&acy;&shchcy;&iecy; &vcy;&ycy;&bcy;&icy;&rcy;&acy;&yucy;&tcy; &ocy;&bcy;&ocy;&rcy;&ucy;&dcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy; &ecy;&tcy;&ocy;&gcy;&ocy; &bcy;&rcy;&iecy;&ncy;&dcy;&acy;
        .col-1-3.cre-animate(data-animation='slide-up-from-bottom' data-speed='1000' data-delay='600' data-offset='90%' data-easing='easeOutQuart')
          .about-item.hover-buzz-out
            .about-image
              span.icon.icon-about-3
            .about-title.primary
              | &Ocy;&bcy;&ocy;&rcy;&ucy;&dcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy; &dcy;&lcy;&yacy;&nbsp;&pcy;&rcy;&acy;&kcy;&tcy;&icy;&chcy;&ncy;&ycy;&khcy; &lcy;&yucy;&dcy;&iecy;&jcy;
            .about-text.offtop
              | &Pcy;&rcy;&ocy;&scy;&tcy;&ocy;&jcy; &icy;&nbsp;&bcy;&ycy;&scy;&tcy;&rcy;&ycy;&jcy; &mcy;&ocy;&ncy;&tcy;&acy;&zhcy;, &vcy;&ycy;&scy;&ocy;&kcy;&acy;&yacy; &icy;&nbsp;&ncy;&acy;&lcy;&acy;&zhcy;&iecy;&ncy;&ncy;&acy;&yacy; &rcy;&acy;&bcy;&ocy;&tcy;&ocy;&scy;&pcy;&ocy;&scy;&ocy;&bcy;&ncy;&ocy;&scy;&tcy;&softcy;, &ncy;&acy;&dcy;&iecy;&zhcy;&ncy;&ocy;&scy;&tcy;&softcy;...
              | &Bcy;&rcy;&iecy;&ncy;&dcy; &zcy;&acy;&vcy;&ocy;&iecy;&vcy;&acy;&lcy; &dcy;&ocy;&vcy;&iecy;&rcy;&icy;&iecy; &tcy;&ycy;&scy;&yacy;&chcy; &pcy;&ocy;&kcy;&ucy;&pcy;&acy;&tcy;&iecy;&lcy;&iecy;&jcy;
      .btn-holder
        a.btn.open-catalogue-modal(href='#' data-extra='2')
          | &Zcy;&acy;&pcy;&rcy;&ocy;&scy;&icy;&tcy;&softcy; &pcy;&ocy;&lcy;&ncy;&ycy;&jcy; &kcy;&acy;&tcy;&acy;&lcy;&ocy;&gcy; &icy; &pcy;&rcy;&acy;&jcy;&scy;
  // ===================================================== section map
  .section-map
    #map.map-holder
  // ===================================================== Footer
  footer.layout-footer
    .container
      .row
        // Logo
        .col-1-4
          a.logo.si-jump(href='#')
            img(src='../../img/portfolio/danfoss/logo.png' alt=' ')
        // company info block
        .col-5-12.col-offset-1-12
          .company-info-block
            dl
              dt &Icy;&Ncy;&Ncy;/&Kcy;&Pcy;&Pcy;:
              dd 9718037839/771801001
            dl
              dt &Ocy;&Gcy;&Rcy;&Ncy;:
              dd 5167746390829
            dl
              dt &Rcy;&acy;&scy;&chcy;&iocy;&tcy;&ncy;&ycy;&jcy; &scy;&chcy;&iocy;&tcy;:
              dd 40702810300000140204
            dl
              dt &Acy;&dcy;&rcy;&iecy;&scy;:
              dd &Mcy;&ocy;&scy;&kcy;&vcy;&acy;, &ucy;&lcy;. &Kcy;&rcy;&acy;&scy;&ncy;&ocy;&bcy;&ocy;&gcy;&acy;&tcy;&ycy;&rcy;&scy;&kcy;&acy;&yacy;, &dcy;&ocy;&mcy; 2. &scy;&tcy;&rcy;.1
        .col-1-4.align-right
          // Phone block
          .si-phone
            .si-phone
              a.btn-small.show-mail(href='mailto:zakaz@akvahit.ru') zakaz@akvahit.ru
              a.phone-link.dark(href='tel:+78005008259') 8 800 500-82-59
              .btn-holder
                a.btn.btn-small.open-phone-modal(href='#' data-extra='2')
                  | &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &kcy;&ocy;&ncy;&scy;&ucy;&lcy;&softcy;&tcy;&acy;&tscy;&icy;&yucy;
          // copyright block
          .copyright
  // ===================================================== Modals
  // Overlay(s)
  .si-overlay
  .si-overlay-2
  // Wrappers
  .si-modals-wrapper-2
  .si-modals-wrapper
    // ============================================== success modal
    .si-success-modal.si-success-modal-1
      a.si-close(href='#')
      .modal-container.align-center
        .si-success-modal-title
          | &Scy;&pcy;&acy;&scy;&icy;&bcy;&ocy;!
        .success-time
          | &Ncy;&acy;&shcy; &mcy;&iecy;&ncy;&iecy;&dcy;&zhcy;&iecy;&rcy; &scy;&vcy;&yacy;&zhcy;&iecy;&tcy;&scy;&yacy; &scy; &vcy;&acy;&mcy;&icy;
          br
          |                     &vcy; &tcy;&iecy;&chcy;&iecy;&ncy;&icy;&iecy; 15 &mcy;&icy;&ncy;&ucy;&tcy;
        p
          | &Vcy;&rcy;&iecy;&mcy;&yacy; &rcy;&acy;&bcy;&ocy;&tcy;&ycy; &ocy;&tcy;&dcy;&iecy;&lcy;&acy; &pcy;&rcy;&ocy;&dcy;&acy;&zhcy;:
          | &pcy;&ncy;-&pcy;&tcy; &scy; 10.00 &dcy;&ocy; 19.00 (&pcy;&ocy; &Mcy;&ocy;&scy;&kcy;&vcy;&iecy;)
    // ============================================== phone modal
    .si-modal.phone-modal
      a.si-close(href='#')
      .modal-container
        .modal-form-title.align-center
          | &Zcy;&acy;&kcy;&acy;&zhcy;&icy;&tcy;&iecy; &kcy;&ocy;&ncy;&scy;&ucy;&lcy;&softcy;&tcy;&acy;&tscy;&icy;&yucy;
        .modal-time.align-center
          | &Ocy;&tcy;&vcy;&iecy;&tcy; &vcy; &tcy;&iecy;&chcy;&iecy;&ncy;&icy;&iecy; 15 &mcy;&icy;&ncy;&ucy;&tcy;
        form.send-form(action='send.php' method='post' autocomplete='off' data-onsubmit="yaCounter42143364.reachGoal('FormSendConsult'); ga('send', 'event', 'Form', 'Send', 'Consult');return true;")
          .row
            .col-1-2
              input.client-name(type='text' name='client_name' placeholder='Ваше имя')
            .col-1-2
              input.client-phone(type='tel' name='client_phone' placeholder='Ваш телефон')
          textarea.client-message(name='client_message' placeholder='Ваш вопрос')
          .btn-holder.row
            .col-1-2
              input.client-file(type='file' name='client_file')
            .col-1-2
              button.btn(type='submit') &Pcy;&ocy;&zcy;&vcy;&ocy;&ncy;&icy;&tcy;&iecy; &mcy;&ncy;&iecy;
          input.send-type(type='hidden' name='send_type' value='1')
          input.send-extra(type='hidden' name='send_extra' value='1')
    // ============================================== catalogue modal
    .si-modal.catalogue-modal
      a.si-close(href='#')
      .modal-container
        .modal-form-title.align-center
          | &Zcy;&acy;&pcy;&rcy;&ocy;&scy;&icy;&tcy;&softcy; &pcy;&ocy;&lcy;&ncy;&ycy;&jcy; &kcy;&acy;&tcy;&acy;&lcy;&ocy;&gcy;
        form.send-form(action='send.php' method='post' autocomplete='off' data-onsubmit="yaCounter42143364.reachGoal('FormSendCatalog'); ga('send', 'event', 'Form', 'Send', 'Catalog');return true;")
          input.client-name(type='text' name='client_name' placeholder='Ваше имя')
          input.client-phone(type='tel' name='client_phone' placeholder='Ваш телефон')
          input.client-mail(type='email' name='client_mail' placeholder='Ваш e-mail')
          input.send-type(type='hidden' name='send_type' value='3')
          input.send-extra(type='hidden' name='send_extra' value='1')
          .btn-holder
            button.btn(type='submit') &Ocy;&scy;&tcy;&acy;&vcy;&icy;&tcy;&softcy; &zcy;&acy;&pcy;&rcy;&ocy;&scy;
    // ============================================== text modal 1
    .si-modal.text-modal.text-modal-1
      a.si-close(href='#')
      .modal-container
        .modal-form-title.align-center
          | &Pcy;&ocy;&lcy;&icy;&tcy;&icy;&kcy;&acy; &kcy;&ocy;&ncy;&fcy;&icy;&dcy;&iecy;&ncy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&icy;
        .modal-text-block