




<div id="global-wrapper">

    <!--===================================================== Loader -->
    <div class="loader">
        <div class="pseudo-table">
            <div class="pseudo-table-cell align-center">

                <div class="a-loader arc-loader">
                    <div class="arc arc-1"></div>
                    <div class="arc arc-2"></div>
                </div>
                <div class="loader-text">загрузка...</div>

            </div>
        </div>
    </div>

    <!--===================================================== Header -->
    <header class="layout-header">
        <div class="container">
            <div class="row">

                <!-- Logo -->
                <div class="col-1-4">
                    <a href="#" class="logo si-jump">
                        <img src="./assets/portfolio/danfoss.component/images/logo.png" alt=" ">
                    </a>
                </div>

                <!-- global nav -->
                <div class="col-1-2">
                    <nav class="global-nav">
                        <ul class="nav">
                            <li>
                                <a href="#catalogue" class="si-jump primary dashed">Каталог</a>
                            </li>
                            <li>
                                <a href="#why" class="si-jump primary dashed">Преимущества</a>
                            </li>
                            <li>
                                <a href="#about" class="si-jump primary dashed">О бренде</a>
                            </li>
                            <li>
                                <a href="#form-3" class="si-jump primary dashed">Акция</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <!-- Phone block -->
                <div class="col-1-4 align-right">
                    <div class="si-phone">
                        <a href="mailto:zakaz@akvahit.ru" class="btn-small show-mail"
                          >zakaz@akvahit.ru</a>
                        <a href="tel:+78005008259" class="phone-link dark">8 800 500-82-59</a>

                        <div class="btn-holder">
                            <a href="#" class="btn btn-small open-phone-modal" data-extra="1"
                              >
                                Заказать консультацию
                            </a>
                           
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <!--===================================================== section heading -->
<section class="section-heading" id="heading">
    <div class="container">

        <div class="row">
            <div class="col-7-12">
                <p>
                    <span class="big primary">Оборудование <span class="hidden">Danfoss</span></span>
                        <span class="offtop">
                            ОПТОМ — БЫСТРО<br>
                            И БЕЗ ГОЛОВНОЙ БОЛИ
                        </span>
                </p>
            </div>

            <div class="col-1-4 col-offset-1-12">
                <div class="heading-catalogue-block align-center">
                    Наши цены&nbsp;— одни из&nbsp;самых низких на&nbsp;рынке!

                    <div class="btn-holder">
                        <a href="#" class="btn open-catalogue-modal" data-extra="3">
                            Каталог
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="heading-advantages-block row">

            <div class="col-1-3 cre-animate" data-animation="slide-in-from-right" data-speed="1000" data-delay="200" data-offset="90%" data-easing="easeOutQuart">
                <div class="heading-advantage-item pseudo-table hover-buzz-out">
                    <div class="heading-advantage-image pseudo-table-cell">
                        <span class="icon icon-heading-1"></span>
                    </div>

                    <div class="heading-advantage-text pseudo-table-cell">
                        Расчёт стоимости<br>
                        за 2 часа
                    </div>
                </div>
            </div>

            <div class="col-1-3 cre-animate" data-animation="slide-in-from-right" data-speed="1000" data-delay="400" data-offset="90%" data-easing="easeOutQuart">
                <div class="heading-advantage-item pseudo-table hover-buzz-out">
                    <div class="heading-advantage-image pseudo-table-cell">
                        <span class="icon icon-heading-2"></span>
                    </div>

                    <div class="heading-advantage-text pseudo-table-cell">
                        Отгрузка<br>
                        за 1 день
                    </div>
                </div>
            </div>

            <div class="col-1-3 cre-animate" data-animation="slide-in-from-right" data-speed="1000" data-delay="600" data-offset="90%" data-easing="easeOutQuart">
                <div class="heading-advantage-item pseudo-table hover-buzz-out">
                    <div class="heading-advantage-image pseudo-table-cell">
                        <span class="icon icon-heading-3"></span>
                    </div>

                    <div class="heading-advantage-text pseudo-table-cell">
                        0 рублей<br>
                        доставка по РФ
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!--===================================================== section form-1 -->
<section class="section-form form-1" id="form-1">
    <div class="container">

        
        <div class="title-h2">
            Пришлите список требуемых позиций —<br>
            узнайте цену и сроки поставки уже через 2 часа.
        </div>
        

        <p class="font24">
            Экономьте бюджет — наши цены одни из самых низких на рынке!
        </p>

        <form action="send.php" method="post" class="send-form" autocomplete="off" data-onsubmit="yaCounter42143364.reachGoal('FormSendSmeta'); ga('send', 'event', 'Form', 'Send', 'Smeta');return true;">
            <div class="row">
                <div class="col-1-3">
                    <input type="text" name="client_name" class="client-name" placeholder="Ваше имя">
                </div>

                <div class="col-1-3">
                    <input type="tel" name="client_phone" class="client-phone" placeholder="Ваш телефон">
                </div>

                <div class="col-1-3">
                    <input type="email" name="client_mail" class="client-mail" placeholder="Ваш e-mail">
                </div>
            </div>

            <div class="btn-holder row align-center">
                <div class="col-1-2">
                    <input type="file" name="client_file" class="client-file">
                </div>

                <div class="col-1-2">
                    <button type="submit" class="btn">Получить смету</button>
                </div>
            </div>

            <input type="hidden" name="send_type" class="send-type" value="2">
            <input type="hidden" name="send_extra" class="send-extra" value="1">
        </form>

    </div>
</section><!--===================================================== section catalogue -->
<section class="section-catalogue" id="catalogue">
    <div class="container align-center">

        <div class="ctl">
            <h1>Купить оборудование Danfoss оптом</h1>
        </div>

        <div class="catalogue-block row row-3">

            <!-- single block -->
            <div class="col-1-3">
                <div class="catalogue-item align-center">
                    <div class="catalogue-image">
                        <img src="./assets/portfolio/danfoss.component/images/1.png" alt=" ">
                    </div>
                    <div class="catalogue-name">
                        Радиаторные терморегуляторы и&nbsp;клапаны
                    </div>
<!--                    <div class="catalogue-price">-->
<!--                        от 699 &#8381;-->
<!--                    </div>-->
                </div>
            </div>

            <!-- single block -->
            <div class="col-1-3">
                <div class="catalogue-item align-center">
                    <div class="catalogue-image">
                        <img src="./assets/portfolio/danfoss.component/images/2.png" alt=" ">
                    </div>
                    <div class="catalogue-name">
                        Балансировочные клапаны
                    </div>
<!--                    <div class="catalogue-price">-->
<!--                        от 699 &#8381;-->
<!--                    </div>-->
                </div>
            </div>

            <!-- single block -->
            <div class="col-1-3">
                <div class="catalogue-item align-center">
                    <div class="catalogue-image">
                        <img src="./assets/portfolio/danfoss.component/images/3.png" alt=" ">
                    </div>
                    <div class="catalogue-name">
                        Регуляторы расхода, давления и&nbsp;температуры
                    </div>
<!--                    <div class="catalogue-price">-->
<!--                        от 699 &#8381;-->
<!--                    </div>-->
                </div>
            </div>

            <!-- single block -->
            <div class="col-1-3">
                <div class="catalogue-item align-center">
                    <div class="catalogue-image">
                        <img src="./assets/portfolio/danfoss.component/images/4.png" alt=" ">
                    </div>
                    <div class="catalogue-name">
                        Контроллеры и&nbsp;диспетчеризация
                    </div>
<!--                    <div class="catalogue-price">-->
<!--                        от 699 &#8381;-->
<!--                    </div>-->
                </div>
            </div>

            <!-- single block -->
            <div class="col-1-3">
                <div class="catalogue-item align-center">
                    <div class="catalogue-image">
                        <img src="./assets/portfolio/danfoss.component/images/5.png" alt=" ">
                    </div>
                    <div class="catalogue-name">
                        Клапаны с&nbsp;электроприводами
                    </div>
<!--                    <div class="catalogue-price">-->
<!--                        от 699 &#8381;-->
<!--                    </div>-->
                </div>
            </div>

            <!-- single block -->
            <div class="col-1-3">
                <div class="catalogue-item align-center">
                    <div class="catalogue-image">
                        <img src="./assets/portfolio/danfoss.component/images/6.png" alt=" ">
                    </div>
                    <div class="catalogue-name">
                        Теплообменники
                    </div>
<!--                    <div class="catalogue-price">-->
<!--                        от 699 &#8381;-->
<!--                    </div>-->
                </div>
            </div>

            <!-- single block -->
            <div class="col-1-3">
                <div class="catalogue-item align-center">
                    <div class="catalogue-image">
                        <img src="./assets/portfolio/danfoss.component/images/7.png" alt=" ">
                    </div>
                    <div class="catalogue-name">
                        Комнатные термостаты
                    </div>
<!--                    <div class="catalogue-price">-->
<!--                        от 699 &#8381;-->
<!--                    </div>-->
                </div>
            </div>

            <!-- single block -->
            <div class="col-1-3">
                <div class="catalogue-item align-center">
                    <div class="catalogue-image">
                        <img src="./assets/portfolio/danfoss.component/images/8.png" alt=" ">
                    </div>
                    <div class="catalogue-name">
                        Учет тепловой энергии
                    </div>
<!--                    <div class="catalogue-price">-->
<!--                        от 699 &#8381;-->
<!--                    </div>-->
                </div>
            </div>

            <!-- single block -->
            <div class="col-1-3">
                <div class="catalogue-item align-center">
                    <div class="catalogue-image">
                        <img src="./assets/portfolio/danfoss.component/images/9.png" alt=" ">
                    </div>
                    <div class="catalogue-name">
                        Трубопроводная арматура
                    </div>
<!--                    <div class="catalogue-price">-->
<!--                        от 699 &#8381;-->
<!--                    </div>-->
                </div>
            </div>

            <!-- single block -->
            <div class="col-1-3">
                <div class="catalogue-item align-center">
                    <div class="catalogue-image">
                        <img src="./assets/portfolio/danfoss.component/images/10.png" alt=" ">
                    </div>
                    <div class="catalogue-name">
                        Блочные тепловые пункты
                    </div>
<!--                    <div class="catalogue-price">-->
<!--                        от 699 &#8381;-->
<!--                    </div>-->
                </div>
            </div>

            <!-- single block -->
            <div class="col-1-3">
                <div class="catalogue-item align-center">
                    <div class="catalogue-image">
                        <img src="./assets/portfolio/danfoss.component/images/11.png" alt=" ">
                    </div>
                    <div class="catalogue-name">
                        Шкафы распределительные для&nbsp;горизонтальных систем отопления
                    </div>
<!--                    <div class="catalogue-price">-->
<!--                        от 699 &#8381;-->
<!--                    </div>-->
                </div>
            </div>

            <!-- single block -->
            <div class="col-1-3">
                <div class="catalogue-item align-center">
                    <div class="catalogue-image">
                        <img src="./assets/portfolio/danfoss.component/images/12.png" alt=" ">
                    </div>
                    <div class="catalogue-name">
                        Арматура для&nbsp;теплых полов
                    </div>
<!--                    <div class="catalogue-price">-->
<!--                        от 699 &#8381;-->
<!--                    </div>-->
                </div>
            </div>

        </div>

        <div class="btn-holder">
            <a href="#" class="btn open-catalogue-modal" data-extra="1">
                Запросить полный каталог
            </a>
        </div>

    </div>
</section><!--===================================================== section form-2 -->
<section class="section-form form-2" id="form-2">
    <div class="container">
        <div class="discount-block align-center cre-animate" data-animation="slide-down-from-top" data-speed="1000" data-delay="200" data-offset="90%" data-easing="easeOutQuart">
            скидка
            <span>3%</span>
        </div>

        <div class="title-h2">
            Уже сделали расчёт в другой компании?
        </div>

        <p class="font24">
            Прикрепите смету — получите то же оборудование со скидкой 3%!
        </p>

        <form action="send.php" method="post" class="send-form" autocomplete="off" data-onsubmit="yaCounter42143364.reachGoal('FormSendSkidka'); ga('send', 'event', 'Form', 'Send', 'Skidka');return true;">
            <div class="row">
                <div class="col-1-3">
                    <input type="text" name="client_name" class="client-name" placeholder="Ваше имя">
                </div>

                <div class="col-1-3">
                    <input type="tel" name="client_phone" class="client-phone" placeholder="Ваш телефон">
                </div>

                <div class="col-1-3">
                    <input type="email" name="client_mail" class="client-mail" placeholder="Ваш e-mail">
                </div>
            </div>

            <div class="btn-holder row align-center">
                <div class="col-1-2">
                    <input type="file" name="client_file" class="client-file">
                </div>

                <div class="col-1-2">
                    <button type="submit" class="btn">Получить скидку</button>
                </div>
            </div>

            <input type="hidden" name="send_type" class="send-type" value="2">
            <input type="hidden" name="send_extra" class="send-extra" value="2">
        </form>

    </div>
</section><!--===================================================== section why -->
<section class="section-why" id="why">
    <div class="container">

        <div class="why">
            <span class="big">Почему <span class="primary">«Аква<span class="accent">Хит</span>»</span> —</span>
            <span class="offtop">самый «удобный» поставщик?</span>
        </div>

        <ol class="why-block">

            <li class="cre-animate" data-animation="slide-in-from-left" data-speed="1000" data-delay="200"
                data-offset="90%" data-easing="easeOutQuart">
                <div class="why-item">
                    <div class="why-title primary">
                        «Гибкий» партнер, который сможет подстроиться<br>
                        под&nbsp;ваши задачи
                    </div>

                    <div class="why-text offtop">
                        Например, сделать срочную авиаперевозку, доставить товар прямо в&nbsp;аэропорт
                        или&nbsp;срочно отгрузить товар в&nbsp;ночную смену.
                    </div>
                </div>
            </li>

            <li class="cre-animate" data-animation="slide-in-from-left" data-speed="1000" data-delay="400"
                data-offset="90%" data-easing="easeOutQuart">
                <div class="why-item">
                    <div class="why-title primary">
                        Большинство позиций<br>
                        в&nbsp;наличии
                    </div>

                    <div class="why-text offtop">
                        У&nbsp;нас собраны все самые ходовые, востребованные, проверенные спросом товары. Вам
                        не&nbsp;придется ждать 2&nbsp;недели.
                    </div>
                </div>
            </li>

            <li class="cre-animate" data-animation="slide-in-from-left" data-speed="1000" data-delay="600"
                data-offset="90%" data-easing="easeOutQuart">
                <div class="why-item">
                    <div class="why-title primary">
                        Отгрузка за&nbsp;1&#8209;3&nbsp;дня
                    </div>

                    <div class="why-text offtop">
                        Как только вы&nbsp;вносите деньги, мы&nbsp;тут&nbsp;же отправляем заказ.
                    </div>
                </div>
            </li>

            <li class="cre-animate" data-animation="slide-in-from-left" data-speed="1000" data-delay="400"
                data-offset="90%" data-easing="easeOutQuart">
                <div class="why-item">
                    <div class="why-title primary">
                        Всё официально
                    </div>

                    <div class="why-text offtop">
                        Вы&nbsp;получаете оригинальное оборудование производства Дании со&nbsp;всеми сертификатами,
                        документами и&nbsp;гарантией качества на&nbsp;1&#8209;2&nbsp;года.
                    </div>
                </div>
            </li>

            <li class="cre-animate" data-animation="slide-in-from-left" data-speed="1000" data-delay="600"
                data-offset="90%" data-easing="easeOutQuart">
                <div class="why-item">
                    <div class="why-title primary">
                        Персональные бонусы
                    </div>

                    <div class="why-text offtop">
                        При заказе большой партии товаров вы&nbsp;можете рассчитывать на&nbsp;индивидуальные
                        предложения, скидки и&nbsp;подарки.
                    </div>
                </div>
            </li>

            <li class="cre-animate" data-animation="slide-in-from-left" data-speed="1000" data-delay="800"
                data-offset="90%" data-easing="easeOutQuart">
                <div class="why-item">
                    <div class="why-title primary">
                        Бесплатная доставка
                    </div>

                    <div class="why-text offtop">
                        По&nbsp;всей России до&nbsp;пункта самовывоза транспортной компании «Деловые линии»
                        в&nbsp;вашем городе.
                    </div>
                </div>
            </li>

        </ol>

    </div>
</section>
<!--===================================================== section form-3 -->
<section class="section-form form-3" id="form-3">
    <div class="iphone-block">

    </div>

    <div class="container">
        <div class="title-h2">
            Сделайте оптовый заказ оборудования Danfoss
        </div>

        <p class="font24">
            уже сейчас!
        </p>

        <div class="row">
            <div class="col-1-3 col-offset-2-12">
                <div class="iphone-text cre-animate" data-animation="slide-up-from-bottom" data-speed="1000"
                     data-delay="200" data-offset="90%" data-easing="easeOutQuart">

                    <div class="big"></div>
                </div>
            </div>

            <div class="col-1-3 col-offset-2-12">
                <form action="send.php" method="post" class="send-form" autocomplete="off" data-onsubmit="yaCounter42143364.reachGoal('FormSendiPhone');ga('send', 'event', 'Form', 'Send', 'iPhone');return true;">
                    <input type="text" name="client_name" class="client-name" placeholder="Ваше имя">
                    <input type="tel" name="client_phone" class="client-phone" placeholder="Ваш телефон">

                    <input type="hidden" name="send_type" class="send-type" value="2">
                    <input type="hidden" name="send_extra" class="send-extra" value="3">

                    <div class="btn-holder row">
                        <button type="submit" class="btn">Связаться с менеджером</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
<!--===================================================== section system -->
<section class="section-system" id="system">
    <div class="container align-center">

        <h2>Оборудование Danfoss цена у дилера в Москве</h2>
        
                <span class="big" style="font-size: 30px;">
                    Система <span class="primary">сбора<br>
                        показаний <span class="accent">INDIV X AMR</span></span>
                </span>
        

        <div class="system-block">
            <div class="system-title">
                Преимущества системы
            </div>

            <div class="system-text offtop">
                Система INDIV&nbsp;AMR очень гибкая, может быть приспособлена к&nbsp;различным типам зданий
                и&nbsp;размерам структур.
            </div>

            <img src="./assets/portfolio/danfoss.component/images/system.png" alt=" ">
        </div>

    </div>
</section><!--===================================================== section addition -->
<div class="section-addition" id="addition">
    <div class="container">

        <div class="row">
            <div class="col-5-12">
                <div class="addition-title primary">
                    К&nbsp;системе прилагается бесплатная программа
                </div>

                <div class="addition-text offtop">
                    Программа обрабатывает полученные данные и&nbsp;формирует отчёты о&nbsp;потреблении ресурсов
                    для&nbsp;управляющих компаний.
                </div>
            </div>

            <div class="col-1-2 col-offset-1-12">
                <div class="addition-list-block">
                    <div class="addition-list-title">
                        К&nbsp;системе сбора можно подключить счётчики
                    </div>

                    <ol class="addition-list row row-2">
                        <li class="col-1-2 cre-animate" data-animation="slide-in-from-right" data-speed="1000"
                            data-delay="200" data-offset="90%" data-easing="easeOutQuart">
                            Воды
                        </li>
                        <li class="col-1-2 cre-animate" data-animation="slide-in-from-right" data-speed="1000"
                            data-delay="400" data-offset="90%" data-easing="easeOutQuart">
                            Тепла
                        </li>
                        <li class="col-1-2 cre-animate" data-animation="slide-in-from-right" data-speed="1000"
                            data-delay="600" data-offset="90%" data-easing="easeOutQuart">
                            Газа
                        </li>
                        <li class="col-1-2 cre-animate" data-animation="slide-in-from-right" data-speed="1000"
                            data-delay="800" data-offset="90%" data-easing="easeOutQuart">
                            Электричества
                        </li>
                    </ol>
                </div>
            </div>
        </div>

    </div>
</div><!--===================================================== section advantages -->
<div class="section-advantages" id="advantages">
    <div class="container">

        <div class="advantages-block">
            <div class="advantage-title">
                Что делаем мы?
            </div>

            <div class="row">

                <div class="col-1-3 cre-animate" data-animation="slide-in-from-right" data-speed="1000"
                     data-delay="200" data-offset="90%" data-easing="easeOutQuart">
                    <div class="advantage-item pseudo-table hover-buzz-out">
                        <div class="advantage-image pseudo-table-cell">
                            <span class="icon icon-heading-4"></span>
                        </div>

                        <div class="advantage-text pseudo-table-cell">
                            Производим монтаж<br>
                            и настройку системы
                        </div>
                    </div>
                </div>

                <div class="col-1-3 cre-animate" data-animation="slide-in-from-right" data-speed="1000"
                     data-delay="400" data-offset="90%" data-easing="easeOutQuart">
                    <div class="advantage-item pseudo-table hover-buzz-out">
                        <div class="advantage-image pseudo-table-cell">
                            <span class="icon icon-heading-5"></span>
                        </div>

                        <div class="advantage-text pseudo-table-cell">
                            Даем гарантию
                        </div>
                    </div>
                </div>

                <div class="col-1-3 cre-animate" data-animation="slide-in-from-right" data-speed="1000"
                     data-delay="600" data-offset="90%" data-easing="easeOutQuart">
                    <div class="advantage-item pseudo-table hover-buzz-out">
                        <div class="advantage-image pseudo-table-cell">
                            <span class="icon icon-heading-6"></span>
                        </div>

                        <div class="advantage-text pseudo-table-cell">
                            Предоставляем<br>
                            сервисное обслуживание
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
    <!--===================================================== section about -->
    <section class="section-about" id="about">
        <div class="container align-center">

            <div class="brand">
                <span class="big">О бренде <span class="accent">Danfoss</span></span>
                <p><strong>Купить оборудование Danfoss оптом</strong></p>
            </div>

            <div class="about-block row">

                <div class="col-1-3 cre-animate" data-animation="slide-up-from-bottom" data-speed="1000"
                     data-delay="200" data-offset="90%" data-easing="easeOutQuart">
                    <div class="about-item hover-buzz-out">
                        <div class="about-image">
                            <span class="icon icon-about-1"></span>
                        </div>

                        <div class="about-title primary">
                            Экономия до&nbsp;20% энергии и&nbsp;топлива
                        </div>
                        <div class="about-text offtop">
                            Экономьте энергию, которая расходуется на&nbsp;отопление зданий при&nbsp;помощи автоматики
                            Danfoss
                        </div>
                    </div>
                </div>

                <div class="col-1-3 cre-animate" data-animation="slide-up-from-bottom" data-speed="1000"
                     data-delay="400" data-offset="90%" data-easing="easeOutQuart">
                    <div class="about-item hover-buzz-out">
                        <div class="about-image">
                            <span class="icon icon-about-2"></span>
                        </div>

                        <div class="about-title primary">
                            Лучшее соотношение цены и&nbsp;качества на&nbsp;рынке
                        </div>
                        <div class="about-text offtop">
                            Доступная цена и&nbsp;долгий срок службы без&nbsp;проблем и&nbsp;поломок. Вот почему
                            компании всё чаще выбирают оборудование этого бренда
                        </div>
                    </div>
                </div>

                <div class="col-1-3 cre-animate" data-animation="slide-up-from-bottom" data-speed="1000"
                     data-delay="600" data-offset="90%" data-easing="easeOutQuart">
                    <div class="about-item hover-buzz-out">
                        <div class="about-image">
                            <span class="icon icon-about-3"></span>
                        </div>

                        <div class="about-title primary">
                            Оборудование для&nbsp;практичных людей
                        </div>
                        <div class="about-text offtop">
                            Простой и&nbsp;быстрый монтаж, высокая и&nbsp;налаженная работоспособность, надежность...
                            Бренд завоевал доверие тысяч покупателей
                        </div>
                    </div>
                </div>

            </div>

            <div class="btn-holder">
                <a href="#" class="btn open-catalogue-modal" data-extra="2"
                  >
                    Запросить полный каталог и прайс
                </a>
            </div>

        </div>
    </section>

    <!--===================================================== section map -->
    <div class="section-map">
        <div class="map-holder" id="map"></div>
    </div>


    <!--===================================================== Footer -->
    <footer class="layout-footer">
        <div class="container">
            <div class="row">

                <!-- Logo -->
                <div class="col-1-4">
                    <a href="#" class="logo si-jump">
                        <img src="./assets/portfolio/danfoss.component/images/logo.png" alt=" ">
                    </a>
                </div>

                <!-- company info block -->
                <div class="col-5-12 col-offset-1-12">
                    <div class="company-info-block">
                        <dl>
                            <dt>ИНН/КПП:</dt>
                            <dd>9718037839/771801001</dd>
                        </dl>
                        <dl>
                            <dt>ОГРН:</dt>
                            <dd>5167746390829</dd>
                        </dl>
                        <dl>
                            <dt>Расчётный счёт:</dt>
                            <dd>40702810300000140204</dd>
                        </dl>
                        <dl>
                            <dt>Адрес:</dt>
                            <dd>Москва, ул. Краснобогатырская, дом 2. стр.1</dd>
                        </dl>
                    </div>
                </div>

                <div class="col-1-4 align-right">

                    <!-- Phone block -->
                    <div class="si-phone">
                        <div class="si-phone">
                            <a href="mailto:zakaz@akvahit.ru" class="btn-small show-mail"
                              >zakaz@akvahit.ru</a>
                            <a href="tel:+78005008259" class="phone-link dark">8 800 500-82-59</a>

                            <div class="btn-holder">
                                <a href="#" class="btn btn-small open-phone-modal" data-extra="2"
                               >
                                    Заказать консультацию
                                </a>
                            </div>
                        
                        </div>
                    </div>

                    <!-- copyright block -->
                    <div class="copyright">

                    </div>

                </div>

            </div>
        </div>
    </footer>


    <!--===================================================== Modals -->
    <!-- Overlay(s) -->
    <div class="si-overlay"></div>
    <div class="si-overlay-2"></div>

    <!-- Wrappers -->
    <div class="si-modals-wrapper-2"></div>

    <div class="si-modals-wrapper">

        <!--============================================== success modal -->
        <div class="si-success-modal si-success-modal-1">
            <a href="#" class="si-close"></a>

            <div class="modal-container align-center">

                <div class="si-success-modal-title">
                    Спасибо!
                </div>

                <div class="success-time">
                    Наш менеджер свяжется с вами<br>
                    в течение 15 минут
                </div>

                <p>
                   Время работы отдела продаж:
                    пн-пт с 10.00 до 19.00 (по Москве)
                </p>

            </div>
        </div>

        <!--============================================== phone modal -->
        <div class="si-modal phone-modal">
            <a href="#" class="si-close"></a>

            <div class="modal-container">

                <div class="modal-form-title align-center">
                    Закажите консультацию
                </div>

                <div class="modal-time align-center">
                    Ответ в течение 15 минут
                </div>

                <form action="send.php" method="post" class="send-form" autocomplete="off"
                      data-onsubmit="yaCounter42143364.reachGoal('FormSendConsult'); ga('send', 'event', 'Form', 'Send', 'Consult');return true;">
                    <div class="row">
                        <div class="col-1-2">
                            <input type="text" name="client_name" class="client-name" placeholder="Ваше имя">
                        </div>
                        <div class="col-1-2">
                            <input type="tel" name="client_phone" class="client-phone" placeholder="Ваш телефон">
                        </div>
                    </div>

                    <textarea name="client_message" class="client-message" placeholder="Ваш вопрос"></textarea>

                    <div class="btn-holder row">
                        <div class="col-1-2">
                            <input type="file" name="client_file" class="client-file">
                        </div>

                        <div class="col-1-2">
                            <button type="submit" class="btn">Позвоните мне</button>
                        </div>
                    </div>

                    <input type="hidden" name="send_type" class="send-type" value="1">
                    <input type="hidden" name="send_extra" class="send-extra" value="1">
                </form>

            </div>
        </div>

        <!--============================================== catalogue modal -->
        <div class="si-modal catalogue-modal">
            <a href="#" class="si-close"></a>

            <div class="modal-container">

                <div class="modal-form-title align-center">
                    Запросить полный каталог
                </div>

                <form action="send.php" method="post" class="send-form" autocomplete="off"
                      data-onsubmit="yaCounter42143364.reachGoal('FormSendCatalog'); ga('send', 'event', 'Form', 'Send', 'Catalog');return true;">
                    <input type="text" name="client_name" class="client-name" placeholder="Ваше имя">
                    <input type="tel" name="client_phone" class="client-phone" placeholder="Ваш телефон">
                    <input type="email" name="client_mail" class="client-mail" placeholder="Ваш e-mail">

                    <input type="hidden" name="send_type" class="send-type" value="3">
                    <input type="hidden" name="send_extra" class="send-extra" value="1">

                    <div class="btn-holder">
                        <button type="submit" class="btn">Оставить запрос</button>
                    </div>
                </form>

            </div>
        </div>

        <!--============================================== text modal 1 -->
        <div class="si-modal text-modal text-modal-1">
            <a href="#" class="si-close"></a>

            <div class="modal-container">

                <div class="modal-form-title align-center">
                    Политика конфиденциальности
                </div>

                <div class="modal-text-block">
                 
                </div>

            </div>
        </div>

    </div>

</div>

