@import '../fonts/fonts.less';
@import '../sprite/sprite.less';

@color_white:#ffffff;
@color_scrollbar-track: @color_bg;
@color_scrollbar-thumb: @color_yellow-1;

@color_yellow-1: #f6d667;
@color_yellow-2: #bda042;
@color_yellow-3: #917c2e;
@color_violet: #D03AFF;
@color_blue: #3AFFF9;

@color_bg: #363636;

@color_theme-1: @color_yellow-1;
@color_theme-2: @color_yellow-2;
@color_theme-3: @color_yellow-3;

// @color_theme-2: @color_violet;
// @color_theme-3: @color_blue;