header
  .hd
    .container
      .content
        .col-md-1
          img(src='http://www.evakuatori24.ru/images/icon-24-7.png' alt='icon-24-7')
          span &Kcy;&rcy;&ucy;&gcy;&lcy;&ocy;&scy;&ucy;&tcy;&ocy;&chcy;&ncy;&ocy;
        .col-md-2.col-hd-2(itemscope='' itemtype='http://schema.org/Organization')
          meta(itemprop='address' content='125009,Россия, Москва, Столешников переулок, 6с1')
          meta(itemprop='telephone' content='+7 (495) 773-04-05 ')
          a(itemprop='url' href='http://www.evakuatori24.ru/')
            img(src='http://www.evakuatori24.ru/images/logo.png' alt='эвакуаторы24 услуги в москве')
          img(src='http://www.evakuatori24.ru/images/logo-from-google-ev.png' alt='лого Эвакуаторы24' itemprop='logo' style='display: none')
          meta(itemprop='name' content='Эвакуаторы24')
        .col-md-3
          img.img-circleblock(src='http://www.evakuatori24.ru/images/icon-phone.png' alt='icon-phone')
          span
            a(href='tel:+79857730405')  +7 (495) 773-04-05 
// start slider 1
.banner
  .content
    .slidershow-container
      .slidershow-container-mySlides
        a.prev(onclick='plusSlides(-1)') &#x276E;
        a.next(onclick='plusSlides(1)') &#x276F;
        .mySlides.fade
          .banner-content-text
            .banner-title-h1 &Zcy;&acy;&kcy;&acy;&zhcy;&icy;&tcy;&iecy; &zcy;&acy;&rcy;&acy;&ncy;&iecy;&iecy; &icy;&nbsp;&pcy;&ocy;&lcy;&ucy;&chcy;&icy;&tcy;&iecy; &scy;&kcy;&icy;&dcy;&kcy;&ucy;
            .banner-title-p
              | &Ecy;&vcy;&acy;&kcy;&ucy;&acy;&tcy;&ocy;&rcy; &ncy;&ucy;&zhcy;&iecy;&ncy; &ncy;&iecy;&nbsp;&scy;&rcy;&ocy;&chcy;&ncy;&ocy;, &acy;&nbsp;&kcy;&nbsp;&ocy;&pcy;&rcy;&iecy;&dcy;&iecy;&lcy;&iecy;&ncy;&ncy;&ocy;&mcy;&ucy; &vcy;&rcy;&iecy;&mcy;&iecy;&ncy;&icy;? &Ocy;&tcy;&lcy;&icy;&chcy;&ncy;&ocy;! &Zcy;&acy;&kcy;&acy;&zhcy;&icy;&tcy;&iecy; &ecy;&vcy;&acy;&kcy;&ucy;&acy;&tcy;&ocy;&rcy; &zcy;&acy;&rcy;&acy;&ncy;&iecy;&iecy; &icy;&nbsp;&Vcy;&ycy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&tcy;&iecy; &scy;&kcy;&icy;&dcy;&kcy;&ucy;&nbsp;15%
          .banner-picture
            img(src='http://www.evakuatori24.ru/images/slider1.png' alt='скидки на службу эвакуации')
        .mySlides.fade
          .banner-content-text
            .banner-title-h1 &Ncy;&ocy;&chcy;&ncy;&ycy;&iecy; &scy;&kcy;&icy;&dcy;&kcy;&icy; &dcy;&ocy;&nbsp;10%
            .banner-title-p &Vcy;&nbsp;&vcy;&iecy;&chcy;&iecy;&rcy;&ncy;&iecy;&iecy; &icy;&nbsp;&ncy;&ocy;&chcy;&ncy;&ocy;&iecy; &vcy;&rcy;&iecy;&mcy;&yacy; &mcy;&ycy;&nbsp;&dcy;&acy;&iecy;&mcy; &scy;&kcy;&icy;&dcy;&kcy;&ucy; &vcy;&nbsp;10% &ncy;&acy;&nbsp;&ecy;&vcy;&acy;&kcy;&ucy;&acy;&tscy;&icy;&yucy;!
          .banner-picture
            img(src='http://www.evakuatori24.ru/images/slider2.png' alt='скидки на службу эвакуации')
        .mySlides.fade
          .banner-content-text
            .banner-title-h1 &Mcy;&ycy;&nbsp;&tscy;&iecy;&ncy;&icy;&mcy; &ncy;&acy;&shcy;&icy;&khcy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&ocy;&vcy;
            .banner-title-p
              | &Vcy;&ycy;&nbsp;&ucy;&nbsp;&ncy;&acy;&scy; &ncy;&iecy;&nbsp;&pcy;&iecy;&rcy;&vcy;&ycy;&jcy; &rcy;&acy;&zcy;? &Scy;&pcy;&iecy;&shcy;&icy;&mcy; &vcy;&acy;&scy; &ocy;&bcy;&rcy;&acy;&dcy;&ocy;&vcy;&acy;&tcy;&softcy;! &Pcy;&ocy;&tcy;&ocy;&mcy;&ucy; &chcy;&tcy;&ocy; &dcy;&lcy;&yacy; &pcy;&ocy;&scy;&tcy;&ocy;&yacy;&ncy;&ncy;&ycy;&khcy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&ocy;&vcy; &mcy;&ycy;&nbsp;&pcy;&rcy;&iecy;&dcy;&ocy;&scy;&tcy;&acy;&vcy;&lcy;&yacy;&iecy;&mcy; &pcy;&rcy;&icy;&yacy;&tcy;&ncy;&ycy;&jcy; &tscy;&iecy;&ncy;&ncy;&icy;&kcy;!
          .banner-picture
            img(src='http://www.evakuatori24.ru/images/slider3.png' alt='скидки на службу эвакуации')
      .pagination
        span.dot(onclick='currentSlide(1)')
        span.dot(onclick='currentSlide(2)')
        span.dot(onclick='currentSlide(3)')
// end slider 1
.container
  h1 &Ecy;&vcy;&acy;&kcy;&ucy;&acy;&tcy;&ocy;&rcy; &vcy; &Mcy;&ocy;&scy;&kcy;&vcy;&iecy; &dcy;&iecy;&shcy;&iecy;&vcy;&ocy;
  .weight(itemscope='' itemtype='http://schema.org/Product')
    .content
      p.weight-title-p &Ncy;&acy; &kcy;&acy;&kcy;&ocy;&jcy; &vcy;&iecy;&scy; &rcy;&acy;&scy;&pcy;&rcy;&ocy;&scy;&tcy;&rcy;&acy;&ncy;&yacy;&yucy;&tcy;&scy;&yacy; &ucy;&scy;&lcy;&ucy;&gcy;&icy;
      p.weight-title-p-ps *&ncy;&acy;&zhcy;&mcy;&icy;&tcy;&iecy; &ncy;&acy; &icy;&kcy;&ocy;&ncy;&kcy;&ucy;, &chcy;&tcy;&ocy;&bcy;&ycy; &zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &ucy;&scy;&lcy;&ucy;&gcy;&ucy;
      .weight-content-icon
        a.popup(href='#openModal')
          .weight-content-icon-md
            img(itemprop='image' src='http://www.evakuatori24.ru/images/icon-moto.png' alt='icon-moto' title='Эвакуация Мототехники')
            p.weight-content-icon-md-title-p
              span(itemprop='name') &Mcy;&ocy;&tcy;&ocy;&tcy;&iecy;&khcy;&ncy;&icy;&kcy;&acy;
              span.weight-content-icon-md-title-p-span-1(itemprop='description') 0,5-0,7 &tcy;&ocy;&ncy;&ncy;
              br
              span.weight-content-icon-md-title-p-span-2
                | &ocy;&tcy;
                span(itemprop='offers' itemscope='' itemtype='http://schema.org/Offer')
                  span.weight-content-icon-md-title-p-span-2-blue(itemprop='price') 1200
                  span(itemprop='priceCurrency') RUB
        a.popup(href='#openModal')
          .weight-content-icon-md
            img.icon-md-img(src='http://www.evakuatori24.ru/images/icon-avto.png' alt='icon-avto' title='Эвакуация Автомобилей')
            p.weight-content-icon-md-title-p.double-text
              span &Lcy;&iecy;&gcy;&kcy;&ocy;&vcy;&ycy;&iecy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&icy;
              span.weight-content-icon-md-title-p-span-1 1,2-1,7 &tcy;&ocy;&ncy;&ncy;
              br
              span.weight-content-icon-md-title-p-span-2
                | &ocy;&tcy;
                span
                  span.weight-content-icon-md-title-p-span-2-blue 1500
                  span RUB
        a.popup(href='#openModal')
          .weight-content-icon-md
            img(src='http://www.evakuatori24.ru/images/icon-avto-2.png' alt='icon-avto-2' title='Эвакуация Внедорожников')
            p.weight-content-icon-md-title-p
              span &Vcy;&ncy;&iecy;&dcy;&ocy;&rcy;&ocy;&zhcy;&ncy;&icy;&kcy;&icy;
              span.weight-content-icon-md-title-p-span-1 1,7-2,5 &tcy;&ocy;&ncy;&ncy;
              br
              span.weight-content-icon-md-title-p-span-2
                | &ocy;&tcy;
                span
                  span.weight-content-icon-md-title-p-span-2-blue 2000
                  span RUB
        a.popup(href='#openModal')
          .weight-content-icon-md
            img.icon-md-img(src='http://www.evakuatori24.ru/images/icon-avto-3.png' alt='icon-avto-3' title='Эвакуация Коммерчиского транспорта')
            p.weight-content-icon-md-title-p.double-text
              span &Kcy;&ocy;&mcy;&mcy;&iecy;&rcy;&chcy;&iecy;c&kcy;&icy;&jcy; &tcy;&rcy;&acy;&ncy;&scy;&pcy;&ocy;&rcy;&tcy;
              span.weight-content-icon-md-title-p-span-1 2-5 &tcy;&ocy;&ncy;&ncy;
              br
              span.weight-content-icon-md-title-p-span-2
                | &ocy;&tcy;
                span
                  span.weight-content-icon-md-title-p-span-2-blue 2500
                  span RUB
    // Обратныйзвонок всплывающее окно
    #openModal.modalDialog
      .modalDialog-content
        h3 &Zcy;&acy;&kcy;&acy;&zhcy;&icy;&tcy;&iecy; &ocy;&bcy;&rcy;&acy;&tcy;&ncy;&ycy;&jcy; &zcy;&vcy;&ocy;&ncy;&ocy;&kcy;
        a.close(href='#close' title='Закрыть') X
        form#zakaz_tel.form(method='post' action='contact.php')
          input#fio.form-control-inp(name='fio' type='text' required='' placeholder='Введите свое имя')
          input#tel.form-control-inp(name='tel' value='' type='text' required='' placeholder='Введите номер телефона')
          input#send.send(type='submit' value='Заказать звонок' name='send')
.advantages
  .advantages-content.content
    p.advantages-title-h1 &Ncy;&acy;&shcy;&icy; &pcy;&rcy;&iecy;&icy;&mcy;&ucy;&shchcy;&iecy;&scy;&tcy;&vcy;&acy;
    .advantages-content-icon-md
      img(src='http://www.evakuatori24.ru/images/advantage-1.png' alt='advantage-1')
      p.advantages-content-icon-md-title-p.advantages-text &Rcy;&acy;&bcy;&ocy;&tcy;&acy;&iecy;&mcy; 24&nbsp;&chcy;&acy;&scy;&acy; &vcy;&nbsp;&scy;&ucy;&tcy;&kcy;&icy;
      p.advantages-content-icon-md-title-p-content
        | &Mcy;&ycy;&nbsp;&rcy;&acy;&bcy;&ocy;&tcy;&acy;&iecy;&mcy; &vcy;&nbsp;&kcy;&rcy;&ucy;&gcy;&lcy;&ocy;&scy;&ucy;&tcy;&ocy;&chcy;&ncy;&ocy;&mcy; &rcy;&iecy;&zhcy;&icy;&mcy;&iecy; &vcy;&nbsp;&Mcy;&ocy;&scy;&kcy;&vcy;&iecy; &icy;&nbsp;&Pcy;&ocy;&dcy;&mcy;&ocy;&scy;&kcy;&ocy;&vcy;&softcy;&iecy;, &acy;&nbsp;&tcy;&acy;&kcy;&zhcy;&iecy; &scy;&ocy;&vcy;&iecy;&rcy;&shcy;&acy;&iecy;&mcy; &mcy;&iecy;&zhcy;&dcy;&ucy;&gcy;&ocy;&rcy;&ocy;&dcy;&ncy;&icy;&iecy; &pcy;&iecy;&rcy;&iecy;&vcy;&ocy;&zcy;&kcy;&icy; &pcy;&ocy;&nbsp;&Rcy;&Fcy;
    .advantages-content-icon-md
      img(src='http://www.evakuatori24.ru/images/advantage-2.png' alt='advantage-2')
      p.advantages-content-icon-md-title-p &Pcy;&ocy;&gcy;&rcy;&ucy;&zcy;&kcy;&acy; &lcy;&yucy;&bcy;&ocy;&jcy; &scy;&lcy;&ocy;&zhcy;&ncy;&ocy;&scy;&tcy;&icy;
      p.advantages-content-icon-md-title-p-content
        | &Ocy;&kcy;&acy;&zcy;&ycy;&vcy;&acy;&iecy;&mcy; &pcy;&rcy;&ocy;&fcy;&iecy;&scy;&scy;&icy;&ocy;&ncy;&acy;&lcy;&softcy;&ncy;&ucy;&yucy; &pcy;&ocy;&gcy;&rcy;&ucy;&zcy;&kcy;&ucy; &icy;&nbsp;&pcy;&iecy;&rcy;&iecy;&vcy;&ocy;&zcy;&kcy;&ucy; &vcy;&acy;&shcy;&iecy;&gcy;&ocy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy; &ocy;&tcy; &YUcy;&gcy;&acy;&nbsp;&dcy;&ocy;&nbsp;&Ucy;&rcy;&acy;&lcy;&softcy;&scy;&kcy;&icy;&khcy; &gcy;&ocy;&rcy;
    .advantages-content-icon-md
      img(src='http://www.evakuatori24.ru/images/advantage-3.png' alt='advantage-3')
      p.advantages-content-icon-md-title-p &Ncy;&acy;&shcy; &scy;&ocy;&bcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ycy;&jcy; &acy;&vcy;&tcy;&ocy;&pcy;&acy;&rcy;&kcy;
      p.advantages-content-icon-md-title-p-content
        | &Vcy;&nbsp;&ncy;&acy;&shcy;&iecy;&mcy; &acy;&vcy;&tcy;&ocy;&pcy;&acy;&rcy;&kcy;&iecy; &icy;&mcy;&iecy;&yucy;&tcy;&scy;&yacy; &ncy;&ocy;&vcy;&ycy;&iecy; &mcy;&acy;&shcy;&icy;&ncy;&ycy; ISUZU &icy;&nbsp;HYUNDAI HD780&nbsp;&scy;&ocy; &scy;&dcy;&vcy;&icy;&zhcy;&ncy;&ocy;&jcy; &gcy;&icy;&dcy;&rcy;&acy;&vcy;&lcy;&icy;&chcy;&iecy;&scy;&kcy;&ocy;&jcy; &pcy;&lcy;&acy;&tcy;&fcy;&ocy;&rcy;&mcy;&ocy;&jcy; &icy;&nbsp;&pcy;&ocy;&lcy;&ncy;&ocy;&jcy; &pcy;&ocy;&gcy;&rcy;&ucy;&zcy;&kcy;&ocy;&jcy;.
    .advantages-content-icon-md
      img(src='http://www.evakuatori24.ru/images/advantage-4.png' alt='advantage-4')
      p.advantages-content-icon-md-title-p &Gcy;&acy;&rcy;&acy;&ncy;&tcy;&icy;&yacy; &ncy;&icy;&zcy;&kcy;&icy;&khcy; &tscy;&iecy;&ncy;
      p.advantages-content-icon-md-title-p-content
        | &Ucy;&nbsp;&ncy;&acy;&scy; &scy;&acy;&mcy;&ycy;&iecy; &ncy;&icy;&zcy;&kcy;&icy;&iecy; &tscy;&iecy;&ncy;&ycy;! &Dcy;&lcy;&yacy; &pcy;&ocy;&scy;&tcy;&ocy;&yacy;&ncy;&ncy;&ycy;&khcy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&ocy;&vcy; &pcy;&rcy;&icy;&yacy;&tcy;&ncy;&ycy;&iecy; &scy;&kcy;&icy;&dcy;&kcy;&icy;, &tcy;&acy;&kcy;&zhcy;&iecy; &scy;&kcy;&icy;&dcy;&kcy;&icy; &vcy;&nbsp;&vcy;&iecy;&chcy;&iecy;&rcy;&ncy;&icy;&iecy; &icy;&nbsp;&ncy;&ocy;&chcy;&ncy;&ycy;&iecy; &chcy;&acy;&scy;&ycy; &rcy;&acy;&bcy;&ocy;&tcy;&ycy; &Vcy;&acy;&scy; &ocy;&bcy;&yacy;&zcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy; &ocy;&bcy;&rcy;&acy;&dcy;&ucy;&yucy;&tcy;!
    .advantages-content-icon-md
      img(src='http://www.evakuatori24.ru/images/advantage-5.png' alt='advantage-5')
      p.advantages-content-icon-md-title-p &Rcy;&acy;&bcy;&ocy;&tcy;&acy;&iecy;&mcy; &pcy;&ocy;&nbsp;&Mcy;&ocy;&scy;&kcy;&vcy;&iecy;, &Ocy;&bcy;&lcy;&acy;&scy;&tcy;&icy; &icy;&nbsp;&Rcy;&Fcy;
      p.advantages-content-icon-md-title-p-content &Mcy;&ycy;&nbsp;&rcy;&acy;&bcy;&ocy;&tcy;&acy;&iecy;&mcy; &kcy;&acy;&kcy; &pcy;&ocy;&nbsp;&Mcy;&ocy;&scy;&kcy;&vcy;&iecy; &icy;&nbsp;&ocy;&bcy;&lcy;&acy;&scy;&tcy;&icy;, &tcy;&acy;&kcy; &icy;&nbsp;&pcy;&ocy;&nbsp;&vcy;&scy;&iecy;&jcy; &Rcy;&ocy;&scy;&scy;&icy;&icy; &dcy;&ocy;&nbsp;&ucy;&rcy;&acy;&lcy;&softcy;&scy;&kcy;&icy;&khcy; &gcy;&ocy;&rcy;!
    .advantages-content-icon-md
      img(src='http://www.evakuatori24.ru/images/advantage-6.png' alt='advantage-6')
      p.advantages-content-icon-md-title-p &Bcy;&ycy;&scy;&tcy;&rcy;&acy;&yacy; &pcy;&ocy;&dcy;&acy;&chcy;&acy; &ecy;&vcy;&acy;&kcy;&ucy;&acy;&tcy;&ocy;&rcy;&acy;.
      p.advantages-content-icon-md-title-p-content &Pcy;&ocy;&dcy;&acy;&chcy;&acy; &ecy;&vcy;&acy;&kcy;&ucy;&acy;&tcy;&ocy;&rcy;&acy; &vcy; &lcy;&yucy;&bcy;&ocy;&iecy; &vcy;&rcy;&iecy;&mcy;&yacy; &scy;&ucy;&tcy;&ocy;&kcy;! &Vcy;&ycy; &pcy;&ocy;&zcy;&vcy;&ocy;&ncy;&icy;&lcy;&icy; &mcy;&ycy; &ucy;&zhcy;&iecy; &vcy; &pcy;&ucy;&tcy;&icy;!
.container
  .history
    .content
      p.history-title-h1 &Ncy;&acy;&shcy;&acy; &icy;&scy;&tcy;&ocy;&rcy;&icy;&yacy; &scy; 2000 &gcy;&ocy;&dcy;&acy;
      p.history-text-content-title-p
        | &Bcy;&ocy;&lcy;&iecy;&iecy; 17&nbsp;&lcy;&iecy;&tcy; &mcy;&ycy;&nbsp;&ocy;&kcy;&acy;&zcy;&ycy;&vcy;&acy;&iecy;&mcy; 
        strong &ucy;&scy;&lcy;&ucy;&gcy;&icy; &ecy;&vcy;&acy;&kcy;&ucy;&acy;&tcy;&ocy;&rcy;&acy; &mcy;&acy;&shcy;&icy;&ncy;
        |  &ncy;&acy;&nbsp;&dcy;&ocy;&rcy;&ocy;&gcy;&iecy;!
      .history-content
        .history-content-block
          .history-years-steps
            .history-icon
              img.history-icon-img(src='http://www.evakuatori24.ru/images/timeline-20171.png' alt='Основание компании')
            .history-about &Ocy;&scy;&ncy;&ocy;&vcy;&acy;&ncy;&icy;&iecy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy;
            .history-line
              .history-circle
            .history-years 2000
          .history-years-steps
            .history-icon
              img.history-icon-img-2.history-icon-img-3(src='http://www.evakuatori24.ru/images/h&I.png' alt='Основные марки эвакуаторов Hyundai и Isuzu')
            .history-about.history-about-two.history-about-center.about-three
              | &Ocy;&scy;&ncy;&ocy;&vcy;&ncy;&ycy;&iecy; &mcy;&acy;&rcy;&kcy;&icy; &ecy;&vcy;&acy;&kcy;&ucy;&acy;&tcy;&ocy;&rcy;&ocy;&vcy; Hyundai &icy;&nbsp;Isuzu
            .history-line
              .history-circle
            .history-years 2002
          .history-years-steps.history-years-left
            .history-icon
              img.history-icon-img-2(src='http://www.evakuatori24.ru/images/map_russia.png' alt='Работаем по всей России')
            .history-about.history-about-two.history-about-center
              | &Rcy;&acy;&bcy;&ocy;&tcy;&acy;&iecy;&mcy; &pcy;&ocy;&nbsp;&vcy;&scy;&iecy;&jcy; &Rcy;&ocy;&scy;&scy;&icy;&icy;
            .history-line
              .history-circle.history-circle-left
            .history-years.history-years-left 2005
        .history-content-block
          .history-years-steps
            .history-about.history-about-two.history-about-center
              span.history-about-span 31025
              |  &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&ocy;&vcy; &zcy;&acy;&nbsp;&vcy;&scy;&iecy; &vcy;&rcy;&iecy;&mcy;&yacy;
            .history-line
              .history-circle.history-circle-left
            .history-years.history-years-left 2010
          .history-years-steps
            .history-icon.history-icon-2
              img.history-icon-img-2(src='http://www.evakuatori24.ru/images/ilzaoglumdjscnuhnwua.png' alt='мы в интернете')
            .history-about.history-about-two.history-about-center
              | &Mcy;&ycy; &pcy;&ocy;&yacy;&vcy;&icy;&lcy;&icy;&scy;&softcy; &vcy; &icy;&ncy;&tcy;&iecy;&rcy;&ncy;&iecy;&tcy;&iecy;
            .history-line
              .history-circle.history-circle-left
            .history-years.history-years-left 2017
          .history-years-steps
            .history-about.history-about-two.history-about-center
              span.history-about-span + 2825
              |  &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&ocy;&vcy; &zcy;&acy; &pcy;&rcy;&ocy;&shcy;&lcy;&ycy;&jcy; &gcy;&ocy;&dcy;
            .history-line
              .history-circle.history-circle-left
            .history-years.history-years-left 2018
.phototeka
  .phototeka-content.content
    p.phototeka-title-h1 &Ncy;&acy;&shcy;&icy; &ecy;&vcy;&acy;&kcy;&ucy;&acy;&tcy;&ocy;&rcy;&ycy;
    // start slider 2
    .slider
      .slide-list
        .slide-wrap
          .slide-item
            img(src='http://www.evakuatori24.ru/images/phototeka-1.jpg' alt='эвакуация авто спб')
          .slide-item
            img(src='http://www.evakuatori24.ru/images/phototeka-2.jpg' alt='эвакуатор круглосуточно')
          .slide-item
            img(src='http://www.evakuatori24.ru/images/phototeka-3.jpg' alt='эвакуатор машин')
          .slide-item
            img(src='http://www.evakuatori24.ru/images/phototeka-4.jpg' alt='перевезти автомобиль')
          .slide-item
            img(src='http://www.evakuatori24.ru/images/phototeka-5.jpg' alt='помощь на дороге')
        .clear
      .navy.prev-slide
      .navy.next-slide
      .auto.play
    // end slider 2
.content
  h2 &Ucy;&scy;&lcy;&ucy;&gcy;&icy; &ecy;&vcy;&acy;&kcy;&ucy;&acy;&tcy;&ocy;&rcy;&acy; &pcy;&ocy; &Mcy;&ocy;&scy;&kcy;&vcy;&iecy;, &Mcy;&ocy;&scy;&kcy;&ocy;&vcy;&scy;&kcy;&ocy;&jcy; &ocy;&bcy;&lcy;&acy;&scy;&tcy;&icy; &icy; &Rcy;&ocy;&scy;&scy;&icy;&icy;
  p.content-text-title-p
    | &ZHcy;&icy;&vcy;&iecy;&tcy;&iecy; &vcy;&nbsp;&scy;&tcy;&ocy;&lcy;&icy;&tscy;&iecy;, &ocy;&bcy;&lcy;&acy;&scy;&tcy;&icy;, &dcy;&acy;&lcy;&softcy;&ncy;&iecy;&mcy; &gcy;&ocy;&rcy;&ocy;&dcy;&iecy;, &zcy;&acy;&gcy;&ocy;&rcy;&ocy;&dcy;&ocy;&mcy; &icy;&lcy;&icy; &pcy;&rcy;&ocy;&scy;&tcy;&ocy; &khcy;&ocy;&tcy;&icy;&tcy;&iecy; &ocy;&tcy;&pcy;&rcy;&acy;&vcy;&icy;&tcy;&softcy;&scy;&yacy; &vcy;&nbsp;&dcy;&acy;&lcy;&softcy;&ncy;&yucy;&yucy; &pcy;&ocy;&iecy;&zcy;&dcy;&kcy;&ucy;?
  p.content-text-title-p
    | &laquo;
    span.yellow &Ecy;&vcy;&acy;&kcy;&ucy;&acy;&tcy;&ocy;&rcy;&ycy;
    span.blue  24
    | &raquo; &rcy;&acy;&bcy;&ocy;&tcy;&acy;&yucy;&tcy; &kcy;&rcy;&ucy;&gcy;&lcy;&ocy;&scy;&ucy;&tcy;&ocy;&chcy;&ncy;&ocy;, &kcy;&acy;&kcy; &vcy;&nbsp;&Mcy;&ocy;&scy;&kcy;&vcy;&iecy;, &Mcy;&ocy;&scy;&kcy;&ocy;&vcy;&scy;&kcy;&ocy;&jcy; &ocy;&bcy;&lcy;&acy;&scy;&tcy;&icy;, &tcy;&acy;&kcy; &icy;&nbsp;&vcy;&nbsp;&bcy;&ocy;&lcy;&softcy;&shcy;&iecy;&jcy; &chcy;&acy;&scy;&tcy;&icy; &Rcy;&ocy;&scy;&scy;&icy;&icy;! &Ncy;&acy;&shcy;&icy; &ucy;&scy;&lcy;&ucy;&gcy;&icy; &dcy;&ocy;&scy;&tcy;&ucy;&pcy;&ncy;&ycy; &ncy;&acy;&nbsp;&vcy;&scy;&iecy;&jcy; &zcy;&acy;&pcy;&acy;&dcy;&ncy;&ocy;&jcy; &chcy;&acy;&scy;&tcy;&icy; &Rcy;&ocy;&scy;&scy;&icy;&icy;, &ocy;&tcy;&nbsp;&yucy;&gcy;&acy; &dcy;&ocy;&nbsp;&scy;&acy;&mcy;&ycy;&khcy; &Ucy;&rcy;&acy;&lcy;&softcy;&scy;&kcy;&icy;&khcy; &gcy;&ocy;&rcy;. &Tcy;&iecy;&pcy;&iecy;&rcy;&softcy; &Vcy;&acy;&mcy; &bcy;&ucy;&dcy;&iecy;&tcy; &ncy;&iecy;&nbsp;&scy;&tcy;&rcy;&acy;&shcy;&ncy;&ocy; &ocy;&tcy;&pcy;&rcy;&acy;&vcy;&icy;&tcy;&softcy;&scy;&yacy; &vcy;&nbsp;&dcy;&acy;&lcy;&iecy;&kcy;&ocy;&iecy; &pcy;&ucy;&tcy;&iecy;&shcy;&iecy;&scy;&tcy;&vcy;&icy;&iecy; &pcy;&ocy;&nbsp;&ncy;&iecy;&ocy;&bcy;&hardcy;&yacy;&tcy;&ncy;&ycy;&mcy; &pcy;&rcy;&ocy;&scy;&tcy;&ocy;&rcy;&acy;&mcy; &Rcy;&ocy;&scy;&scy;&icy;&icy;, &ncy;&acy;&scy;&lcy;&acy;&zhcy;&dcy;&acy;&tcy;&softcy;&scy;&yacy; &iecy;&iecy;&nbsp;&kcy;&rcy;&acy;&scy;&ocy;&tcy;&ocy;&jcy;, &dcy;&icy;&kcy;&ocy;&jcy; &pcy;&rcy;&icy;&rcy;&ocy;&dcy;&ocy;&jcy; &icy;&nbsp;&ncy;&iecy;&pcy;&rcy;&ocy;&khcy;&ocy;&dcy;&icy;&mcy;&ycy;&mcy;&icy; &dcy;&ocy;&rcy;&ocy;&gcy;&acy;&mcy;&icy;. &Vcy;&iecy;&dcy;&softcy; &ncy;&acy;&shcy;&acy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&yacy; &vcy;&scy;&iecy;&gcy;&dcy;&acy; &bcy;&ucy;&dcy;&iecy;&tcy; &rcy;&yacy;&dcy;&ocy;&mcy; &icy;&nbsp;&ecy;&vcy;&acy;&kcy;&ucy;&icy;&rcy;&ucy;&iecy;&tcy; &Vcy;&acy;&shcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&softcy; &icy;&zcy;&nbsp;&lcy;&yucy;&bcy;&ocy;&jcy; &tcy;&ocy;&chcy;&kcy;&icy; &icy;&nbsp;&vcy;&nbsp;&lcy;&yucy;&bcy;&ocy;&jcy; &scy;&icy;&tcy;&ucy;&acy;&tscy;&icy;&icy;. &Vcy;&acy;&mcy; &ncy;&iecy;&nbsp;&ncy;&acy;&dcy;&ocy; &bcy;&ucy;&dcy;&iecy;&tcy; &ocy;&tcy;&kcy;&rcy;&ycy;&vcy;&acy;&tcy;&softcy; &icy;&ncy;&tcy;&iecy;&rcy;&ncy;&iecy;&tcy;, &chcy;&tcy;&ocy;&bcy;&ycy; &chcy;&acy;&scy;&acy;&mcy;&icy; &icy;&scy;&kcy;&acy;&tcy;&softcy; &vcy;&acy;&rcy;&icy;&acy;&ncy;&tcy;&ycy; &rcy;&iecy;&shcy;&iecy;&ncy;&icy;&jcy; &vcy;&nbsp;&icy;&ncy;&tcy;&iecy;&rcy;&ncy;&iecy;&tcy;&iecy;, &ncy;&acy;&bcy;&icy;&rcy;&acy;&yacy;: &ecy;&vcy;&acy;&kcy;&ucy;&acy;&tcy;&ocy;&rcy; &shcy;&ocy;&scy;&scy;&iecy;, &ecy;&vcy;&acy;&kcy;&ucy;&acy;&tcy;&ocy;&rcy; &mcy;&ocy;&scy;&kcy;&ocy;&vcy;&scy;&kcy;&acy;&yacy; &ocy;&bcy;&lcy;&acy;&scy;&tcy;&softcy;, &ecy;&vcy;&acy;&kcy;&ucy;&acy;&tcy;&ocy;&rcy; &scy;&pcy;&bcy; &icy;&lcy;&icy; &ecy;&vcy;&acy;&kcy;&ucy;&acy;&tcy;&ocy;&rcy; &vcy;&nbsp;&pcy;&ocy;&lcy;&iecy;. &Ncy;&acy;&shcy;&icy; &scy;&pcy;&iecy;&tscy;&icy;&acy;&lcy;&icy;&scy;&tcy;&ycy; &khcy;&ocy;&rcy;&ocy;&shcy;&ocy; &zcy;&ncy;&acy;&yucy;&tcy; &scy;&pcy;&iecy;&tscy;&icy;&fcy;&icy;&kcy;&ucy; &dcy;&vcy;&icy;&zhcy;&iecy;&ncy;&icy;&yacy; &icy;&nbsp;&ocy;&scy;&ucy;&shchcy;&iecy;&scy;&tcy;&vcy;&yacy;&tcy; &ecy;&vcy;&acy;&kcy;&ucy;&acy;&tscy;&icy;&yucy; &ocy;&dcy;&icy;&ncy;&acy;&kcy;&ocy;&vcy;&ocy; &bcy;&ycy;&scy;&tcy;&rcy;&ocy; &icy;&nbsp;&kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ocy; &kcy;&acy;&kcy; &ncy;&acy;&nbsp;&mcy;&ocy;&scy;&kcy;&ocy;&vcy;&scy;&kcy;&icy;&khcy; &dcy;&ocy;&rcy;&ocy;&gcy;&acy;&khcy;, &tcy;&acy;&kcy; &icy;&nbsp;&ncy;&acy;&nbsp;&zcy;&acy;&gcy;&ocy;&rcy;&ocy;&dcy;&ncy;&ycy;&khcy; &tcy;&rcy;&acy;&scy;&scy;&acy;&khcy;. &IEcy;&scy;&lcy;&icy; &Vcy;&ycy;&nbsp;&scy;&tcy;&ocy;&lcy;&kcy;&ncy;&iecy;&tcy;&iecy;&scy;&softcy; &scy;&nbsp;&pcy;&rcy;&ocy;&bcy;&lcy;&iecy;&mcy;&ocy;&jcy; &ncy;&acy;&nbsp;&dcy;&ocy;&rcy;&ocy;&gcy;&iecy;&nbsp;&mdash; &pcy;&rcy;&ocy;&scy;&tcy;&ocy; &scy;&mcy;&iecy;&lcy;&ocy; &zcy;&vcy;&ocy;&ncy;&icy;&tcy;&iecy; &ncy;&acy;&mcy;! &Mcy;&ycy;&nbsp;&ocy;&pcy;&iecy;&rcy;&acy;&tcy;&icy;&vcy;&ncy;&ocy; &pcy;&rcy;&icy;&iecy;&dcy;&iecy;&mcy; &kcy;&nbsp;&Vcy;&acy;&mcy; &icy;&nbsp;&ocy;&bcy;&yacy;&zcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy; &ocy;&kcy;&acy;&zhcy;&iecy;&mcy; &vcy;&scy;&yucy; &ncy;&iecy;&ocy;&bcy;&khcy;&ocy;&dcy;&icy;&mcy;&ucy;&yucy; &pcy;&ocy;&mcy;&ocy;&shchcy;&softcy; &ncy;&acy;&nbsp;&dcy;&ocy;&rcy;&ocy;&gcy;&iecy;. &ZHcy;&iecy;&lcy;&acy;&iecy;&mcy; &Vcy;&acy;&mcy; &pcy;&rcy;&icy;&yacy;&tcy;&ncy;&ocy;&gcy;&ocy; &pcy;&ucy;&tcy;&icy;!
// map_block
.map
  #map_block
    .content
      p.map-title-h1 &Scy;&pcy;&icy;&scy;&ocy;&kcy; &ocy;&kcy;&rcy;&ucy;&gcy;&ocy;&vcy; &icy; &gcy;&ocy;&rcy;&ocy;&dcy;&ocy;&vcy; &gcy;&dcy;&iecy; &mcy;&ycy; &ocy;&kcy;&acy;&zcy;&ycy;&vcy;&acy;&iecy;&mcy; &ucy;&scy;&lcy;&ucy;&gcy;&icy;
      .map_block
        .city
        img.map(src='http://www.evakuatori24.ru/images/map.png' alt='map' usemap='#Map')
        map(name='Map')
          area#sao(shape='poly' coords='192,80,223,102,222,116,229,144,226,168,233,176,229,190,227,205,238,253,241,254,240,271,228,282,203,283,185,302,169,276,151,220,157,205,154,199,142,200,142,197,145,189,122,134,107,121,119,113,129,114,140,113,158,104' href='http://www.evakuatori24.ru/sao/' title='САО' accesskey='x' alt='САО')
          area#svao(shape='poly' coords='184,26,204,20,200,9,209,4,217,9,229,3,234,4,236,11,228,14,223,12,222,26,227,26,227,35,223,35,223,39,221,41,219,55,216,73,242,72,255,80,296,94,311,95,315,94,317,96,339,97,358,112,363,112,365,119,366,121,365,126,356,126,339,148,354,149,354,162,349,169,338,165,334,157,327,157,328,167,311,182,311,207,294,241,293,256,281,246,279,252,265,253,265,263,260,267,253,262,250,254,238,254,233,233,227,205,232,176,225,170,227,147,225,134,222,123,222,103,208,93,199,85,192,80,197,77' href='http://www.evakuatori24.ru/svao/' title='СВАО' accesskey='x' alt='СВАО')
          area#vao(shape='poly' coords='294,259,294,241,310,209,311,182,327,167,327,156,333,156,338,166,348,167,353,163,354,149,339,149,343,142,350,133,356,125,365,125,366,120,446,195,451,196,450,199,455,202,460,212,469,214,480,206,482,203,487,199,496,210,496,215,486,223,481,229,476,227,467,231,465,218,470,214,460,212,459,218,458,242,461,273,466,277,461,282,459,325,462,327,476,327,489,321,502,312,505,327,496,328,495,331,487,334,478,343,478,349,476,353,484,359,488,360,490,366,497,365,495,359,504,361,511,356,517,357,523,352,525,350,531,350,542,356,546,362,546,369,538,374,532,373,531,381,527,385,512,387,498,388,496,393,491,397,488,399,396,338,381,334,374,325,367,319,354,311,356,300,357,293,354,285,350,278,346,275,344,270,333,270,322,269' href='http://www.evakuatori24.ru/vao/' title='ВАО' accesskey='x' alt='ВАО')
          area#cao(shape='poly' coords='158,333,171,313,184,302,203,282,227,281,239,270,239,254,250,253,254,263,259,266,264,263,265,251,278,251,282,246,293,256,294,260,308,263,322,268,344,270,348,278,335,289,329,285,328,290,323,302,314,304,312,316,334,329,337,335,330,347,316,352,305,348,303,351,292,350,286,359,246,360,234,374,231,372,206,380,188,398,158,398' href='http://www.evakuatori24.ru/cao/' title='ЦАО' accesskey='x' alt='ЦАО')
          area#uvao(shape='poly' coords='346,406,312,393,307,352,299,351,305,347,315,351,325,349,332,344,336,337,336,330,326,326,319,321,312,317,313,304,322,303,325,297,328,290,329,285,335,289,341,284,348,278,354,286,357,295,354,310,361,316,372,323,381,334,394,337,442,367,488,398,484,403,473,395,471,397,477,405,474,409,478,415,473,428,473,432,469,432,451,419,451,425,458,466,419,509,414,474,406,471,376,485,362,483,346,485,313,461,317,444,336,431,350,421' href='http://www.evakuatori24.ru/uvao/' title='ЮВАО' accesskey='x' alt='ЮВАО')
          area#uao(shape='poly' coords='261,450,258,432,255,409,233,375,239,368,246,360,269,360,284,359,291,351,300,351,307,352,309,370,312,393,331,400,346,406,348,414,351,421,338,431,323,440,317,444,315,454,314,462,324,469,334,475,345,485,359,484,371,484,378,484,388,479,397,475,407,471,414,474,416,488,419,508,399,529,380,546,363,560,360,565,356,564,340,575,328,583,319,590,304,593,287,590,269,589,252,587,245,586,231,575,232,557,235,542,229,532,235,484,256,483,255,463' href='http://www.evakuatori24.ru/uao/' title='ЮАО' accesskey='x' alt='ЮАО')
          area#uzao(shape='poly' coords='187,398,207,379,232,372,243,389,252,403,256,416,258,431,261,444,260,454,256,461,256,483,234,484,233,506,229,532,234,544,232,560,231,575,245,587,248,596,246,599,249,603,241,608,237,615,234,632,233,640,235,645,233,657,230,659,230,664,236,672,243,682,247,687,246,690,252,696,252,701,253,705,244,715,240,716,236,717,232,713,221,703,225,676,215,675,209,680,201,681,209,686,209,692,201,692,195,695,190,699,187,695,184,695,183,687,188,687,192,680,183,669,175,667,173,662,164,660,156,660,147,656,143,660,137,660,137,638,146,635,158,634,163,629,172,622,185,615,195,618,203,618,206,609,202,604,205,601,200,593,197,595,192,590,194,586,191,581,194,579,202,579,202,574,198,568,186,563,184,566,181,560,169,555,160,546,154,533,150,535,150,528,140,512,127,491,122,489,122,484,114,473,119,464' href='http://www.evakuatori24.ru/uzao/' title='ЮЗАО' accesskey='x' alt='ЮЗАО')
          area#zao(shape='poly' coords='144,353,158,334,159,397,188,397,170,415,153,431,130,454,118,466,115,473,111,467,103,457,92,456,89,458,90,465,88,469,91,477,89,488,85,497,81,502,75,501,69,504,62,504,62,499,53,509,47,508,46,500,40,501,38,497,40,493,32,492,25,496,22,493,19,492,18,487,14,484,16,470,24,465,28,455,26,451,29,450,31,444,34,445,36,451,38,445,43,443,49,444,52,447,51,455,54,455,58,448,65,448,67,454,76,453,86,450,86,446,82,442,78,435,83,427,89,424,87,413,79,398,68,382,64,376,59,374,62,370,60,363,57,359,58,353,54,345,54,339,50,328,50,315,69,329,85,343' href='http://www.evakuatori24.ru/zao/' title='ЗАО' accesskey='x' alt='ЗАО')
          area#szao.map-hover(shape='poly' coords='49,316,62,324,71,332,85,344,107,347,145,353,154,345,160,331,168,318,186,301,168,277,150,221,153,214,157,207,156,200,142,200,142,195,144,190,138,174,125,143,123,135,109,121,102,125,99,122,95,122,93,118,89,118,88,112,85,109,84,101,82,88,74,83,73,69,81,65,77,59,80,50,90,52,89,46,90,40,86,34,89,30,91,20,99,18,101,11,97,5,90,5,87,11,81,11,77,12,75,8,69,6,67,10,60,3,48,3,48,7,43,8,38,8,37,3,30,3,27,8,27,14,42,29,39,32,34,27,29,31,19,32,21,38,27,39,31,46,36,49,40,49,44,44,52,51,60,57,53,59,51,67,54,74,51,78,53,82,48,85,51,90,52,97,59,97,56,102,56,108,54,114,59,118,59,123,71,125,78,126,86,132,82,137,77,149,73,158,67,156,59,158,59,155,62,152,62,144,61,136,55,137,50,136,42,142,36,142,33,147,29,148,27,157,28,161,26,165,22,170,25,172,33,173,34,176,28,178,29,183,33,186,33,193,32,201,35,203,32,208,34,212,40,212,42,209,42,205,46,207,49,204,52,199,60,198,71,197,70,209,69,219,66,225,66,230,61,240,55,251,47,253,43,256,41,252,36,247,33,243,29,246,29,262,20,273,14,278,12,282,3,286,3,292,11,293,18,293,20,284,23,289,28,289,32,286,31,282,35,282,35,278,36,273,40,270,41,266,50,261,50,272,49,281,49,286,50,289,48,295' href='http://www.evakuatori24.ru/szao/' title='СЗАО' accesskey='x' alt='СЗАО')
      .right
        .map-title-h3 &Ecy;&vcy;&acy;&kcy;&ucy;&acy;&tscy;&icy;&yacy; &pcy;&ocy; &Mcy;&ocy;&scy;&kcy;&vcy;&iecy;
        p.content-text-title-p-map
          | &Ocy;&bcy;&iecy;&scy;&pcy;&iecy;&chcy;&icy;&vcy;&acy;&iecy;&mcy; &ocy;&pcy;&iecy;&rcy;&acy;&tcy;&icy;&vcy;&ncy;&ucy;&yucy; &pcy;&ocy;&dcy;&acy;&chcy;&ucy; &ecy;&vcy;&acy;&kcy;&ucy;&acy;&tcy;&ocy;&rcy;&acy; &pcy;&ocy; &Mcy;&ocy;&scy;&kcy;&vcy;&iecy; &icy; 
          a(href='http://www.evakuatori24.ru/moskovskaya-oblast/') &Mcy;&ocy;&scy;&kcy;&ocy;&vcy;&scy;&kcy;&ocy;&jcy; &ocy;&bcy;&lcy;&acy;&scy;&tcy;&icy;
          |  &zcy;&acy; 20 &mcy;&icy;&ncy;&ucy;&tcy;!
        p.okrug
          | &Vcy;&ycy;&bcy;&iecy;&rcy;&icy;&tcy;&iecy; &scy;&vcy;&ocy;&jcy; &ocy;&kcy;&rcy;&ucy;&gcy;: 
          sup *
        ul.list.text-p-map
          li
            a(href='http://www.evakuatori24.ru/cao/' title='эвакуатор в ЦАО') &TScy;&iecy;&ncy;&tcy;&rcy;&acy;&lcy;&softcy;&ncy;&ycy;&jcy; &Acy;&dcy;&mcy;&icy;&ncy;&icy;&scy;&tcy;&rcy;&acy;&tcy;&icy;&vcy;&ncy;&ycy;&jcy; &Ocy;&kcy;&rcy;&ucy;&gcy;
          li
            a(href='http://www.evakuatori24.ru/sao/' title='эвакуатор в САО') &Scy;&iecy;&vcy;&iecy;&rcy;&ncy;&ycy;&jcy; &Acy;&dcy;&mcy;&icy;&ncy;&icy;&scy;&tcy;&rcy;&acy;&tcy;&icy;&vcy;&ncy;&ycy;&jcy; &Ocy;&kcy;&rcy;&ucy;&gcy;
          li
            a(href='http://www.evakuatori24.ru/svao/' title='эвакуатор в СВАО') &Scy;&iecy;&vcy;&iecy;&rcy;&ocy;-&Vcy;&ocy;&scy;&tcy;&ocy;&chcy;&ncy;&ycy;&jcy; &Acy;&dcy;&mcy;&icy;&ncy;&icy;&scy;&tcy;&rcy;&acy;&tcy;&icy;&vcy;&ncy;&ycy;&jcy; &Ocy;&kcy;&rcy;&ucy;&gcy;
          li
            a(href='http://www.evakuatori24.ru/vao/' title='эвакуатор в ВАО') &Vcy;&ocy;&scy;&tcy;&ocy;&chcy;&ncy;&ycy;&jcy; &Acy;&dcy;&mcy;&icy;&ncy;&icy;&scy;&tcy;&rcy;&acy;&tcy;&icy;&vcy;&ncy;&ycy;&jcy; &Ocy;&kcy;&rcy;&ucy;&gcy;
          li
            a(href='http://www.evakuatori24.ru/uvao/' title='эвакуатор в ЮВАО') &YUcy;&gcy;&ocy;-&Vcy;&ocy;&scy;&tcy;&ocy;&chcy;&ncy;&ycy;&jcy; &Acy;&dcy;&mcy;&icy;&ncy;&icy;&scy;&tcy;&rcy;&acy;&tcy;&icy;&vcy;&ncy;&ycy;&jcy; &Ocy;&kcy;&rcy;&ucy;&gcy;
          li
            a(href='http://www.evakuatori24.ru/uao/' title='эвакуатор в ЮАО') &YUcy;&zhcy;&ncy;&ycy;&jcy; &Acy;&dcy;&mcy;&icy;&ncy;&icy;&scy;&tcy;&rcy;&acy;&tcy;&icy;&vcy;&ncy;&ycy;&jcy; &Ocy;&kcy;&rcy;&ucy;&gcy;
          li
            a(href='http://www.evakuatori24.ru/uzao/' title='эвакуатор в ЮЗАО') &YUcy;&gcy;&ocy;-&Zcy;&acy;&pcy;&acy;&dcy;&ncy;&ycy;&jcy; &Acy;&dcy;&mcy;&icy;&ncy;&icy;&scy;&tcy;&rcy;&acy;&tcy;&icy;&vcy;&ncy;&ycy;&jcy; &Ocy;&kcy;&rcy;&ucy;&gcy;
          li
            a(href='http://www.evakuatori24.ru/zao/' title='эвакуатор в ЗАО') &Zcy;&acy;&pcy;&acy;&dcy;&ncy;&ycy;&jcy; &Acy;&dcy;&mcy;&icy;&ncy;&icy;&scy;&tcy;&rcy;&acy;&tcy;&icy;&vcy;&ncy;&ycy;&jcy; &Ocy;&kcy;&rcy;&ucy;&gcy;
          li
            a(href='http://www.evakuatori24.ru/szao/' title='эвакуатор в СЗАО') &Scy;&iecy;&vcy;&iecy;&rcy;&ocy;-&Zcy;&acy;&pcy;&acy;&dcy;&ncy;&ycy;&jcy; &Acy;&dcy;&mcy;&icy;&ncy;&icy;&scy;&tcy;&rcy;&acy;&tcy;&icy;&vcy;&ncy;&ycy;&jcy; &Ocy;&kcy;&rcy;&ucy;&gcy;
          li
            a(href='http://www.evakuatori24.ru/zelenograd/' title='эвакуатор в Зеленоград') &Zcy;&iecy;&lcy;&iecy;&ncy;&ocy;&gcy;&rcy;&acy;&dcy;
        // noindex
        p.info
          | *&Vcy; &kcy;&acy;&zhcy;&dcy;&ocy;&mcy; &ocy;&kcy;&rcy;&ucy;&gcy;&iecy; &scy;&tcy;&ocy;&lcy;&icy;&tscy;&ycy; &pcy;&ocy;&scy;&tcy;&ocy;&yacy;&ncy;&ncy;&ocy; &dcy;&iecy;&zhcy;&ucy;&rcy;&icy;&tcy; &ncy;&iecy;&scy;&kcy;&ocy;&lcy;&softcy;&kcy;&ocy; &iecy;&dcy;&icy;&ncy;&icy;&tscy; &tcy;&iecy;&khcy;&ncy;&icy;&kcy;&icy;, &gcy;&ocy;&tcy;&ocy;&vcy;&ycy;&khcy; &vcy;&ycy;&iecy;&khcy;&acy;&tcy;&softcy; &ncy;&acy; &pcy;&ocy;&mcy;&ocy;&shchcy;&softcy; &mcy;&gcy;&ncy;&ocy;&vcy;&iecy;&ncy;&ncy;&ocy;. &Tcy;&acy;&kcy;&zhcy;&iecy; &ncy;&acy;&shcy;&icy; &mcy;&acy;&shcy;&icy;&ncy;&ycy; &rcy;&acy;&scy;&pcy;&ocy;&lcy;&ocy;&zhcy;&iecy;&ncy;&ycy; &ncy;&acy; &pcy;&rcy;&ocy;&tcy;&yacy;&zhcy;&iecy;&ncy;&icy;&icy; &Scy;&acy;&dcy;&ocy;&vcy;&ocy;&gcy;&ocy; &icy; &Tcy;&rcy;&iecy;&tcy;&softcy;&iecy;&gcy;&ocy; &tcy;&rcy;&acy;&ncy;&scy;&pcy;&ocy;&rcy;&tcy;&ncy;&ocy;&gcy;&ocy; &kcy;&ocy;&lcy;&softcy;&tscy;&acy;, &chcy;&tcy;&ocy; &pcy;&ocy;&zcy;&vcy;&ocy;&lcy;&yacy;&iecy;&tcy; &icy;&mcy; &scy;&rcy;&ocy;&chcy;&ncy;&ocy; &pcy;&rcy;&icy;&bcy;&ycy;&tcy;&softcy; &vcy; &lcy;&yucy;&bcy;&ucy;&yucy; &tcy;&ocy;&chcy;&kcy;&ucy; &Mcy;&ocy;&scy;&kcy;&vcy;&ycy;.
        // /noindex
      .clear
// map_block END
.how-to-order
  .how-to-order-1
    .content.how-to-order-1-ms
      p.how-to-order-1-blue &Kcy;&acy;&kcy; &zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy;? &zcy;&vcy;&ocy;&ncy;&icy;&tcy;&iecy;
      p.nomber
        a(href='tel:+79857730405')   +7 (495) 773-04-05 
      p.text
        | &Scy;&ocy;&ocy;&ocy;&bcy;&shchcy;&icy;&tcy;&iecy; &dcy;&iecy;&zhcy;&ucy;&rcy;&ncy;&ocy;&mcy;&ucy; &ocy;&pcy;&iecy;&rcy;&acy;&tcy;&ocy;&rcy;&ucy; &mcy;&acy;&rcy;&kcy;&ucy; &mcy;&acy;&shcy;&icy;&ncy;&ycy;, &pcy;&ocy;&vcy;&rcy;&iecy;&zhcy;&dcy;&iecy;&ncy;&icy;&yacy;, &ocy;&tcy;&kcy;&ucy;&dcy;&acy; &icy; &kcy;&ucy;&dcy;&acy; &Vcy;&acy;&scy; &ncy;&ucy;&zhcy;&ncy;&ocy; &ecy;&vcy;&acy;&kcy;&ucy;&icy;&rcy;&ocy;&vcy;&acy;&tcy;&softcy;
  .arrow.yellow-arrow
  .how-to-order-2
    .content.how-to-order-2-ms
      p.how-to-order-2-blue &Mcy;&ycy; &ocy;&tcy;&pcy;&rcy;&acy;&vcy;&icy;&mcy; &kcy; &vcy;&acy;&mcy; &mcy;&acy;&shcy;&icy;&ncy;&ucy;
      p.text
        | &Dcy;&iecy;&zhcy;&ucy;&rcy;&ncy;&ycy;&jcy; &ocy;&pcy;&iecy;&rcy;&acy;&tcy;&ocy;&rcy; &ocy;&pcy;&rcy;&iecy;&dcy;&iecy;&lcy;&icy;&tcy;, &kcy;&acy;&kcy;&ocy;&jcy; &ecy;&vcy;&acy;&kcy;&ucy;&acy;&tcy;&ocy;&rcy; &ncy;&iecy;&ocy;&bcy;&khcy;&ocy;&dcy;&icy;&mcy; &icy; &pcy;&iecy;&rcy;&iecy;&dcy;&acy;&scy;&tcy; &vcy;&acy;&shcy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy; &vcy;&ocy;&dcy;&icy;&tcy;&iecy;&lcy;&yucy;
  .arrow.pale-yellow-arrow
  .how-to-order-3
    .content
      p.how-to-order-2-blue &Ecy;&vcy;&acy;&kcy;&ucy;&acy;&tcy;&ocy;&rcy; &pcy;&rcy;&icy;&iecy;&dcy;&iecy;&tcy; &kcy; &Vcy;&acy;&mcy;!
      p.text &Vcy;&ocy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy; &pcy;&iecy;&rcy;&iecy;&zcy;&vcy;&ocy;&ncy;&icy;&tcy; &vcy;&acy;&mcy;, &scy;&pcy;&rcy;&ocy;&scy;&icy;&tcy; &tcy;&ocy;&chcy;&ncy;&ycy;&jcy; &acy;&dcy;&rcy;&iecy;&scy;, &pcy;&rcy;&icy;&iecy;&dcy;&iecy;&tcy; &icy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&iecy;&dcy;&iecy;&tcy; &ecy;&vcy;&acy;&kcy;&ucy;&acy;&tscy;&icy;&yucy;
  .arrow.blue-arrow
  #contact.contacts
    .content
      p.contacts-title-h2 &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
      .contacts-map
        // Карта Яндекс
        iframe.contacts-map-iframe(src='https://yandex.ru/map-widget/v1/?z=12&ol=biz&oid=38067999059')
        // Конец Карты Яндекс
      .contacts-req(itemscope='' itemtype='https://schema.org/Organization')
        p.contacts-title-h3 &Ncy;&acy;&shcy;&icy; &rcy;&iecy;&kcy;&vcy;&icy;&zcy;&icy;&tcy;&ycy;
        ul.list-contacts
          li
            | &laquo;
            span.yellow(itemprop='name') &Ecy;&vcy;&acy;&kcy;&ucy;&acy;&tcy;&ocy;&rcy;&ycy;
            span.blue 24
            | &raquo;
          li
            span.list-contacts-blue &Tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;:
            span(itemprop='telephone')
              a(href='tel:+79857730405')  +7 (495) 773-04-05 
          li
            span.list-contacts-blue &Mcy;&ocy;&bcy;. &Tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;: 
            a(href='tel:+79857730405') 8 (985) 080-38-01
          li
            span(itemprop='address' itemscope='' itemtype='https://schema.org/PostalAddress')
              span.list-contacts-blue &YUcy;&rcy;&icy;&dcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&jcy; &acy;&dcy;&rcy;&iecy;&scy;:
              span(itemprop='postalCode') 125009
              | ,
              span(itemprop='addressCountry') &Rcy;&ocy;&scy;&scy;&icy;&yacy;
              | , 
              span(itemprop='addressLocality') &Mcy;&ocy;&scy;&kcy;&vcy;&acy;
              | , 
              span(itemprop='streetAddress') &Scy;&tcy;&ocy;&lcy;&iecy;&shcy;&ncy;&icy;&kcy;&ocy;&vcy; &pcy;&iecy;&rcy;&iecy;&ucy;&lcy;&ocy;&kcy;, 6&scy;1
          li
            span
              span.list-contacts-blue &Fcy;&acy;&kcy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&jcy; &acy;&dcy;&rcy;&iecy;&scy;:
              span 125009
              | ,
              span &Rcy;&ocy;&scy;&scy;&icy;&yacy;
              | , 
              span &Mcy;&ocy;&scy;&kcy;&vcy;&acy;
              | , 
              span &Scy;&tcy;&ocy;&lcy;&iecy;&shcy;&ncy;&icy;&kcy;&ocy;&vcy; &pcy;&iecy;&rcy;&iecy;&ucy;&lcy;&ocy;&kcy;, 6&scy;1
          li
            span.list-contacts-blue E-mail:
            span(itemprop='email')
              a(href='mailto:info@evakuatori24.ru' target='_blank')  info@evakuatori24.ru 
          li
            span.list-contacts-blue &Gcy;&rcy;&acy;&fcy;&icy;&kcy; &rcy;&acy;&bcy;&ocy;&tcy;&ycy;:
            span &Kcy;&rcy;&ucy;&gcy;&lcy;&ocy;&scy;&ucy;&tcy;&ocy;&chcy;&ncy;&ocy;
footer
  .ft
    .container
      .content
        .col-md-1
          img.no_mob(src='http://www.evakuatori24.ru/images/icon-mail-yellow.png' alt='icon-24-7-yellow')
          span
            a(href='mailto:info@evakuatori24.ru' target='_blank')  info@evakuatori24.ru 
        .col-md-2.col-ft-2
          img(src='http://www.evakuatori24.ru/images/logo2.png' alt='logo2')
        .col-md-3
          img.no_mob.img-circleblock(src='http://www.evakuatori24.ru/images/icon-phone-yellow.png' alt='icon-mail-yellow')
          span
            a(href='tel:+79857730405')  +7 (495) 773-04-05 
    .developer
      .content
        .pro-site
          a(href='https://www.mercedes-krasnogorsk.com/' target='_blank' rel='nofollow') Mercedes &Kcy;&rcy;&acy;&scy;&ncy;&ocy;&gcy;&ocy;&rcy;&scy;&kcy; &Rcy;&iecy;&mcy;&ocy;&ncy;&tcy;,&Tcy;&Ocy;, Stardiagnosis, &Scy;&khcy;&ocy;&dcy;/&Rcy;&acy;&zcy;&vcy;&acy;&lcy;
        .cold-md-4
          .socsety(itemscope='' itemtype='http://schema.org/Organization')
            meta(itemprop='address' content='125009,Россия, Москва, Столешников переулок, 6с1')
            meta(itemprop='telephone' content='+7 (495) 773-04-05 ')
            meta(itemprop='name' content='Эвакуаторы24')
            a(itemprop='sameAs' href='https://vk.com/uslugi_evakuatori24_ru' target='_blank')
              .icon-vk
            a(itemprop='sameAs' href='https://www.facebook.com/evakuatori24.ru/' target='_blank')
              .icon-fb
            a(itemprop='sameAs' href='https://twitter.com/evakuatori24_ru' target='_blank')
              .icon-tw
            a(itemprop='sameAs' href='https://plus.google.com/u/0/104235652720643548342' target='_blank')
              .icon-g
          .w3-org
            p
              a(href='https://validator.w3.org/nu/?doc=https%3A%2F%2Fwww.evakuatori24.ru%2F' target='_blank')
                img(style='border:0;width:88px;height:31px' src='http://www.evakuatori24.ru/images/VISAMasterCard.png' alt='Правильный CSS!')
