.main_mc
  header
    img.header_logo(src='../../img/portfolio/obed-master-card/logo_obed.png' alt='logo')
    .header_phone +7 (495) 783 48 33
  .main_mc_first
    img.main_mc_first_logo2(src='../../img/portfolio/obed-master-card/mastercard-logo2.png')
    p
      | &Ocy;&pcy;&lcy;&acy;&chcy;&icy;&vcy;&acy;&jcy; &zcy;&acy;&kcy;&acy;&zcy;&ycy;
      br
      |                            &kcy;&acy;&rcy;&tcy;&ocy;&jcy; 
      span.red
        | MASTER
        span.yellow CARD
      br
      |                            &icy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy; &pcy;&rcy;&icy;&zcy;&ycy;
      br
      |                            &ocy;&tcy; &kcy;&khcy;&lcy;!
      br
    a.button_mc_first(href='#mc_hide_me') &Ucy;&chcy;&acy;&scy;&tcy;&vcy;&ocy;&vcy;&acy;&tcy;&softcy; 
  .main_mc_second
    h2  &Kcy;&acy;&kcy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&tcy;&softcy; &bcy;&acy;&lcy;&lcy;&ycy;
    p.small &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&iecy; &Vcy;&ycy; &mcy;&ocy;&zhcy;&iecy;&tcy;&iecy; &ocy;&bcy;&mcy;&iecy;&yacy;&tcy;&softcy; &ncy;&acy; &pcy;&rcy;&icy;&zcy;&ycy;
    img(src='../../img/portfolio/obed-master-card/mastercard_picture.png')
    .main_mc_second_spisok
      ul
        li
          p
            | &Zcy;&acy;&jcy;&dcy;&icy;&tcy;&iecy; &ncy;&acy; &scy;&acy;&jcy;&tcy; &icy;&lcy;&icy; &vcy; &pcy;&rcy;&icy;&lcy;&ocy;&zhcy;&ncy;&icy;&iecy; 
            a(href='#') Obed.ru
        li
          p
            | &Vcy;&ycy;&bcy;&iecy;&rcy;&iecy;&tcy;&iecy; &lcy;&yucy;&bcy;&ocy;&jcy; &icy;&zcy; &scy;&ocy;&tcy;&iecy;&ncy; &rcy;&iecy;&scy;&tcy;&ocy;&rcy;&acy;&ncy;&ocy;&vcy;
            br
            |  &pcy;&ocy; &Vcy;&acy;&shcy;&iecy;&mcy;&ucy; &acy;&dcy;&rcy;&iecy;&scy;&ucy;
        li
          p &Zcy;&acy;&kcy;&acy;&zhcy;&icy;&tcy;&iecy; &bcy;&lcy;&yucy;&dcy;&acy; &ncy;&acy; &scy;&ucy;&mcy;&mcy;&ucy; &bcy;&ocy;&lcy;&iecy;&iecy; 500 &Rcy;
        li
          p &Ocy;&pcy;&lcy;&acy;&tcy;&icy;&tcy;&iecy; &zcy;&acy;&kcy;&acy;&zcy; &kcy;&acy;&rcy;&tcy;&ocy;&jcy; MfsterCard
        li
          p &Pcy;&ocy;&lcy;&ucy;&chcy;&icy;&tcy;&iecy; &ucy;&dcy;&vcy;&ocy;&iecy;&ncy;&ycy;&jcy; &chcy;&iecy;&kcy;
        p.ready_mc
          span.orange &Gcy;&ocy;&tcy;&ocy;&vcy;&ocy;!
          br
          |                                         &Bcy;&ocy;&ncy;&ucy;&scy;&ycy; &Vcy;&acy;&shcy;&icy;! &Vcy;&ycy; &mcy;&ocy;&zhcy;&iecy;&tcy;&iecy; &ocy;&bcy;&mcy;&iecy;&ncy;&yacy;&tcy;&softcy; 
          br
          |  &icy;&khcy; &ncy;&acy; &pcy;&rcy;&icy;&zcy;&ycy; 
          a(href='mc')  &vcy; &lcy;&icy;&chcy;&ncy;&ocy;&mcy; &kcy;&acy;&bcy;&icy;&ncy;&iecy;&tcy;&iecy; MasterCard
  .main_mc_third
    h2.white &Scy;&ocy;&tcy;&ncy;&icy; &pcy;&rcy;&icy;&zcy;&ocy;&vcy; &ocy;&tcy; &kcy;&khcy;&lcy;! 
    .main_mc_third_ball
      img.circle(src='../../img/portfolio/obed-master-card/1.png' alt='icon')
      p 500 &Bcy;&acy;&lcy;&lcy;&ocy;&vcy;
    .main_mc_third_ball
      img.circle(src='../../img/portfolio/obed-master-card/1.png' alt='icon')
      p 2 500 &bcy;&acy;&lcy;&lcy;&ocy;&vcy;
    .main_mc_third_ball
      img.circle(src='../../img/portfolio/obed-master-card/1.png' alt='icon')
      p 5 000 &Bcy;&acy;&lcy;&lcy;&ocy;&vcy;
    .main_mc_third_ball
      img.circle(src='../../img/portfolio/obed-master-card/1.png' alt='icon')
      p 10 000 &bcy;&acy;&lcy;&lcy;&ocy;&vcy;
    p
      | &IEcy;&shchcy;&iecy; &bcy;&ocy;&lcy;&softcy;&shcy;&iecy; &pcy;&rcy;&icy;&zcy;&ocy;&vcy; &ncy;&acy; &scy;&acy;&jcy;&tcy;&iecy; 
      a(href='mc') MasterCard
  #mc_hide_me.main_mc_fourth
    h2
      | &Scy;&tcy;&acy;&ncy;&softcy; &Ucy;&chcy;&acy;&scy;&tcy;&ncy;&icy;&kcy;&ocy;&mcy; 
      br
      |                         &pcy;&rcy;&yacy;&mcy;&ocy; &scy;&iecy;&jcy;&chcy;&acy;&scy;
    p.small &Ncy;&ucy;&zhcy;&ncy;&ocy; &tcy;&ocy;&lcy;&softcy;&kcy;&ocy; &ucy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &ncy;&ocy;&mcy;&iecy;&rcy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&acy;
    form
      input.data(type='text' name='contactPhoneField' placeholder='Телефон' required='')
      input#isready1.mc_checkbox(type='checkbox')
      label.mc_checkbox_label(for='isready1')
        | &YAcy;  &ocy;&zcy;&ncy;&acy;&kcy;&ocy;&mcy;&lcy;&iecy;&ncy; &scy;
        a(href='#rules') &pcy;&rcy;&acy;&vcy;&icy;&lcy;&acy;&mcy;&icy; &acy;&kcy;&tscy;&icy;&icy;
      br
      input#isready2.mc_checkbox(type='checkbox')
      label.mc_checkbox_label(for='isready2')
        | &YAcy; &pcy;&rcy;&icy;&ncy;&icy;&mcy;&acy;&yucy; 
        a(href='#rules') &pcy;&ocy;&lcy;&icy;&tcy;&icy;&kcy;&ucy; &kcy;&ocy;&ncy;&fcy;&iecy;&dcy;&icy;&ncy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&icy;
      br
      input#mc_registration_ok.button(type='submit' value='УЧАСТВОВАТЬ' disabled='disabled')
  #mc_show_me.main_mc_five
    h2 &Scy;&pcy;&acy;&scy;&icy;&bcy;&ocy; &zcy;&acy; &rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&yucy;!
    img.main_mc_five_ok(src='../../img/portfolio/obed-master-card/ok.png')
    p.main_mc_five_bonus
      | &Ocy;&tcy;&scy;&lcy;&iecy;&zhcy;&icy;&vcy;&acy;&jcy;&tcy;&iecy; &bcy;&acy;&lcy;&lcy;&ycy; &ncy;&acy; &scy;&acy;&jcy;&tcy;&iecy; 
      a(href='http://www.obed.ru') Obed.ru
      |   &vcy; &rcy;&acy;&zcy;&dcy;&iecy;&lcy;&iecy; &quot;&Bcy;&ocy;&ncy;&ucy;&scy;&ycy;&quot;
      br
      |                         &icy;&lcy;&icy; &vcy; &lcy;&icy;&chcy;&ncy;&ocy;&mcy; &kcy;&acy;&bcy;&icy;&ncy;&iecy;&tcy;&iecy; 
      a(href='#') MasterCard
    .main_mc_five_logo
      p.big
        | &Pcy;&ocy;&rcy;&acy; 
        br
        |                             &Pcy;&ocy;&lcy;&ucy;&chcy;&acy;&tcy;&softcy;
        br
        |                             &Pcy;&rcy;&icy;&zcy;&ycy;! 
        br
      a(href='#')
        img.main_mc_five_logotype(src='../../img/portfolio/obed-master-card/logo1.png' alt='')
      a(href='#')
        img.main_mc_five_logotype(src='../../img/portfolio/obed-master-card/logo2.png' alt='')
      a(href='#')
        img.main_mc_five_logotype(src='../../img/portfolio/obed-master-card/logo3.png' alt='')
      a(href='#')
        img.main_mc_five_logotype(src='../../img/portfolio/obed-master-card/logo4.jpg' alt='')
      a.show_more(href='#') &Pcy;&ocy;&scy;&mcy;&ocy;&tcy;&rcy;&iecy;&tcy;&softcy; &vcy;&scy;&iecy; &rcy;&iecy;&scy;&tcy;&ocy;&rcy;&acy;&ncy;&ycy;
  footer
    | &copy; 2004-2017, Obed.ru &ndash; &iecy;&dcy;&icy;&ncy;&acy;&yacy; &scy;&lcy;&ucy;&zhcy;&bcy;&acy; &zcy;&acy;&kcy;&acy;&zcy;&ocy;&vcy;
script.
  (function(){
  var button = document.querySelector("input[value='УЧАСТВОВАТЬ']");
  var checkbox1 = document.getElementById("isready1");
  var checkbox2 = document.getElementById("isready2");
  checkbox1.addEventListener("click", checkTerms);
  checkbox2.addEventListener("click", checkTerms);
  function checkTerms(){
  if(isChecked(this)){
  button.disabled = false;
  }
  else{
  button.disabled = true;
  }
  }
  function isChecked(element){
  return element.checked ? true : false;
  }
  })();
script.
  document.getElementById('mc_registration_ok').onclick = function() {
  document.getElementById('mc_hide_me').style.display = 'none';
  document.getElementById('mc_show_me').style.display = 'block';
  }
