.about{
    padding: 80px 0;
    &-content{
        .row-flex();
        .page__img{
            .size(2);
            display: flex;
            justify-content: center;
        }
        .page__content{
            .size(2);
        }
    }
}