.advantages{
    padding: 80px 0;
    margin-top: 190px;
    background-color: @color_yellow-1;

    &-content{
        .row-flex();
        .advantage{
            .size(1);
            padding: 40px 0;
        }
    }

    .page__subtitle_main{
        color:@color_gray-1;
    }
}