section.project-page
    .wrapper
        .project-page-content
            include ../blocks/mixins/mixin-project-title
            +project-title("Интернет-магазин", "Get-advanced")
            .project-page-content__description
                .page__text Мы – группа компаний Advanced, а лучше сказать – группа людей. Мы развиваем консалтинговый бизнес с тремя дополняющими друг друга подразделениями – Analytix, Adwise и Augmento – которые преследуют одну важную цель – помогать бизнесу становиться проще, быстрее и, главное, совершеннее. Это в нашей ДНК, все именно с этого и началось – с IT-решений. Мы придирчиво выбираем признанные и восходящие платформы со всего мира, которые призваны упростить работу, ускорить бизнес процессы и в итоге усовершенствовать процессы планирования и управления данными. Чтобы бизнес был сконцентрирован на объяснении своих успешных решений, а не причин неудач.
                .project-tab__tab
                    .page__img
                        img(src="")
            aside.project-info
                    .project-info__element
                        h3.page__title-h3 Ссылка:
                        a.page__link.page__link_site(href="") get-advanced.com
                    .project-info__element.project-info__element_list
                        h3.page__title-h3 Список страниц:
                        a.page__link.page__link_active(href="") О проекте
                        a.page__link(href="") Главная
                        a.page__link(href="") Услуги
                        a.page__link(href="") Команда
                        a.page__link(href="") Контакты
                    .project-info__element
                        h3.page__title-h3 Задача:
                        p.page__text Разработка сайта для компании Get-advanced.
                    .project-info__element
                        h3.page__title-h3 Используемые технологии:
                        ul.page__list
                            li.page__list_text Frontend:
                                ul.page__list
                                    li.page__list_icon
                                        img.apge__img(src="../assets/img/logos/img-html-logo.png")
                                    li.page__list_icon
                                        img.apge__img(src="../assets/img/logos/img-css-logo.png")
                                    li.page__list_icon
                                        img.apge__img(src="../assets/img/logos/img-javascript-logo.png")
                                    li.page__list_icon
                                        img.apge__img(src="../assets/img/logos/img-jq-logo.png")
                                
                            li.page__list_text Backend:
                                ul.page__list
                                        li.page__list_icon
                                            img.apge__img(src="../assets/img/logos/img-php-logo.png")
                            li.page__list_text CMS:
                                ul.page__list
                                        li.page__list_icon
                                            img.apge__img(src="../assets/img/logos/img-wordpress-logo.png")
                    .project-info__element
                        h3.page__title-h3 Сроки:
                        p.page__text 40 дней.
                    .project-info__element
                        h3.page__title-h3 Дата создания:
                        p.page__text 9 февраля 2019