extends ../templates/template
block base
	base(href='../')
block title
	title Portfolio Project page
block append style
block content
	include ../modules/header-module
	include content
block append script
	script(src='assets/data/data.json')
	script(src='../js/tabs.js')
	script(src='../js/render-content.js')