mixin service(src, subtitle, description)
    .service
        .page__img
            img(src=src)
        h4.page__subtitle=subtitle
        .page__description
            h4.page__subtitle.page_text-center=subtitle
            p.page__text=description