// HEADER NAVIGATION
header
  .socButt-wrapp
    .socButt
      a(target='_blank' href='https://www.facebook.com/vrjazzagency/?fref=ts')
        i.fa.fa-facebook(aria-hidden='true')
      a(target='_blank' href='https://vk.com/vrjazz')
        i.fa.fa-vk(aria-hidden='true')
      a(target='_blank' href='https://twitter.com/Vr_Jazz')
        i.fa.fa-twitter(aria-hidden='true')
      a(target='_blank' href='https://www.instagram.com/vr_jazz_agency')
        i.fa.fa-instagram(aria-hidden='true')
      a(target='_blank' href='https://www.youtube.com/user/Florents1/videos')
        i.fa.fa-youtube-square(aria-hidden='true')
    .socButt-text
      | Jazz 
      span Delivery
      | : Come Rain or Come Shine!
  #topClick
    i.fa.fa-bars
  nav#topFix.topFix
    a.Language-logo.logo-min(href='https://vrjazzagency.com/')
      img.chooseLanguage(src='img/logo-min.png' alt='logo')
    ul
      li
        a.topFix-active(href='/') &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
      li
        a(href='service/') &Ucy;&scy;&lcy;&ucy;&gcy;&icy;
      li
        a(href='concerts/') &acy;&fcy;&icy;&shcy;&acy;
      li
        a(href='musicans/') &Rcy;&iecy;&zcy;&icy;&dcy;&iecy;&ncy;&tcy;&ycy;
      li
        a(href='news/') &ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy;
      li
        a(href='about/') &ocy;&bcy; &acy;&gcy;&iecy;&ncy;&tcy;&scy;&tcy;&vcy;&iecy;
      li
        a(href='contacts/') &kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
      li
        a(href='partners/') &pcy;&acy;&rcy;&tcy;&ncy;&iecy;&rcy;&ycy;
    .chooseLanguage-desk
      a.ru.active.Language-a(href='https://vrjazzagency.com/')
        img.chooseLanguage(src='/img/flag_ru.png')
        span English
      a.en.Language-a(href='https://vrjazzagency.com/en/index/')
        img.chooseLanguage(src='/img/flag_en.png')
        span English
    .chooseLanguage-wrapp
      a.ru.active.Language-a(href='https://vrjazzagency.com/')
        img.chooseLanguage(src='/img/flag_ru.png')
        span English
      a.en.Language-a(href='https://vrjazzagency.com/en/index/')
        img.chooseLanguage(src='/img/flag_en.png')
        span English
// END HEADER NAVIGATION
// CONTENT
#fullpage
  #section0.section.filterWrappBackground.fp-section.active.fp-table.fp-completely.section0(data-anchor='0' style='height: 900px;')
    .fp-tableCell(style='height:900px;')
      .section_fon2
        .section_fon
          .container
            img.topLogo(src='/img/logo.png' alt='logo' title='Логотип')
            h1 &Mcy;&iecy;&zhcy;&dcy;&ucy;&ncy;&acy;&rcy;&ocy;&dcy;&ncy;&ocy;&iecy; &dcy;&zhcy;&acy;&zcy;&ocy;&vcy;&ocy;&iecy; &acy;&gcy;&iecy;&ncy;&tcy;&scy;&tcy;&vcy;&ocy;
            h2.topSing
              | &kcy;&ocy;&ncy;&tscy;&iecy;&rcy;&tcy;&ycy; &icy; &fcy;&iecy;&scy;&tcy;&icy;&vcy;&acy;&lcy;&icy; | &gcy;&acy;&scy;&tcy;&rcy;&ocy;&lcy;&icy; &zcy;&vcy;&iecy;&zcy;&dcy; &dcy;&zhcy;&acy;&zcy;&acy; | &shcy;&ocy;&ucy; &pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&ycy; | &scy;&ocy;&pcy;&rcy;&ocy;&vcy;&ocy;&zhcy;&dcy;&iecy;&ncy;&icy;&iecy; &scy;&ocy;&bcy;&ycy;&tcy;&icy;&jcy;
  #section1.section.fp-section.fp-table.section1(data-anchor='1' style='height: 900px;')
    .fp-tableCell(style='height:900px;')
      .section_fon
        .container
          .row
            .col-lg-3
              h2 &Kcy;&tcy;&ocy; &mcy;&ycy; 
              p
                | &Kcy;&ocy;&ncy;&tscy;&iecy;&rcy;&tcy;&ncy;&ocy;&iecy; &acy;&gcy;&iecy;&ncy;&tcy;&scy;&tcy;&vcy;&ocy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ocy;&iecy; &zcy;&acy;&ncy;&icy;&mcy;&acy;&iecy;&tcy;&scy;&yacy; &pcy;&rcy;&ocy;&dcy;&yucy;&scy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy;&mcy; &dcy;&zhcy;&acy;&zcy;&ocy;&vcy;&ycy;&khcy; &acy;&rcy;&tcy;&icy;&scy;&tcy;&ocy;&vcy;, &ocy;&rcy;&gcy;&acy;&ncy;&icy;&zcy;&acy;&tscy;&icy;&iecy;&jcy; &ucy;&ncy;&icy;&kcy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; &kcy;&ocy;&ncy;&tscy;&iecy;&rcy;&tcy;&ocy;&vcy;, &fcy;&iecy;&scy;&tcy;&icy;&vcy;&acy;&lcy;&iecy;&jcy; &icy;&nbsp;&gcy;&acy;&scy;&tcy;&rcy;&ocy;&lcy;&iecy;&jcy; &scy;&nbsp;&icy;&khcy;&nbsp;&ucy;&chcy;&acy;&scy;&tcy;&icy;&iecy;&mcy; &vcy;&nbsp;&Rcy;&ocy;&scy;&scy;&icy;&icy; &icy;&nbsp;&zcy;&acy;&nbsp;&rcy;&ucy;&bcy;&iecy;&zhcy;&ocy;&mcy;, &acy;&nbsp;&tcy;&acy;&kcy;&zhcy;&iecy; &scy;&ocy;&pcy;&rcy;&ocy;&vcy;&ocy;&zhcy;&dcy;&iecy;&ncy;&icy;&yacy; &chcy;&acy;&scy;&tcy;&ncy;&ycy;&khcy; &mcy;&iecy;&rcy;&ocy;&pcy;&rcy;&icy;&yacy;&tcy;&icy;&jcy; &ncy;&acy;&nbsp;&vcy;&ycy;&scy;&shcy;&iecy;&mcy; &ucy;&rcy;&ocy;&vcy;&ncy;&iecy; &dcy;&lcy;&yacy; &bcy;&ocy;&lcy;&softcy;&shcy;&icy;&khcy; &kcy;&ocy;&rcy;&pcy;&ocy;&rcy;&acy;&tcy;&icy;&vcy;&ncy;&ycy;&khcy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&ocy;&vcy;.
            .col-lg-3
              h2 &Ncy;&acy;&shcy;&icy; &tscy;&iecy;&lcy;&icy;
              div
                p &Pcy;&rcy;&ocy;&scy;&vcy;&iecy;&shchcy;&iecy;&ncy;&icy;&iecy;, &pcy;&ocy;&pcy;&ucy;&lcy;&yacy;&rcy;&icy;&zcy;&acy;&tscy;&icy;&yacy; &dcy;&zhcy;&acy;&zcy;&acy; &icy;&nbsp;&scy;&mcy;&iecy;&zhcy;&ncy;&ycy;&khcy; &iecy;&mcy;&ucy; &scy;&tcy;&icy;&lcy;&iecy;&jcy;
                p &Pcy;&ocy;&dcy;&dcy;&iecy;&rcy;&zhcy;&kcy;&acy; &ucy;&ncy;&icy;&kcy;&acy;&lcy;&softcy;&ncy;&ocy;&gcy;&ocy; &tcy;&vcy;&ocy;&rcy;&chcy;&iecy;&scy;&tcy;&vcy;&acy; &dcy;&zhcy;&acy;&zcy;&ocy;&vcy;&ycy;&khcy; &acy;&rcy;&tcy;&icy;&scy;&tcy;&ocy;&vcy;
                p &Scy;&ocy;&zcy;&dcy;&acy;&ncy;&icy;&iecy; &pcy;&ocy;&chcy;&vcy;&ycy; &dcy;&lcy;&yacy; &vcy;&zcy;&acy;&icy;&mcy;&ocy;&dcy;&iecy;&jcy;&scy;&tcy;&vcy;&icy;&yacy; &icy;&scy;&kcy;&ucy;&scy;&scy;&tcy;&vcy;&acy; &icy;&nbsp;&bcy;&icy;&zcy;&ncy;&iecy;&scy;&acy;
                p &Pcy;&rcy;&ocy;&dcy;&vcy;&icy;&zhcy;&iecy;&ncy;&icy;&iecy; &icy;&ncy;&tcy;&iecy;&rcy;&iecy;&scy;&ocy;&vcy; &acy;&gcy;&iecy;&ncy;&tcy;&scy;&tcy;&vcy;&acy; &vcy;&nbsp;&Rcy;&ocy;&scy;&scy;&icy;&icy; &icy;&nbsp;&zcy;&acy;&nbsp;&rcy;&ucy;&bcy;&iecy;&zhcy;&ocy;&mcy;
              a.btn-web-device(href='about/') &pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
            .col-lg-3
              h2 &Ncy;&acy;&shcy;&icy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&ycy;
              p
                | &Pcy;&rcy;&iecy;&dcy;&scy;&tcy;&acy;&vcy;&icy;&tcy;&iecy;&lcy;&icy; &kcy;&rcy;&ucy;&pcy;&ncy;&ocy;&gcy;&ocy; &icy;&nbsp;&scy;&rcy;&iecy;&dcy;&ncy;&iecy;&gcy;&ocy; &bcy;&icy;&zcy;&ncy;&iecy;&scy;&acy; &ocy;&tcy;&dcy;&acy;&yucy;&shchcy;&icy;&iecy; &pcy;&rcy;&iecy;&dcy;&pcy;&ocy;&chcy;&tcy;&iecy;&ncy;&icy;&iecy; &icy;&zcy;&ycy;&scy;&kcy;&acy;&ncy;&ncy;&ocy;&mcy;&ucy; &mcy;&ucy;&zcy;&ycy;&kcy;&acy;&lcy;&softcy;&ncy;&ocy;&mcy;&ucy; &scy;&ocy;&pcy;&rcy;&ocy;&vcy;&ocy;&zhcy;&dcy;&iecy;&ncy;&icy;&yucy;, &IEcy;vent &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy; &icy;&nbsp;&bcy;&ocy;&lcy;&iecy;&iecy; 200&nbsp;&fcy;&icy;&lcy;&acy;&rcy;&mcy;&ocy;&ncy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&khcy;, &tcy;&iecy;&acy;&tcy;&rcy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; &icy;&nbsp;&kcy;&lcy;&ucy;&bcy;&ncy;&ycy;&khcy; &kcy;&ocy;&ncy;&tscy;&iecy;&rcy;&tcy;&ncy;&ycy;&khcy; &pcy;&lcy;&ocy;&shchcy;&acy;&dcy;&ocy;&kcy; &Rcy;&ocy;&scy;&scy;&icy;&icy;, &Acy;&zcy;&icy;&icy; &icy;&nbsp;&IEcy;&vcy;&rcy;&ocy;&pcy;&ycy;, &acy;&nbsp;&tcy;&acy;&kcy;&zhcy;&iecy; &vcy;&iecy;&dcy;&ucy;&shchcy;&icy;&iecy; &mcy;&icy;&rcy;&ocy;&vcy;&ycy;&iecy; &dcy;&zhcy;&acy;&zcy;&ocy;&vcy;&ycy;&iecy; &fcy;&iecy;&scy;&tcy;&icy;&vcy;&acy;&lcy;&icy;.
              a.btn-min-device(href='about/') &pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
            .col-lg-3
              h2 &Ncy;&acy;&shcy;&icy; &rcy;&iecy;&zcy;&icy;&dcy;&iecy;&ncy;&tcy;&ycy;
              p
                | &Pcy;&ocy;&scy;&tcy;&ocy;&yacy;&ncy;&ncy;&ocy; &kcy;&ocy;&ncy;&tscy;&iecy;&ncy;&tcy;&rcy;&icy;&rcy;&ucy;&yucy;&shchcy;&icy;&iecy; &icy;&ncy;&ocy;&scy;&tcy;&rcy;&acy;&ncy;&ncy;&ycy;&iecy; &icy;&nbsp;&rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&icy;&iecy; &mcy;&ucy;&zcy;&ycy;&kcy;&acy;&ncy;&tcy;&ycy;, &zcy;&vcy;&iecy;&zcy;&dcy;&ycy; &dcy;&zhcy;&acy;&zcy;&acy; &icy;&nbsp;&mcy;&ocy;&lcy;&ocy;&dcy;&ycy;&iecy; &mcy;&ncy;&ocy;&gcy;&ocy;&ocy;&bcy;&iecy;&shchcy;&acy;&yucy;&shchcy;&icy;&iecy; &acy;&rcy;&tcy;&icy;&scy;&tcy;&ycy;, &pcy;&rcy;&iecy;&dcy;&scy;&tcy;&acy;&vcy;&icy;&tcy;&iecy;&lcy;&icy; &scy;&acy;&mcy;&ycy;&khcy; &rcy;&acy;&zcy;&lcy;&icy;&chcy;&ncy;&ycy;&khcy; &scy;&tcy;&icy;&lcy;&iecy;&jcy; &ecy;&tcy;&ocy;&jcy; &mcy;&ucy;&zcy;&ycy;&kcy;&icy;. &Mcy;&ycy;&nbsp;&ncy;&iecy;&nbsp;&scy;&ocy;&tcy;&rcy;&ucy;&dcy;&ncy;&icy;&chcy;&acy;&iecy;&mcy; &scy; &kcy;&acy;&vcy;&iecy;&rcy; &gcy;&rcy;&ucy;&pcy;&pcy;&acy;&mcy;&icy; &icy;&nbsp;&ocy;&tcy;&dcy;&acy;&iecy;&mcy; &pcy;&rcy;&iecy;&dcy;&pcy;&ocy;&chcy;&tcy;&iecy;&ncy;&icy;&iecy; &tcy;&ocy;&lcy;&softcy;&kcy;&ocy; &ucy;&ncy;&icy;&kcy;&acy;&lcy;&softcy;&ncy;&ycy;&mcy; &pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&acy;&mcy;.
              a(href='musicans/') &pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
  #section2.section.fp-section.fp-table.section2(data-anchor='2' style='height: 900px;')
    .fp-tableCell(style='height:900px;')
      .section_fon2
        .section_fon
          .container
            h2 &Acy;&fcy;&icy;&shcy;&acy;
            .rowTable
              .colTable
                .colTable-col1
                  span &Kcy;&acy;&zhcy;&dcy;&ucy;&yucy; &Scy;&ucy;&bcy;&bcy;&ocy;&tcy;&ucy;
                .colTable-col2  &Rcy;&ocy;&scy;&scy;&icy;&yacy;, &Mcy;&ocy;&scy;&kcy;&vcy;&acy;, JAM CLUB
                .colTable-col3 COOL JAZZ JAM SESSION
                .colTable-col4
                  input(type='hidden' name='action' value='poster')
                  input(type='hidden' name='date' value='Каждую Субботу')
                  input(type='hidden' name='place' value=' Россия, Москва, JAM CLUB')
                  input(type='hidden' name='musican' value='')
                  a(href='https://www.jamclub.moscow/' target='_blank') &kcy;&ucy;&pcy;&icy;&tcy;&softcy; &bcy;&icy;&lcy;&iecy;&tcy;
              .colTable
                .colTable-col1
                  span 2 &mcy;&acy;&yacy;
                .colTable-col2 Italy, Milan, Bonaventura Music Club
                .colTable-col3 NATALIA SKVORTSOVA ITALIAN TRIO
                .colTable-col4
                  input(type='hidden' name='action' value='poster')
                  input(type='hidden' name='date' value='2 мая')
                  input(type='hidden' name='place' value='Italy, Milan, Bonaventura Music Club')
                  input(type='hidden' name='musican' value='')
                  a(href='' target='_blank') &kcy;&ucy;&pcy;&icy;&tcy;&softcy; &bcy;&icy;&lcy;&iecy;&tcy;
              .colTable
                .colTable-col1
                  span 7 &mcy;&acy;&yacy;
                .colTable-col2 Italy, Turin, MAD DOG
                .colTable-col3 NATALIA SKVORTSOVA ITALIAN TRIO
                .colTable-col4
                  input(type='hidden' name='action' value='poster')
                  input(type='hidden' name='date' value='7 мая')
                  input(type='hidden' name='place' value='Italy, Turin, MAD DOG')
                  input(type='hidden' name='musican' value='')
                  a(href='' target='_blank') &kcy;&ucy;&pcy;&icy;&tcy;&softcy; &bcy;&icy;&lcy;&iecy;&tcy;
            a.section2ButtBottom(href='concerts/') &vcy;&scy;&iecy; &kcy;&ocy;&ncy;&tscy;&iecy;&rcy;&tcy;&ycy; 
  #section3.section.fp-section.fp-table.section3(data-anchor='3' style='height: 900px;')
    .fp-tableCell(style='height:900px;')
      .section_fon
        .container
          h2 &Ucy;&scy;&lcy;&ucy;&gcy;&icy;
          .row
            .col-lg-4
              .section3-title
                img(src='/img/vector_smart_object.png' alt='logo')
                h3
                  | &Tcy;&iecy;&mcy;&acy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&iecy;
                  br
                  |  &shcy;&ocy;&ucy; &pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&ycy;
              p
                | &Scy;&pcy;&iecy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy; &dcy;&lcy;&yacy; &ncy;&acy;&shcy;&icy;&khcy; &pcy;&acy;&rcy;&tcy;&ncy;&iecy;&rcy;&ocy;&vcy;, &mcy;&ycy;&nbsp;&iecy;&zhcy;&iecy;&dcy;&ncy;&iecy;&vcy;&ncy;&ocy; &scy;&ocy;&zcy;&dcy;&acy;&iecy;&mcy; &ucy;&ncy;&icy;&kcy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy; &shcy;&ocy;&ucy;-&pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&ycy;, &kcy;&ocy;&mcy;&pcy;&lcy;&iecy;&kcy;&scy;&ncy;&ycy;&iecy; &tcy;&iecy;&mcy;&acy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&iecy; &pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&ycy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&iecy; &pcy;&ocy;&mcy;&icy;&mcy;&ocy; &tcy;&shchcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy; &ocy;&tcy;&ocy;&bcy;&rcy;&acy;&ncy;&ncy;&ocy;&jcy; &ncy;&acy;&mcy;&icy; &mcy;&ucy;&zcy;&ycy;&kcy;&icy;, &vcy;&kcy;&lcy;&yucy;&chcy;&acy;&yucy;&tcy; &vcy;&nbsp;&scy;&iecy;&bcy;&yacy; &mcy;&ncy;&ocy;&zhcy;&iecy;&scy;&tcy;&vcy;&ocy; &dcy;&rcy;&ucy;&gcy;&icy;&khcy; &ucy;&scy;&lcy;&ucy;&gcy;.
              a(href='progs/') &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
            .col-lg-4
              .section3-title
                img(src='/img/vector_smart_object_2.png' alt='logo')
                h3
                  | &Zcy;&vcy;&iecy;&zcy;&dcy;&ycy; &pcy;&iecy;&rcy;&vcy;&ocy;&jcy;
                  br
                  |  &vcy;&iecy;&lcy;&icy;&chcy;&icy;&ncy;&ycy;
              p
                | &Pcy;&ocy;&mcy;&icy;&mcy;&ocy; &rcy;&acy;&bcy;&ocy;&tcy;&ycy; &scy;&nbsp;&ncy;&acy;&shcy;&icy;&mcy;&icy; &rcy;&iecy;&zcy;&icy;&dcy;&iecy;&ncy;&tcy;&acy;&mcy;&icy;, &mcy;&ycy;&nbsp;&icy;&mcy;&iecy;&iecy;&mcy; &tcy;&iecy;&scy;&ncy;&ycy;&iecy; &scy;&vcy;&yacy;&zcy;&icy; &scy;&nbsp;&vcy;&iecy;&dcy;&ucy;&shchcy;&icy;&mcy;&icy; &acy;&gcy;&iecy;&ncy;&tcy;&scy;&tcy;&vcy;&acy;&mcy;&icy; &Scy;&SHcy;&Acy; &icy;&nbsp;&IEcy;&vcy;&rcy;&ocy;&pcy;&ycy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&iecy; &pcy;&rcy;&iecy;&dcy;&scy;&tcy;&acy;&vcy;&lcy;&yacy;&yucy;&tcy; &icy;&ncy;&tcy;&iecy;&rcy;&iecy;&scy;&ycy; &zcy;&vcy;&iecy;&zcy;&dcy; &mcy;&icy;&rcy;&ocy;&vcy;&ocy;&gcy;&ocy; &dcy;&zhcy;&acy;&zcy;&acy; &icy;&nbsp; World Music. &Mcy;&ycy;&nbsp;&scy;&nbsp;&ucy;&dcy;&ocy;&vcy;&ocy;&lcy;&softcy;&scy;&tcy;&vcy;&icy;&iecy;&mcy; &ocy;&bcy;&iecy;&scy;&pcy;&iecy;&chcy;&icy;&mcy; &icy;&khcy; &ucy;&chcy;&acy;&scy;&tcy;&icy;&iecy; &vcy;&nbsp;&vcy;&acy;&shcy;&iecy;&mcy; &scy;&ocy;&bcy;&ycy;&tcy;&icy;&icy;.
              a(href='stars/') &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
            .col-lg-4
              .section3-title
                img(src='/img/vector_smart_object_3.png' alt='logo')
                h3
                  | &Mcy;&iecy;&rcy;&ocy;&pcy;&rcy;&icy;&yacy;&tcy;&icy;&iecy;
                  br
                  |  &pcy;&ocy;&dcy; &kcy;&lcy;&yucy;&chcy;
              p
                | &Kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ocy; &ncy;&ocy;&vcy;&ycy;&jcy; &pcy;&ocy;&dcy;&khcy;&ocy;&dcy; &kcy;&nbsp;&ocy;&rcy;&gcy;&acy;&ncy;&icy;&zcy;&acy;&tscy;&icy;&icy; &mcy;&ucy;&zcy;&ycy;&kcy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; &scy;&ocy;&bcy;&ycy;&tcy;&icy;&jcy; &mdash;&nbsp;&icy;&ncy;&dcy;&icy;&vcy;&icy;&dcy;&ucy;&acy;&lcy;&softcy;&ncy;&acy;&yacy; &rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&acy; &ocy;&rcy;&icy;&gcy;&icy;&ncy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; art-&scy;&ocy;&bcy;&ycy;&tcy;&icy;&jcy; &icy;&scy;&khcy;&ocy;&dcy;&yacy; &icy;&zcy;&nbsp;&vcy;&acy;&shcy;&icy;&khcy; &lcy;&icy;&chcy;&ncy;&ycy;&khcy; &pcy;&rcy;&iecy;&dcy;&pcy;&ocy;&chcy;&tcy;&iecy;&ncy;&icy;&jcy; &icy;&nbsp;&pcy;&ocy;&zhcy;&iecy;&lcy;&acy;&ncy;&icy;&jcy; &vcy;&acy;&shcy;&iecy;&jcy; &acy;&ucy;&dcy;&icy;&tcy;&ocy;&rcy;&icy;&icy;. &Ucy;&nbsp;&vcy;&acy;&scy; &iecy;&scy;&tcy;&softcy; &icy;&dcy;&iecy;&yacy;, &acy;&nbsp;&mcy;&ycy;&nbsp;&khcy;&ocy;&rcy;&ocy;&shcy;&ocy; &zcy;&ncy;&acy;&iecy;&mcy;, &kcy;&acy;&kcy; &iecy;&iecy;&nbsp;&rcy;&iecy;&acy;&lcy;&icy;&zcy;&ocy;&vcy;&acy;&tcy;&softcy;!
              a(href='key/') &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
          a.red(href='#modal') &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&tcy;&softcy; &pcy;&rcy;&iecy;&dcy;&vcy;&acy;&rcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&jcy; &rcy;&acy;&scy;&chcy;&iecy;&tcy;
  #section5.section.fp-section.fp-table.section5(data-anchor='4' style='height: 900px;')
    .fp-tableCell(style='height:900px;')
      .section_fon
        .container
          h2 &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy;
          .row.list
            .item.col-lg-4.news-cont(filter='')
              a.slideref.content(href='news/natalia-sk/')
                .content_item.news_item
                  .img-cont
                    .img.parallax(style='height: 200px;background:url(/uploads/images/./skv10.jpg) top center no-repeat; background-size:cover;')
                  .date 2018-11-26
                  h3 Natalia Skvortsova &ocy;&tcy;&pcy;&rcy;&acy;&vcy;&icy;&tcy;&scy;&yacy; &vcy; &tcy;&rcy;&iecy;&tcy;&softcy;&icy; &gcy;&acy;&scy;&tcy;&rcy;&ocy;&lcy;&icy; &pcy;&ocy; &Icy;&tcy;&acy;&lcy;&icy;&icy;!
                  p
                    | &Vcy; &mcy;&acy;&iecy; &pcy;&ocy;&dcy; &ecy;&gcy;&icy;&dcy;&ocy;&jcy; VR Jazz Agency &scy;&ocy;&scy;&tcy;&ocy;&icy;&tcy;&scy;&yacy; &tcy;&rcy;&iecy;&tcy;&softcy;&icy; &gcy;&acy;&scy;&tcy;&rcy;&ocy;&lcy;&icy; &Ncy;&acy;&tcy;&acy;&lcy;&softcy;&icy; &Scy;&kcy;&vcy;&ocy;&rcy;&tscy;&ocy;&vcy;&ocy;&jcy; &pcy;&ocy; &Icy;&tcy;&acy;&lcy;&icy;&icy;. &Kcy;&ocy;&ncy;&tscy;&iecy;&rcy;&tcy;&ycy; &pcy;&rcy;&ocy;&jcy;&dcy;&ucy;&tcy; &scy;&ocy; 2 &pcy;&ocy; 9 &mcy;&acy;&yacy; &vcy; &Mcy;&icy;&lcy;&acy;&ncy;&iecy;, &Tcy;&ucy;&rcy;&icy;&ncy;&iecy;, &Vcy;&iecy;&ncy;&iecy;&tscy;&icy;&icy; &icy; &Bcy;&icy;&iecy;&lcy;&lcy;&iecy;. &Kcy; &ncy;&iecy;&jcy; &pcy;&rcy;&icy;&scy;&ocy;&iecy;&dcy;&icy;&ncy;&yacy;&tcy;&softcy;&scy;&yacy;  &icy;&tcy;&acy;&lcy;&softcy;&yacy;&ncy;&scy;&kcy;&icy;&iecy; &mcy;&ucy;&zcy;&ycy;&kcy;&acy;&ncy;&tcy;&ycy; Andrea Beccaro &icy; Michelangelo Scandroglio! &Vcy; &pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&iecy;, &kcy;&acy;&kcy; &icy; &vcy;&scy;&iecy;&gcy;&dcy;&acy;, &acy;&vcy;&tcy;&ocy;&rcy;&scy;&kcy;&acy;&yacy; &mcy;&ucy;&zcy;&ycy;&kcy;&acy; &Ncy;&acy;&tcy;&acy;&lcy;&softcy;&icy; &icy; &mcy;&ncy;&ocy;&zhcy;&iecy;&scy;&tcy;&vcy;&ocy; &ncy;&ocy;&vcy;&ycy;&khcy; &kcy;&ocy;&mcy;&pcy;&ocy;&zcy;&icy;&tscy;&icy;&jcy;!
            .item.col-lg-4.news-cont(filter='')
              a.slideref.content(href='news/группа-emp/')
                .content_item.news_item
                  .img-cont
                    .img.parallax(style='height: 200px;background:url(/uploads/images/./-mYhorW8Ffo.jpg) top center no-repeat; background-size:cover;')
                  .date 2018-11-26
                  h3 &Gcy;&rcy;&ucy;&pcy;&pcy;&acy; Empathy Project &pcy;&rcy;&iecy;&dcy;&scy;&tcy;&acy;&vcy;&icy;&tcy; &scy;&vcy;&ocy;&jcy; &dcy;&iecy;&bcy;&yucy;&tcy;&ncy;&ycy;&jcy; &acy;&lcy;&softcy;&bcy;&ocy;&mcy; &quot;INFLUENCES&quot;!
                  p
                    | &laquo;Influences&raquo; &mdash; &dcy;&iecy;&bcy;&yucy;&tcy;&ncy;&acy;&yacy; &pcy;&lcy;&acy;&scy;&tcy;&icy;&ncy;&kcy;&acy; &mcy;&ocy;&lcy;&ocy;&dcy;&ocy;&jcy; &mcy;&ncy;&ocy;&gcy;&ocy;&ocy;&bcy;&iecy;&shchcy;&acy;&yucy;&shchcy;&iecy;&jcy; &kcy;&ocy;&mcy;&acy;&ncy;&dcy;&ycy; Empathy Project &icy;&zcy; &Scy;&acy;&ncy;&kcy;&tcy;-&Pcy;&iecy;&tcy;&iecy;&rcy;&bcy;&ucy;&rcy;&gcy;&acy;. &Acy;&lcy;&softcy;&bcy;&ocy;&mcy; &vcy;&ycy;&shcy;&iecy;&lcy; &ncy;&acy; &lcy;&iecy;&jcy;&bcy;&lcy;&iecy; FANCYMUSIC, &iecy;&gcy;&ocy; &pcy;&rcy;&iecy;&zcy;&iecy;&ncy;&tcy;&acy;&tscy;&icy;&yacy; &scy;&ocy;&scy;&tcy;&ocy;&yacy;&lcy;&icy;&scy;&softcy; &vcy; &icy;&yucy;&lcy;&iecy; &pcy;&rcy;&ocy;&shcy;&lcy;&ocy;&gcy;&ocy; &gcy;&ocy;&dcy;&acy; &vcy; &Scy;&iecy;&vcy;&iecy;&rcy;&ncy;&ocy;&jcy; &Pcy;&acy;&lcy;&softcy;&mcy;&icy;&rcy;&iecy;, &acy; &icy;&zcy;&vcy;&iecy;&scy;&tcy;&ncy;&ycy;&jcy; &mcy;&iecy;&zhcy;&dcy;&ucy;&ncy;&acy;&rcy;&ocy;&dcy;&ncy;&ycy;&jcy; &dcy;&zhcy;&acy;&zcy;&ocy;&vcy;&ycy;&jcy; &pcy;&ocy;&rcy;&tcy;&acy;&lcy; All About Jazz, &vcy;&ycy;&bcy;&rcy;&acy;&lcy; &kcy;&ocy;&mcy;&pcy;&ocy;&zcy;&icy;&tscy;&icy;&yucy; &laquo;Sunny Day&raquo; &vcy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy; &laquo;&Tcy;&rcy;&iecy;&kcy;&acy; &Dcy;&ncy;&yacy;&raquo;. &Icy; &vcy;&scy;&iecy; &zhcy;&iecy;, &pcy;&ocy; &vcy;&iecy;&lcy;&icy;&chcy;&acy;&jcy;&shcy;&iecy;&jcy; &ncy;&iecy;&scy;&pcy;&rcy;&acy;&vcy;&iecy;&dcy;&lcy;&icy;&vcy;&ocy;&scy;&tcy;&icy; &ecy;&tcy;&icy; &scy;&ocy;&bcy;&ycy;&tcy;&icy;&yacy; &ocy;&scy;&tcy;&acy;&lcy;&ocy;&scy;&softcy; &pcy;&ocy;&chcy;&tcy;&icy; &ncy;&iecy;&zcy;&acy;&mcy;&iecy;&chcy;&iecy;&ncy;&ncy;&ycy;&mcy;&icy; &mcy;&ocy;&scy;&kcy;&ocy;&vcy;&scy;&kcy;&ocy;&jcy; &acy;&ucy;&dcy;&icy;&tcy;&ocy;&rcy;&icy;&iecy;&jcy;. &Icy;&scy;&pcy;&rcy;&acy;&vcy;&icy;&tcy;&softcy; &ecy;&tcy;&ocy; &ncy;&iecy;&dcy;&ocy;&rcy;&acy;&zcy;&ucy;&mcy;&iecy;&ncy;&icy;&iecy; &mcy;&ocy;&zhcy;&ncy;&ocy; &bcy;&ucy;&dcy;&iecy;&tcy; &ucy;&zhcy;&iecy; 17 &acy;&pcy;&rcy;&iecy;&lcy;&yacy;, &kcy;&ocy;&gcy;&dcy;&acy; &kcy;&ocy;&lcy;&lcy;&iecy;&kcy;&tcy;&icy;&vcy; &pcy;&rcy;&iecy;&dcy;&scy;&tcy;&acy;&vcy;&icy;&tcy; &scy;&vcy;&ocy;&jcy; &acy;&lcy;&softcy;&bcy;&ocy;&mcy; &ncy;&acy; &gcy;&lcy;&acy;&vcy;&ncy;&ocy;&jcy; &scy;&tscy;&iecy;&ncy;&iecy; &kcy;&lcy;&ucy;&bcy;&acy; &Acy;&lcy;&iecy;&kcy;&scy;&iecy;&yacy; &Kcy;&ocy;&zcy;&lcy;&ocy;&vcy;&acy;.
            .item.col-lg-4.news-cont(filter='')
              a.slideref.content(href='news/records/')
                .content_item.news_item
                  .img-cont
                    .img.parallax(style='height: 200px;background:url(/uploads/images/./IMG_5554hi_col.jpg) top center no-repeat; background-size:cover;')
                  .date 2018-11-26
                  h3 VR Jazz Agency (Records) &pcy;&rcy;&iecy;&dcy;&scy;&tcy;&acy;&vcy;&icy;&lcy;&icy; &scy;&vcy;&ocy;&jcy; &pcy;&iecy;&rcy;&vcy;&ycy;&jcy; &acy;&lcy;&softcy;&bcy;&ocy;&mcy;!
                  p
                    | 6 &mcy;&acy;&rcy;&tcy;&acy; &vcy; &kcy;&lcy;&ucy;&bcy;&iecy; &Acy;&lcy;&iecy;&kcy;&scy;&iecy;&yacy; &Kcy;&ocy;&zcy;&lcy;&ocy;&vcy;&acy; &pcy;&rcy;&ocy;&shcy;&lcy;&acy; &pcy;&rcy;&iecy;&zcy;&iecy;&ncy;&tcy;&acy;&tscy;&icy;&yacy; &acy;&lcy;&softcy;&bcy;&ocy;&mcy;&acy; Emanuele Cisi &amp; Francesca Tandoi &quot;Sometimes We&apos;re Happy&quot;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&jcy; &bcy;&ycy;&lcy; &vcy;&ycy;&pcy;&ucy;&shchcy;&iecy;&ncy; &ncy;&acy; &ncy;&ocy;&vcy;&ocy;&mcy; &ocy;&tcy;&iecy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ocy;&mcy; &lcy;&iecy;&jcy;&bcy;&lcy;&iecy; VR Jazz Records!
        a.btn_all(href='news/') &vcy;&scy;&iecy; &ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy;
  #section6.section.fp-section.fp-table.section6(data-anchor='5' style='height: 900px;')
    .fp-tableCell(style='height:900px;')
      .section_fon
        .container
          h2 &Vcy;&icy;&dcy;&iecy;&ocy; &Bcy;&lcy;&ocy;&gcy;
          .row
            .col-lg-4
              .content_item
                a(href='https://www.youtube.com/watch?v=KGLIEwsAf2c' target='_blank')
                  h3.video-a CHET BAKER &mdash; &Pcy;&Ocy;&Ecy;&Tcy; &Tcy;&Rcy;&Ucy;&Bcy;&Ycy;!
                iframe.video-i(src='https://www.youtube.com/embed/KGLIEwsAf2c')
            .col-lg-4
              .content_item
                a(href='https://www.youtube.com/watch?v=onHnmrEEgts' target='_blank')
                  h3.video-a &Kcy;&Acy;&Kcy; &Scy;&Tcy;&Acy;&Tcy;&SOFTcy; &Ucy;&Scy;&Pcy;&IEcy;&SHcy;&Ncy;&Ycy;&Mcy; &Mcy;&Ucy;&Zcy;&Ycy;&Kcy;&Acy;&Ncy;&Tcy;&Ocy;&Mcy;?
                iframe.video-i(src='https://www.youtube.com/embed/onHnmrEEgts')
            .col-lg-4
              .content_item
                a(href='https://www.youtube.com/watch?v=VcK56srn4D8' target='_blank')
                  h3.video-a &Pcy;&Ocy;&CHcy;&IEcy;&Mcy;&Ucy; &Scy;&Tcy;&Ocy;&Icy;&Tcy; &Ncy;&Acy;&CHcy;&Acy;&Tcy;&SOFTcy; &Scy;&Lcy;&Ucy;&SHcy;&Acy;&Tcy;&SOFTcy; JAZZ?!
                iframe.video-i(src='https://www.youtube.com/embed/VcK56srn4D8')
          a.btn_all(href='https://www.youtube.com/user/Florents1/featured' target='_blank') &vcy;&scy;&iecy; &vcy;&icy;&dcy;&iecy;&ocy;
  // START FOOTER
  #section7.section.fp-section.fp-table.section7(data-anchor='6' style='height: 900px;')
    .fp-tableCell(style='height:900px;')
      .container
        .row
          // START navMenufooter
          .footerCol1
            ul
              li.first
                a(href='/') &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
              li
                a(href='service/') &Ucy;&scy;&lcy;&ucy;&gcy;&icy;
              li
                a(href='concerts/') &acy;&fcy;&icy;&shcy;&acy;
              li.last
                a(href='musicans/') &Rcy;&iecy;&zcy;&icy;&dcy;&iecy;&ncy;&tcy;&ycy;
          .footerCol2
            ul
              li.first
                a(href='news/') &ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy;
              li
                a(href='about/') &ocy;&bcy; &acy;&gcy;&iecy;&ncy;&tcy;&scy;&tcy;&vcy;&iecy;
              li
                a(href='contacts/') &kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
              li.last
                a(href='partners/') &pcy;&acy;&rcy;&tcy;&ncy;&iecy;&rcy;&ycy;
          .footerCol3
            ul
              li.first
                a(href='progs/') &SHcy;&ocy;&ucy;-&pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&ycy;
              li
                a(href='stars/') &Zcy;&vcy;&iecy;&zcy;&dcy;&ycy; &dcy;&zhcy;&acy;&zcy;&acy; &ncy;&acy; &vcy;&acy;&shcy;&iecy; &scy;&ocy;&bcy;&ycy;&tcy;&icy;&iecy;
              li.last
                a(href='key/') &Mcy;&iecy;&rcy;&ocy;&pcy;&rcy;&icy;&yacy;&tcy;&icy;&iecy; &pcy;&ocy;&dcy; &kcy;&lcy;&yucy;&chcy;
          .footerCol4
            a.tel(href='tel:+74951202899') +7 (495) 120 28 99
            a.mailto(href='mailto:office@vrjazzagency.com') office@vrjazzagency.com
            .footer_socButt
              span &Pcy;&ocy;&dcy;&pcy;&icy;&scy;&acy;&tcy;&softcy;&scy;&yacy;
              a(target='_blank' href='https://www.facebook.com/vrjazzagency/?fref=ts')
                i.fa.fa-facebook(aria-hidden='true')
              a(target='_blank' href='https://vk.com/vrjazz')
                i.fa.fa-vk(aria-hidden='true')
              a(target='_blank' href='https://twitter.com/Vr_Jazz')
                i.fa.fa-twitter(aria-hidden='true')
              a(target='_blank' href='https://www.instagram.com/vr_jazz_agency')
                i.fa.fa-instagram(aria-hidden='true')
              a(target='_blank' href='https://www.youtube.com/user/Florents1/videos')
                i.fa.fa-youtube-square(aria-hidden='true')
          // END navMenufooter
  // END FOOTER
// START Remodal (popUp)
.remodal(data-remodal-id='modal' role='dialog' aria-labelledby='modal1Title' aria-describedby='modal1Desc')
  button.remodal-close(data-remodal-action='close' aria-label='Close')
  .row
    form#form.section4_form
      h2 &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&tcy;&iecy; &pcy;&rcy;&iecy;&dcy;&vcy;&acy;&rcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&jcy; &rcy;&acy;&scy;&chcy;&iecy;&tcy;
      h3 &dcy;&lcy;&yacy; &vcy;&acy;&shcy;&iecy;&gcy;&ocy; &mcy;&iecy;&rcy;&ocy;&pcy;&rcy;&icy;&yacy;&tcy;&icy;&yacy;
      .section4_form-block
        label &icy;&mcy;&yacy;
        input(type='text' name='name' required='')
      .section4_form-block
        label &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;
        input#phone(type='text' name='phone' placeholder='+7(___) ___-___' required='')
      .section4_form-block
        label e-mail
        input#email(type='text' name='email' placeholder='E-mail')
      .section4_form-block
        label &ucy;&scy;&lcy;&ucy;&gcy;&acy;
        select.cs-select.cs-skin-elastic.first(type='text' name='programs')
          option(value='' disabled='' selected='') &vcy;&ycy;&bcy;&iecy;&rcy;&icy;&tcy;&iecy; &ucy;&scy;&lcy;&ucy;&gcy;&ucy;
          option(value='Шоу программы' data-class='show_programm') &SHcy;&ocy;&ucy; &pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&ycy;
          option(value='звезды первой величины' data-class='show') &zcy;&vcy;&iecy;&zcy;&dcy;&ycy; &pcy;&iecy;&rcy;&vcy;&ocy;&jcy; &vcy;&iecy;&lcy;&icy;&chcy;&icy;&ncy;&ycy;
          option(value='мероприятие под ключ' data-class='show') &mcy;&iecy;&rcy;&ocy;&pcy;&rcy;&icy;&yacy;&tcy;&icy;&iecy; &pcy;&ocy;&dcy; &kcy;&lcy;&yucy;&chcy;
      #shows.section4_form-block
        label &SHcy;&ocy;&ucy;-&pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&acy;
        select.cs-select.cs-skin-elastic.second(type='text' name='shows')
          option(value='' disabled='' selected='') &vcy;&ycy;&bcy;&iecy;&rcy;&icy;&tcy;&iecy; &shcy;&ocy;&ucy;-&pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&ucy;
          option(value='SINATRA ШОУ') SINATRA &SHcy;&Ocy;&Ucy;
          option(value='SOMETHING BLUE (ИТАЛИЯ)') SOMETHING BLUE (&Icy;&Tcy;&Acy;&Lcy;&Icy;&YAcy;)
          option(value='FUNK & HIP HOP JAZZ') FUNK &amp; HIP HOP JAZZ
          option(value='ОДИН ВЕЧЕР В РИО-ДЕ-ЖАНЕЙРО (Бразилия)') &Ocy;&Dcy;&Icy;&Ncy; &Vcy;&IEcy;&CHcy;&IEcy;&Rcy; &Vcy; &Rcy;&Icy;&Ocy;-&Dcy;&IEcy;-&ZHcy;&Acy;&Ncy;&IEcy;&Jcy;&Rcy;&Ocy; (&Bcy;&rcy;&acy;&zcy;&icy;&lcy;&icy;&yacy;)
          option(value='LA DOLCE VITA (Италия)') LA DOLCE VITA (&Icy;&tcy;&acy;&lcy;&icy;&yacy;)
          option(value='ПЕРВЫЕ ЛЕДИ ДЖАЗА (США)') &Pcy;&IEcy;&Rcy;&Vcy;&Ycy;&IEcy; &Lcy;&IEcy;&Dcy;&Icy; &Dcy;&ZHcy;&Acy;&Zcy;&Acy; (&Scy;&SHcy;&Acy;)
          option(value='ОГНИ НЬЮ-ЙОРКА (США-Италия)') &Ocy;&Gcy;&Ncy;&Icy; &Ncy;&SOFTcy;&YUcy;-&Jcy;&Ocy;&Rcy;&Kcy;&Acy; (&Scy;&SHcy;&Acy;-&Icy;&tcy;&acy;&lcy;&icy;&yacy;)
          option(value='ДЖАЗ И ОПЕРА (Италия)') &Dcy;&ZHcy;&Acy;&Zcy; &Icy; &Ocy;&Pcy;&IEcy;&Rcy;&Acy; (&Icy;&tcy;&acy;&lcy;&icy;&yacy;)
          option(value='DJ & SMOOTH & ACCID JAZZ') DJ &amp; SMOOTH &amp; ACCID JAZZ
          option(value='ЛЕГЕНДЫ РОК-Н-РОЛЛА!') &Lcy;&IEcy;&Gcy;&IEcy;&Ncy;&Dcy;&Ycy; &Rcy;&Ocy;&Kcy;-&Ncy;-&Rcy;&Ocy;&Lcy;&Lcy;&Acy;!
      .section4_form-block
        label &bcy;&yucy;&dcy;&zhcy;&iecy;&tcy;
        select.cs-select.cs-skin-elastic.third(type='text' name='budget')
          option(value='' disabled='' selected='') &Bcy;&yucy;&dcy;&zhcy;&iecy;&tcy;
          option(value='200000-500000' data-class=' ') 200000-500000
          option(value='500000-1000000' data-class=' ') 500000-1000000
          option(value='1000000+' data-class=' ') 1000000+
      .section4_form-block
        label &dcy;&acy;&tcy;&acy;
        input#datepicker1(type='text' name='data' placeholder='dd.mm.yy')
      input#order-title(type='hidden' name='order-title' value='Международное джазовое агентство')
      button.section4_form-button &Pcy;&ocy;&lcy;&ucy;&chcy;&icy;&tcy;&softcy;
