<div class="title-block">
    <h3 class="title">
        <a href="#"><i class="fa fa-arrow-left"></i></a>
        Страница записи № 5343
        <span class="sparkline bar"></span>
    </h3>
</div>
<section class="section">
    <div class="row" >
        <div class="col-xs-6 col-xs-offset-3">
            <div class="card card-success">
                <div class="card-header">
                    <div class="header-block">
                        <p class="title">Доход</p>
                    </div>
                </div>
                <div class="card-block">
                    <ul>
                        <li>Сумма: <strong>44 444.44 P</strong></li>
                        <li>Категория: <strong>Название категории</strong></li>
                    </ul>
                </div>
                <div class="card-footer">12.12.2017</div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="section">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="card card-danger">
                <div class="card-header">
                    <div class="header-block">
                        <p class="title">Расход</p>
                    </div>
                </div>
                <div class="card-block">
                    <ul>
                        <li>Сумма: <strong>44 444.44 P</strong></li>
                        <li>Категория: <strong>Название категории</strong></li>
                    </ul>
                </div>
                <div class="card-footer">12.12.2017</div>
            </div>
        </div>
    </div>
</section> -->