.map {
    position: relative;
}

.map__text {
    position: absolute;
    left: 194px;
    top: 70px;
    color: #242625;
    font-family: "Playfair Display";
    font-size: 60px;
    font-weight: 700;
    background-color: #fff;
    padding: 74px 106px 94px 27px;
    width: 619px;
}

