<header>
		<div class="col-lg-12 strip"></div>
		<div class="container-fluid head">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-sm-3 logo">
						<img src="./assets/portfolio/pulsar.component/images/logo.png" alt="">
					</div>
					<div class="col-lg-4 col-sm-4">
						<div class="time_work">с 9.00 до 21.00 без выходных</div>
						<div class="mail"><a href="mailto:info@akvahit.ru">info@akvahit.ru</a></div>
					</div>
					<div class="col-lg-4 col-sm-5">
						<div class="phone"><a href="tel:74955405059">+7 (495) 540-50-59</a></div>
					</div>
					<div class="col-lg-2 col-sm-12">
						<a href="#" class="recall">Заказать звонок</a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="container main_block">
		<div class="row">
			<div class="col-lg-12 title_main">Установка и замена <span>квартирного теплосчетчика</span></div>
		</div>
		<div class="row">
			<div class="col-lg-offset-3 col-lg-6 subtitle_main">
				За 1 день <br>с гарантией
				<div class="price">12 000</div>
			</div>
			<div class="col-lg-3">
				<form action="" class="send_mail">
					<input type="text" name="name" placeholder="Имя" required="">
					<input type="phone" name="phone" placeholder="Телефон" required="">
					<button>Заказать</button>
				</form>
			</div>
		</div>
	</div>
	<div class="installation_cost">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title">Что входит в стоимость установки</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="point">
						<img src="./assets/portfolio/pulsar.component/images/6.png" alt="">
						<div class="subtitel">КВАРТИРНЫЙ ТЕПЛОСЧЕТЧИК "ПУЛЬСАР"</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="point">
						<img src="./assets/portfolio/pulsar.component/images/7.png" alt="">
						<div class="subtitel">КОМПЛЕКТ ПРИСОЕДИНИТЕЛЕЙ</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="point">
						<img src="./assets/portfolio/pulsar.component/images/8.png" alt="">
						<div class="subtitel">ШАРОВЫЙ КРАН<br>ПОД ТЕРМОДАТЧИК</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="point">
						<img src="./assets/portfolio/pulsar.component/images/9.png" alt="">
						<div class="subtitel">ШАРОВЫЙ КРАН ПОСЛЕ ТЕПЛОСЧЕТЧИКА</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="point">
						<img src="./assets/portfolio/pulsar.component/images/10.png" alt="">
						<div class="subtitel">ФИЛЬТР ГРУБОЙ ОЧИСТКИ</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="point">
						<img src="./assets/portfolio/pulsar.component/images/11.png" alt="">
						<div class="subtitel">ФИТИНГИ ДЛЯ ТРУБ</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="point">
						<img src="./assets/portfolio/pulsar.component/images/12.png" alt="">
						<div class="subtitel">ПАСПОРТ<br>НА ТЕПЛОСЧЕТЧИК</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="point">
						<img src="./assets/portfolio/pulsar.component/images/13.png" alt="">
						<div class="subtitel">ДОКУМЕНТЫ ДЛЯ ВВОДА<br>В ЭКСПЛУАТАЦИЮ</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="flat">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title">В какую квартиру можно ставить?</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="one_flat">
						<img src="./assets/portfolio/pulsar.component/images/14.png" alt="">
						<div class="flat_title">
							<img src="./assets/portfolio/pulsar.component/images/16.png" alt="">
							<span>Вертикальная</span> система отопления
						</div>
						<div class="desc">
							<p>При вертикальной разводке в квартиру заходит несколько стояков, и от каждого стояка в квартире запитан только один радиатор отопления.</p>
							<p>В данном случае установка индивидуального теплосчетчика <span class="red">невозможна</span>.</p></div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="one_flat">
						<img src="./assets/portfolio/pulsar.component/images/15.png" alt="">
						<div class="flat_title">
							<img src="./assets/portfolio/pulsar.component/images/17.png" alt="">
							<span>Горизонтальная</span> система отопления
						</div>
						<div class="desc">
							<p>При горизонтальной разводке в квартиру заходит только один стояк отопления, и от него запитаны все остальные радиаторы отопления в квартире по кольцу.</p>
							<p>В данном случае установка индивидуального теплосчетчика <span class="green">возможна</span>.</p></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="scheme_of_work container">
		<div class="row">
			<div class="col-lg-12">
				<div class="title">Самая простая схема работы</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-sm-3">
				<div class="image_center">
					<img src="./assets/portfolio/pulsar.component/images/19.png" alt="">
				</div>
				<div class="subtitel">Оставьте заявку на сайте или позвоните</div>
			</div>
			<div class="col-lg-3 col-sm-3">
				<div class="image_center">
					<img src="./assets/portfolio/pulsar.component/images/20.png" alt="">
				</div>
				<div class="subtitel">Наш специалист ответит на все ваши вопросы<br>и договорится об удобном времени на установку</div>
			</div>
			<div class="col-lg-3 col-sm-3">
				<div class="image_center">
					<img src="./assets/portfolio/pulsar.component/images/21.png" alt="">
				</div>
				<div class="subtitel">Выезд монтажников<br>и установка</div>
			</div>
			<div class="col-lg-3 col-sm-3">
				<div class="image_center">
					<img src="./assets/portfolio/pulsar.component/images/22.png" alt="">
				</div>
				<div class="subtitel">Получаете полный пакет документов для регистра- ции теплосчетчика</div>
			</div>
		</div>
	</div>
	<div class="why_we">
		<div class="container">
			<div class="row">
				<div class="title">Почему аквахит</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-sm-4">
					<div class="subtitle"><span>№1</span>на Российском рынке</div>
					<div class="image_center"><img src="./assets/portfolio/pulsar.component/images/25.png" alt=""></div>
				</div>
				<div class="col-lg-4 col-sm-4">
					<div class="subtitle"><span>6142</span>счетчиков установлено</div>
					<div class="image_center"><img src="./assets/portfolio/pulsar.component/images/26.png" alt=""></div>
				</div>
				<div class="col-lg-4 col-sm-4">
					<div class="subtitle"><span>5913</span>довольных клиентов</div>
					<div class="image_center"><img src="./assets/portfolio/pulsar.component/images/27.png" alt=""></div>
				</div>
			</div>
		</div>
	</div>
	<div class="reviews container">
		<div class="row">
			<div class="col-lg-12">
				<div class="title">Отзывы наших клиентов</div>
			</div>
		</div>
		<div class="row all_reviews">
			<div class="col-lg-12">
				<div class="one_review">
					<div class="text">Мы уверены, что сотрудничество – основа успешного бизнеса. В числе наших партнеров ведущие производители приборов учета тепла, такие как Ista, Landis&Gyr, Qundis, Danfoss и многие другие. Мы постоянно работаем над развитием деловых отношений с партнерами, чтобы всегда иметь возможность предлагать нашим клиентам широкий ассортимент высококачественной продукции по самым низким ценам. 
					</div>	
					<div class="name">Иван Иванов. Директор компании “Одуванчик”</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="one_review">
					<div class="text">Мы уверены, что сотрудничество – основа успешного бизнеса. В числе наших партнеров ведущие производители приборов учета тепла, такие как Ista, Landis&Gyr, Qundis, Danfoss и многие другие. Мы постоянно работаем над развитием деловых отношений с партнерами, чтобы всегда иметь возможность предлагать нашим клиентам широкий ассортимент высококачественной продукции по самым низким ценам. 
					</div>	
					<div class="name">Иван Иванов. Директор компании “Одуванчик”</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="one_review">
					<div class="text">Мы уверены, что сотрудничество – основа успешного бизнеса. В числе наших партнеров ведущие производители приборов учета тепла, такие как Ista, Landis&Gyr, Qundis, Danfoss и многие другие. Мы постоянно работаем над развитием деловых отношений с партнерами, чтобы всегда иметь возможность предлагать нашим клиентам широкий ассортимент высококачественной продукции по самым низким ценам. 
					</div>	
					<div class="name">Иван Иванов. Директор компании “Одуванчик”</div>
				</div>
			</div>
		</div>
	</div>
	<div class="questions container">
		<div class="row">
			<div class="col-lg-12">
				<div class="title">Вопросы и ответы</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<a href="#" class="one_question active">
					<img src="./assets/portfolio/pulsar.component/images/29.png" alt="">
					<div class="subtitle">Когда перезвонит оператор?</div>
					<div class="text">Мы уверены, что сотрудничество – основа успешного бизнеса. В числе наших партнеров ведущие производители приборов учета тепла, такие как Ista, Landis&Gyr, Qundis, Danfoss и многие другие. Мы постоянно работаем над развитием деловых отношений с партнерами, чтобы всегда иметь возможность предлагать нашим клиентам широкий ассортимент высококачественной продукции по самым низким ценам. </div>
				</a>
				<a href="#" class="one_question">
					<img src="./assets/portfolio/pulsar.component/images/29.png" alt="">
					<div class="subtitle">Как долго устанавливать теплосчетчик?</div>
					<div class="text">Мы уверены, что сотрудничество – основа успешного бизнеса. В числе наших партнеров ведущие производители приборов учета тепла, такие как Ista, Landis&Gyr, Qundis, Danfoss и многие другие. Мы постоянно работаем над развитием деловых отношений с партнерами, чтобы всегда иметь возможность предлагать нашим клиентам широкий ассортимент высококачественной продукции по самым низким ценам. </div>
				</a>
				<a href="#" class="one_question">
					<img src="./assets/portfolio/pulsar.component/images/29.png" alt="">
					<div class="subtitle">Зачем мне устанавливать теплосчетчик?</div>
					<div class="text">Мы уверены, что сотрудничество – основа успешного бизнеса. В числе наших партнеров ведущие производители приборов учета тепла, такие как Ista, Landis&Gyr, Qundis, Danfoss и многие другие. Мы постоянно работаем над развитием деловых отношений с партнерами, чтобы всегда иметь возможность предлагать нашим клиентам широкий ассортимент высококачественной продукции по самым низким ценам. </div>
				</a>
				<a href="#" class="one_question">
					<img src="./assets/portfolio/pulsar.component/images/29.png" alt="">
					<div class="subtitle">Сколько можно сэкономить после установки?</div>
					<div class="text">Мы уверены, что сотрудничество – основа успешного бизнеса. В числе наших партнеров ведущие производители приборов учета тепла, такие как Ista, Landis&Gyr, Qundis, Danfoss и многие другие. Мы постоянно работаем над развитием деловых отношений с партнерами, чтобы всегда иметь возможность предлагать нашим клиентам широкий ассортимент высококачественной продукции по самым низким ценам. </div>
				</a>
				<a href="#" class="one_question">
					<img src="./assets/portfolio/pulsar.component/images/29.png" alt="">
					<div class="subtitle">Какие гарантии я получу?</div>
					<div class="text">Мы уверены, что сотрудничество – основа успешного бизнеса. В числе наших партнеров ведущие производители приборов учета тепла, такие как Ista, Landis&Gyr, Qundis, Danfoss и многие другие. Мы постоянно работаем над развитием деловых отношений с партнерами, чтобы всегда иметь возможность предлагать нашим клиентам широкий ассортимент высококачественной продукции по самым низким ценам. </div>
				</a>
				
			</div>
		</div>
	</div>
	<div class="docs container">
		<div class="row">
			<div class="col-lg-12">
				<div class="title">Документация на установку</div>
			</div>
		</div>
		<div class="row all_docs">
			<div class="col-lg-3 col-sm-3">
				<div class="one_docs"><img src="./assets/portfolio/pulsar.component/images/30.png" alt=""></div>
			</div>
			<div class="col-lg-3 col-sm-3">
				<div class="one_docs"><img src="./assets/portfolio/pulsar.component/images/30.png" alt=""></div>
			</div>
			<div class="col-lg-3 col-sm-3">
				<div class="one_docs"><img src="./assets/portfolio/pulsar.component/images/30.png" alt=""></div>
			</div>
			<div class="col-lg-3 col-sm-3">
				<div class="one_docs"><img src="./assets/portfolio/pulsar.component/images/30.png" alt=""></div>
			</div>
			<div class="col-lg-3 col-sm-3">
				<div class="one_docs"><img src="./assets/portfolio/pulsar.component/images/30.png" alt=""></div>
			</div>
			<div class="col-lg-3 col-sm-3">
				<div class="one_docs"><img src="./assets/portfolio/pulsar.component/images/30.png" alt=""></div>
			</div>
		</div>
	</div>
	<div class="contacts">
		<div class="title">Контакты</div>
		<iframe src="https://snazzymaps.com/embed/49158" width="100%" height="270px" style="border:none;"></iframe>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<form action="" class="send_mail">
						<span>Остались вопросы?</span>
						<input type="text" name="name" placeholder="Имя" required="">
						<input type="phone" name="phone" placeholder="Телефон" required="">
						<button>Получить консультацию</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 all_info">
					<div class="subtitle">Позвоните нам по номеру</div>
					<a href="tel:74955405059" class="phone">8 (495) 540-50-59</a>
					<span>и Вы непременно останетесь довольны нашим сервисом</span>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 copyright"><a href="#">razvodka-trub-otopleniya.akvahit.ru</a> © 2018. Все права защищены</div>
			</div>
		</div>
	</footer>
	<div class="back"></div>
	<div class="popup">
		<span class="close"><i class="fas fa-times"></i></span>
		<span class="subtitle">Закажите установку теплосчетчика</span>
		<form action="" class="send_mail">
			<input type="text" name="name" placeholder="Введите свое имя" required="">
			<input type="phone" name="phone" placeholder="Введите номер телефона" required="">
			<button>Заказать установку</button>
		</form>
	</div>
	<div class="thanks">
		<span class="close"><i class="fas fa-times"></i></span>
		<span>Спасибо за Вашу заявку!</span>
		<span class="subtitle">Мы свяжемся с Вами в ближайшее время.</span>
	</div>