<section class="intro"  id="home">
	<div class="intro__bg"></div>
	<div class="intro__text">
		<p class="intro__hello">Доброе время суток, меня зовут Илья и я</p>
		<h1>Frontend Developer</h1>
		<p class="intro__hello">Который наверстает Вам упущенное!</p>
	</div>
	<a class="intro__scroll down" href="#works">
		<span class="down__arrow"></span>
	</a>
</section>
  
<!-- <app-portfolio></app-portfolio>
<app-project></app-project>  -->


 

  <section class="skills" id="skills">
    <div class="skills__bg"></div>
      <div class="container">
        <h2 class="skills__title title">Мои навыки</h2>
        <div class="skills__list">
          <ul class=" skills__col technik wow slideInLeft animated">
            <li class="title"><h3>Технические навыки</h3></li>
            <li><i class="icon-check"></i>Html5, CSS3</li>
            <li><i class="icon-check"></i>JavaScript, Jquery,</li>
            <li><i class="icon-check"></i>Angular 2+</li>
            <li><i class="icon-check"></i>LESS, SCSS</li>
            <li><i class="icon-check"></i>Git</li>
            <li><i class="icon-check"></i>Gulp, Webpack</li>
            <li><i class="icon-check"></i>SmartGrid, Bootstrap</li>
            <li><i class="icon-check"></i>Responsive</li>
            <li><i class="icon-check"></i>БЭМ</li>
          </ul>
          <ul class=" skills__col professional wow slideInRight animated">
            <li class="title"><h3>Профессиональные навыки</h3></li>
            <li><i class="icon-check"></i>Ответственное отношение к работе</li>
            <li><i class="icon-check"></i>Соблюдение сроков</li>
            <li><i class="icon-check"></i>Всегда открыт к диалогу</li>
            <li><i class="icon-check"></i>Большую часть дня online</li>
            <li><i class="icon-check"></i>Поддержка своего кода</li>
            <li><i class="icon-check"></i>Чистый, валидный код</li>
            <li><i class="icon-check"></i>Легко поддерживаемый код</li>
            <li><i class="icon-check"></i>Понятное название классов</li>
            <li><i class="icon-check"></i>Оптимизация изображений и кода</li>
          </ul>
        </div>
      </div>
    </section>
    
    <section class="contacts" id="contacts">
      <div class="container">
        <h2 class="contacts__title title">Контакты</h2>
        <ul class="social">
          <li><a href="mailto:ilia.workproffile@gmail.com"><i class="icon-mail"></i>Gmail: ilia.workproffile@gmail.com</a></li>
          <li><a href="https://vk.com/ilya_manokhin"><i class="icon-vkontakte"></i>Vkontakte: ilya_manokhin</a></li>
          <li><a href="skype:89680548333?add"><i class="icon-skype"></i>Skype:89680548333</a></li>
          <li><a href="https://github.com/ilyamanokhin"><i class="icon-github"></i>Github: ilyamanokhin</a></li>
        </ul>
      </div>
    </section>
    <footer class="footer-small" >
        <div class="container">
          <div class="date" >
          &copy; 2019
          </div>
        </div>
      </footer>
    
    