section.about
    include mixins/mixin-page-title
    +page-title("Обо мне")
    .wrapper
        .about-content
            .page__img
                img(src="../assets/img/img-about.png", alt="")
            .page__content
                p.page__text Разработчик сайтов + интренет-маркетолог(навык рекламы) + смм специалист прототипирование юзабилити сео специалист 
                p.page__text.page_padding-bottom-40 Имею выше перечисленные навыки Делаю сайты на любыэ этапах разработки  могу помочь проконсультировать с макетами и удоббством пользовотеля и реализацией  на этиапе протатипирования 

                p.page__text Чистый и валидный код который сможет прочитать любой программист 
                p.page__text Поддержка по сайту после сдачи проекта 
                p.page__text.page_padding-bottom-40 Будем настраиваться на длительное сотруднечества а не "верстальщик на одну ночь" 

                p.page__text.page_padding-bottom-40 Если вы из Москвы, то при сотрудничестве буду рад встретиться лично для обсуждения тонкостей работы!

                button.page__btn.js__create-modal Связаться со мной