section.advantages
    include mixins/mixin-page-title
    +page-title("Преимущества")
    .wrapper
        .advantages-content
            ol.page__lists
                include mixins/mixin-advantage
                +advantage("Профессиональные навыки")
                +advantage("Соблюдение сроков")
                +advantage("Оптимизация изображения и кода")
                +advantage("Чистый валидный код")
                +advantage("Ответсвенное отношение к работе")
                +advantage("Всегда открыт к диалогу")
                +advantage("Большую часть дня online")
                +advantage("Поддержка своего кода")