section.advantages
    include mixins/mixin-page-title
    +page-title("Преимущества")
    .wrapper
        .advantages-content
            .advantage профессиональные навыки
            .advantage соблюдение сроков
            .advantage оптимизация изображения и кода 
            .advantage чистый валидный код
            .advantage ответсвенное отношение к работе 
            .advantage всегда открыт к диалогу 
            .advantage большую часть дня online
            .advantage поддержка своего кода