
footer.footer
    div.footer__line-box-shadow
    .wrapper
        .footer-content
            .footer-content__item
                h2.page__title-h2.page_bold.page_transform-uppercase.page_padding-bottom-25 Контакты
                .page__copyright Москва, 2020
            .footer-content__item
                .page__subtitle.page_padding-bottom-25 телефон
                a(href="tel:89680548333").page__subtitle.page_bold 89680548333
            .footer-content__item
                .page__subtitle.page_padding-bottom-25 почта
                a(href="tel:89680548333").page__subtitle.page_bold manokhin.il.@yandex.ru
            .footer-content__item
                .page__subtitle.page_padding-bottom-25 социальные сети
                .social
                    .social__item-link.social__item-icon.social__item-icon_fb
                    .social__item-link.social__item-icon.social__item-icon_fb
                    .social__item-link.social__item-icon.social__item-icon_fb
                    .social__item-link.social__item-icon.social__item-icon_fb