header.header
    .wrapper
        .header-content
            nav.header__navbar
                a.header__navbar-link.page__subtitle(href="./") Ilya
                    span.page_bold Manokhin
                a.header__navbar-link(href="./") Навыки 
                a.header__navbar-link(href="./projects/projects.html") Проекты
                a.header__navbar-link(href="./project-page/project-page.html") Обо мне 