header.header
    .wrapper
        div Header
        nav.header__navbar
            a.header__navbar-link(href="./") Главная 
            a.header__navbar-link(href="./portfolio/portfolio.html") Portfolio 
            a.header__navbar-link(href="./project-page/project-page.html") Project-page 