header.header
    .wrapper
        .header-content
            nav.header__navbar
                a.header__navbar-link.page__subtitle(href="./") Ilya
                    span.page_bold Manokhin
                .header__navbar-link
                    a(href="./") Навыки 
                .header__navbar-link
                    a(href="./projects/projects.html") Проекты
                .header__navbar-link
                    a(href="./project-page/project-page.html") Обо мне 