section.projects
    include mixins/mixin-page-title
    +page-title("Проекты")
    .wrapper
        .projects-content
            include mixins/mixin-project
            each item, index in projects
                +project(item.background,item.title,item.description,item.link,item.code)