section.projects
    .page__title
        h2.page__subtitle_big.page_transform-uppercase.page_text-center Проекты
        h2.page__title_main.page__title-h2.page_bold.page_transform-uppercase.page_text-center Проекты
    .wrapper
        .projects-content
            .project
                figure.works__effect
                    img.page__img(src="../assets/img/img-vr-jazz-bg.png", alt="img-vr-jazz-bg")
                    figcaption.works__descr
                        h3.page__title-h3 Вёрстка сайта гроссмейстера
                        p text
                        a.btn-works(href="/") посмотреть
            .project
                figure.works__effect
                    img.page__img(src="../assets/img/img-vr-jazz-bg.png", alt="img-vr-jazz-bg")
                    figcaption.works__descr
                        h3.page__title-h3
                        p text
                        a(href="/") посмотреть
            .project
                figure.works__effect
                    img.page__img(src="../assets/img/img-vr-jazz-bg.png", alt="img-vr-jazz-bg")
                    figcaption.works__descr
                        h3.page__title-h3
                        p text
                        a(href="/") посмотреть
            .project
                figure.works__effect
                    img.page__img(src="../assets/img/img-vr-jazz-bg.png", alt="img-vr-jazz-bg")
                    figcaption.works__descr
                        h3.page__title-h3
                        p text
                        a(href="/") посмотреть