section.services
    include mixins/mixin-page-title
    +page-title("Услуги")
    .wrapper
        .services-content
            .service
                .page__img
                    img(src="../assets/img/shared/img-Email.png")
                .page__subtitle E-mail письма
                .page__description
                    .page__subtitle E-mail письма
                    p.page__text Расскажем об особенностях верстки email шаблонов — в чем основные проблемы верстки, как работать с мультимедиа, шрифтами.
            .service
                .page__img
                    img(src="../assets/img/shared/img-landing.png")
                .page__subtitle Landing page
                .page__description
                    .page__subtitle E-mail письма
                    p.page__text Расскажем об особенностях верстки email шаблонов — в чем основные проблемы верстки, как работать с мультимедиа, шрифтами.
            .service
                .page__img
                    img(src="../assets/img/shared/img-pages.png")
                .page__subtitle Многостраничный сайт
                .page__description
                    .page__subtitle E-mail письма
                    p.page__text Расскажем об особенностях верстки email шаблонов — в чем основные проблемы верстки, как работать с мультимедиа, шрифтами.
            .service
                .page__img
                    img(src="../assets/img/shared/img-shop.png")
                .page__subtitle Интернет магазин
                .page__description
                    .page__subtitle E-mail письма
                    p.page__text Расскажем об особенностях верстки email шаблонов — в чем основные проблемы верстки, как работать с мультимедиа, шрифтами.
            .service
                .page__img
                    img(src="../assets/img/shared/img-quiz.png")
                .page__subtitle Quiz сайт
                .page__description
                    .page__subtitle E-mail письма
                    p.page__text Расскажем об особенностях верстки email шаблонов — в чем основные проблемы верстки, как работать с мультимедиа, шрифтами.
            .service
                .page__img
                    img(src="../assets/img/shared/img-completion.png")
                .page__subtitle Доработка
                .page__description
                    .page__subtitle E-mail письма
                    p.page__text Расскажем об особенностях верстки email шаблонов — в чем основные проблемы верстки, как работать с мультимедиа, шрифтами.
            .service
                .page__img
                    img(src="../assets/img/shared/img-cms.png")
                .page__subtitle Интеграция
                .page__description
                    .page__subtitle E-mail письма
                    p.page__text Расскажем об особенностях верстки email шаблонов — в чем основные проблемы верстки, как работать с мультимедиа, шрифтами.
            .service
                .page__img
                    img(src="../assets/img/shared/img-script.png")
                .page__subtitle Написание скриптов
                .page__description
                    .page__subtitle E-mail письма
                    p.page__text Расскажем об особенностях верстки email шаблонов — в чем основные проблемы верстки, как работать с мультимедиа, шрифтами.