section.services
    include mixins/mixin-page-title
    +page-title("Услуги")
    .wrapper
        .services-content
            .service
                .page__img
                    img(src="../assets/img/shared/img-1.png")
                .page__subtitle E-mail письма
            .service
                .page__img
                    img(src="../assets/img/shared/img-1.png")
                .page__subtitle Landing page
            .service
                .page__img
                    img(src="../assets/img/shared/img-1.png")
                .page__subtitle Многостраничный сайт
            .service
                .page__img
                    img(src="../assets/img/shared/img-1.png")
                .page__subtitle Интернет магазин
            .service
                .page__img
                    img(src="../assets/img/shared/img-1.png")
                .page__subtitle Quiz сайт
            .service
                .page__img
                    img(src="../assets/img/shared/img-1.png")
                .page__subtitle Доработка
            .service
                .page__img
                    img(src="../assets/img/shared/img-1.png")
                .page__subtitle Интеграция
            .service
                .page__img
                    img(src="../assets/img/shared/img-1.png")
                .page__subtitle Написание скриптов