section.services
    include mixins/mixin-page-title
    +page-title("Услуги")
    .wrapper
        .services-content
            include mixins/mixin-service
            +service("../assets/img/shared/img-Email.png", "E-mail письма", "Расскажем об особенностях верстки email шаблонов — в чем основные проблемы верстки, как работать с мультимедиа, шрифтами.")
            +service("../assets/img/shared/img-landing.png", "Landing page", "Расскажем об особенностях верстки email шаблонов — в чем основные проблемы верстки, как работать с мультимедиа, шрифтами.")
            +service("../assets/img/shared/img-pages.png", "Многостраничный сайт", "Расскажем об особенностях верстки email шаблонов — в чем основные проблемы верстки, как работать с мультимедиа, шрифтами.")
            +service("../assets/img/shared/img-shop.png", "Интернет магазин", "Расскажем об особенностях верстки email шаблонов — в чем основные проблемы верстки, как работать с мультимедиа, шрифтами.")
            +service("../assets/img/shared/img-quiz.png", "Quiz сайт", "Расскажем об особенностях верстки email шаблонов — в чем основные проблемы верстки, как работать с мультимедиа, шрифтами.")
            +service("../assets/img/shared/img-completion.png", "Доработка", "Расскажем об особенностях верстки email шаблонов — в чем основные проблемы верстки, как работать с мультимедиа, шрифтами.")
            +service("../assets/img/shared/img-cms.png", "Интеграция", "Расскажем об особенностях верстки email шаблонов — в чем основные проблемы верстки, как работать с мультимедиа, шрифтами.")
            +service("../assets/img/shared/img-script.png", "Написание скриптов", "Расскажем об особенностях верстки email шаблонов — в чем основные проблемы верстки, как работать с мультимедиа, шрифтами.")