section.services
    .page__title
        h2.page__subtitle_big.page_transform-uppercase.page_text-center Услуги
        h2.page__title_main.page__title-h2.page_bold.page_transform-uppercase.page_text-center Услуги
    .wrapper
        .services-content
            .service
                .page__img
                    img(src="../assets/img/img-1.png")
                .page__subtitle E-mail письма
            .service
                .page__img
                    img(src="../assets/img/img-1.png")
                .page__subtitle Landing page
            .service
                .page__img
                    img(src="../assets/img/img-1.png")
                .page__subtitle Многостраничный сайт
            .service
                .page__img
                    img(src="../assets/img/img-1.png")
                .page__subtitle Интернет магазин
            .service
                .page__img
                    img(src="../assets/img/img-1.png")
                .page__subtitle Quiz сайт
            .service
                .page__img
                    img(src="../assets/img/img-1.png")
                .page__subtitle Доработка
            .service
                .page__img
                    img(src="../assets/img/img-1.png")
                .page__subtitle Интеграция
            .service
                .page__img
                    img(src="../assets/img/img-1.png")
                .page__subtitle Написание скриптов