section.skills
    .page__title
        h2.page__subtitle_big.page_transform-uppercase.page_text-center Навыки
        h2.page__title_main.page__title-h2.page_bold.page_transform-uppercase.page_text-center Навыки
    .wrapper
        .skills-content
            include mixins/mixin-skill
            +skill("../assets/img/img-html-logo.png", "HTML 5")
            +skill("../assets/img/img-css-logo.png", "CSS 3")
            +skill("../assets/img/img-javascript-logo.png", "JavaScript")
            +skill("../assets/img/img-typescript-logo.png", "TypeScript")
            +skill("../assets/img/img-git-logo.png", "Git")
            +skill("../assets/img/img-bem-logo.png", "БЭМ")
            +skill("../assets/img/img-jq-logo.png", "JQuery")
            +skill("../assets/img/img-angular-logo.png", "Angular 2+")
            +skill("../assets/img/img-less-logo.png", "Less")
            +skill("../assets/img/img-sass-logo.png", "Sass")
            +skill("../assets/img/img-gulp-logo.png", "Gulp")
            +skill("../assets/img/img-smartgrid-logo.png", "SmartGrid")
            +skill("../assets/img/img-pug-logo.png", "Pug")
            +skill("../assets/img/img-bootstrap-logo.png", "Bootstrap")
            +skill("../assets/img/img-webpack-logo.png", "WebPack")
            +skill("../assets/img/img-nodejs-logo.png", "Node.js")
            +skill("../assets/img/img-nestjs-logo.png", "Nest.js")
            +skill("../assets/img/img-wordpress-logo.png", "Wordpress")
            +skill("../assets/img/img-1c-bitrix-logo.png", "1C Bitrix")
            +skill("../assets/img/img-modx-logo.png", "modx")
            +skill("../assets/img/img-php-logo.png", "Php")
                