

<!-- HEADER NAVIGATION -->
<header>
    <div class="socButt-wrapp">
        <div class="socButt">
            <a target="_blank" href="https://www.facebook.com/vrjazzagency/?fref=ts"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a target="_blank" href="https://vk.com/vrjazz"><i class="fa fa-vk" aria-hidden="true"></i></a>
            <a target="_blank" href="https://twitter.com/Vr_Jazz"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a target="_blank" href="https://www.instagram.com/vr_jazz_agency"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a target="_blank" href="https://www.youtube.com/user/Florents1/videos"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
        </div>
        <div class="socButt-text">Jazz <span>Delivery</span>: Come Rain or Come Shine!</div>
    </div>
    <div id="topClick"><i class="fa fa-bars"></i></div>
    <nav id="topFix" class="topFix">
<a href="https://vrjazzagency.com/" class="Language-logo logo-min">
<img class="chooseLanguage" src="img/logo-min.png" alt="logo">
</a>
<ul><li><a class="topFix-active" href="/">Главная</a></li><li><a class="" href="service/">Услуги</a></li><li><a class="" href="concerts/">афиша</a></li><li><a class="" href="musicans/">Резиденты</a></li><li><a class="" href="news/">новости</a></li><li><a class="" href="about/">об агентстве</a></li><li><a class="" href="contacts/">контакты</a></li><li><a class="" href="partners/">партнеры</a></li></ul>
<div class="chooseLanguage-desk">
        <a href="https://vrjazzagency.com/" class="ru active Language-a">
  <img class="chooseLanguage" src="/img/flag_ru.png"><span>English</span>
</a>
<a href="https://vrjazzagency.com/en/index/" class="en Language-a">
  <img class="chooseLanguage" src="/img/flag_en.png"><span>English</span>
</a> 
</div>
       
        <div class="chooseLanguage-wrapp">
            <a href="https://vrjazzagency.com/" class="ru active Language-a">
  <img class="chooseLanguage" src="/img/flag_ru.png"><span>English</span>
</a>
<a href="https://vrjazzagency.com/en/index/" class="en Language-a">
  <img class="chooseLanguage" src="/img/flag_en.png"><span>English</span>
</a>
        </div>

    </nav>

</header>
<!-- END HEADER NAVIGATION -->
<!-- CONTENT -->
<div  id="fullpage">
    <div class="section filterWrappBackground fp-section active fp-table fp-completely section0" id="section0" data-anchor="0" style="height: 900px;">
	<div class="fp-tableCell" style="height:900px;">
	<div class="section_fon2">
	<div class="section_fon">
	<div class="container">
		<img class="topLogo" src="/img/logo.png" alt="logo" title="Логотип">
		<h1>Международное джазовое агентство</h1>
		<h2 class="topSing">концерты и фестивали | гастроли звезд джаза | шоу программы | сопровождение событий</h2>
	</div>
	</div>
	</div>
    </div>
	</div>
    <div class="section fp-section fp-table section1" id="section1" data-anchor="1" style="height: 900px;">
    <div class="fp-tableCell" style="height:900px;">
	<div class="section_fon">
	<div class="container">
	<div class="row">
	<div class="col-lg-3">
		<h2>Кто мы </h2>
		<p>Концертное агентство, которое занимается продюсированием джазовых артистов, организацией уникальных концертов, фестивалей и&nbsp;гастролей с&nbsp;их&nbsp;участием в&nbsp;России и&nbsp;за&nbsp;рубежом, а&nbsp;также сопровождения частных мероприятий на&nbsp;высшем уровне для больших корпоративных клиентов.</p>
	</div>
	<div class="col-lg-3">
		<h2>Наши цели</h2>
		<div><p>Просвещение, популяризация джаза и&nbsp;смежных ему стилей</p>

<p>Поддержка уникального творчества джазовых артистов</p>

<p>Создание почвы для взаимодействия искусства и&nbsp;бизнеса</p>

<p>Продвижение интересов агентства в&nbsp;России и&nbsp;за&nbsp;рубежом</p>
  </div>
		<a class="btn-web-device"  href="about/">подробнее</a>
	</div>
	<div class="col-lg-3">
		<h2>Наши клиенты</h2>
		<p>Представители крупного и&nbsp;среднего бизнеса отдающие предпочтение изысканному музыкальному сопровождению, Еvent компании и&nbsp;более 200&nbsp;филармонических, театральных и&nbsp;клубных концертных площадок России, Азии и&nbsp;Европы, а&nbsp;также ведущие мировые джазовые фестивали.</p>
		<a class="btn-min-device" href="about/">подробнее</a>
	</div>
	<div class="col-lg-3">
		<h2>Наши резиденты</h2>
		<p>Постоянно концентрирующие иностранные и&nbsp;российские музыканты, звезды джаза и&nbsp;молодые многообещающие артисты, представители самых различных стилей этой музыки. Мы&nbsp;не&nbsp;сотрудничаем с кавер группами и&nbsp;отдаем предпочтение только уникальным программам.</p>
		<a href="musicans/">подробнее</a>
	</div>
	</div>
	</div>
	</div>
    </div>
	</div>
    <div class="section fp-section fp-table section2" id="section2" data-anchor="2" style="height: 900px;">
        <div class="fp-tableCell" style="height:900px;">
		<div class="section_fon2">
		<div class="section_fon">
		<div class="container">
		<h2>Афиша</h2>
		<div class="rowTable">
					<div class="colTable">
<div class="colTable-col1"><span>Каждую Субботу</span></div>
<div class="colTable-col2"> Россия, Москва, JAM CLUB</div>
<div class="colTable-col3">COOL JAZZ JAM SESSION</div>
<div class="colTable-col4">
<input type="hidden" name="action" value="poster">
<input type="hidden" name="date" value="Каждую Субботу">
<input type="hidden" name="place" value=" Россия, Москва, JAM CLUB">
<input type="hidden" name="musican" value="">
<a href="https://www.jamclub.moscow/" target="_blank">купить билет</a>
</div>
</div>
<div class="colTable">
<div class="colTable-col1"><span>2 мая</span></div>
<div class="colTable-col2">Italy, Milan, Bonaventura Music Club</div>
<div class="colTable-col3">NATALIA SKVORTSOVA ITALIAN TRIO</div>
<div class="colTable-col4">
<input type="hidden" name="action" value="poster">
<input type="hidden" name="date" value="2 мая">
<input type="hidden" name="place" value="Italy, Milan, Bonaventura Music Club">
<input type="hidden" name="musican" value="">
<a href="" target="_blank">купить билет</a>
</div>
</div>
<div class="colTable">
<div class="colTable-col1"><span>7 мая</span></div>
<div class="colTable-col2">Italy, Turin, MAD DOG</div>
<div class="colTable-col3">NATALIA SKVORTSOVA ITALIAN TRIO</div>
<div class="colTable-col4">
<input type="hidden" name="action" value="poster">
<input type="hidden" name="date" value="7 мая">
<input type="hidden" name="place" value="Italy, Turin, MAD DOG">
<input type="hidden" name="musican" value="">
<a href="" target="_blank">купить билет</a>
</div>
</div>
		</div>
		<a class="section2ButtBottom" href="concerts/" >все концерты </a>
		</div>
		</div>
		</div>
        </div>
	</div>
    <div class="section fp-section fp-table section3" id="section3" data-anchor="3" style="height: 900px;">
	<div class="fp-tableCell" style="height:900px;">
	<div class="section_fon">
	<div class="container">
		<h2>Услуги</h2>
		<div class="row">
		<div class="col-lg-4">
		<div class="section3-title">
			<img src="/img/vector_smart_object.png" alt="logo">
			<h3>Тематические<br> шоу программы</h3>
		</div>
		<p>Специально для наших партнеров, мы&nbsp;ежедневно создаем уникальные шоу-проекты, комплексные тематические программы, которые помимо тщательно отобранной нами музыки, включают в&nbsp;себя множество других услуг.</p>
		<a href="progs/">Подробнее</a>
		</div>
		<div class="col-lg-4">
		<div class="section3-title">
			<img src="/img/vector_smart_object_2.png" alt="logo">
			<h3>Звезды первой<br> величины</h3>
		</div>
			<p>Помимо работы с&nbsp;нашими резидентами, мы&nbsp;имеем тесные связи с&nbsp;ведущими агентствами США и&nbsp;Европы, которые представляют интересы звезд мирового джаза и&nbsp; World Music. Мы&nbsp;с&nbsp;удовольствием обеспечим их участие в&nbsp;вашем событии.</p>
		<a href="stars/">Подробнее</a>
		</div>
		<div class="col-lg-4">
		<div class="section3-title">
			<img src="/img/vector_smart_object_3.png" alt="logo">
			<h3>Мероприятие<br> под ключ</h3>
		</div>
			<p>Качественно новый подход к&nbsp;организации музыкальных событий &mdash;&nbsp;индивидуальная разработка оригинальных art-событий исходя из&nbsp;ваших личных предпочтений и&nbsp;пожеланий вашей аудитории. У&nbsp;вас есть идея, а&nbsp;мы&nbsp;хорошо знаем, как ее&nbsp;реализовать!</p>
			<a href="key/">Подробнее</a>
		</div>
		</div>
	<a href="#modal" class="red">получить предварительный расчет</a>
	</div>
	</div>
    </div>
	</div>
    <div class="section fp-section fp-table section5" id="section5" data-anchor="4" style="height: 900px;"><div class="fp-tableCell" style="height:900px;">
		<div class="section_fon">
			<div class="container">
				<h2>Новости</h2>
				<div class="row list">
					<div class="item col-lg-4  news-cont" filter="">
<a href="news/natalia-sk/" class="slideref content">
<div class="content_item news_item">
 <div class="img-cont">
  <div class="img parallax" style="height: 200px;background:url(/uploads/images/./skv10.jpg) top center no-repeat; background-size:cover;"></div>
 </div>

  <div class="date">2018-11-26</div>
  <h3 >Natalia Skvortsova отправится в третьи гастроли по Италии!</h3>
  <p >В мае под эгидой VR Jazz Agency состоится третьи гастроли Натальи Скворцовой по Италии. Концерты пройдут со 2 по 9 мая в Милане, Турине, Венеции и Биелле. К ней присоединяться  итальянские музыканты Andrea Beccaro и Michelangelo Scandroglio! В программе, как и всегда, авторская музыка Натальи и множество новых композиций!
</p>

</div>
</a>

</div>
<div class="item col-lg-4  news-cont" filter="">
<a href="news/группа-emp/" class="slideref content">
<div class="content_item news_item">
 <div class="img-cont">
  <div class="img parallax" style="height: 200px;background:url(/uploads/images/./-mYhorW8Ffo.jpg) top center no-repeat; background-size:cover;"></div>
 </div>

  <div class="date">2018-11-26</div>
  <h3 >Группа Empathy Project представит свой дебютный альбом "INFLUENCES"!</h3>
  <p >«Influences» — дебютная пластинка молодой многообещающей команды Empathy Project из Санкт-Петербурга. Альбом вышел на лейбле FANCYMUSIC, его презентация состоялись в июле прошлого года в Северной Пальмире, а известный международный джазовый портал All About Jazz, выбрал композицию «Sunny Day» в качестве «Трека Дня». И все же, по величайшей несправедливости эти события осталось почти незамеченными московской аудиторией. Исправить это недоразумение можно будет уже 17 апреля, когда коллектив представит свой альбом на главной сцене клуба Алексея Козлова.</p>

</div>
</a>

</div>
<div class="item col-lg-4  news-cont" filter="">
<a href="news/records/" class="slideref content">
<div class="content_item news_item">
 <div class="img-cont">
  <div class="img parallax" style="height: 200px;background:url(/uploads/images/./IMG_5554hi_col.jpg) top center no-repeat; background-size:cover;"></div>
 </div>

  <div class="date">2018-11-26</div>
  <h3 >VR Jazz Agency (Records) представили свой первый альбом!</h3>
  <p >6 марта в клубе Алексея Козлова прошла презентация альбома Emanuele Cisi & Francesca Tandoi "Sometimes We're Happy", который был выпущен на новом отечественном лейбле VR Jazz Records!</p>

</div>
</a>

</div>
				</div>
			</div>
				<a href="news/" class="btn_all">все новости</a>
			</div>
		</div>
    </div>
    <div class="section fp-section fp-table section6" id="section6" data-anchor="5" style="height: 900px;">
		<div class="fp-tableCell" style="height:900px;">
		<div class="section_fon">
			<div class="container">
				<h2>Видео Блог</h2>
				<div class="row">
					<div class="col-lg-4 ">
<div class="content_item">
<a href="https://www.youtube.com/watch?v=KGLIEwsAf2c" target="_blank">
<h3 class="video-a">CHET BAKER — ПОЭТ ТРУБЫ!</h3>
</a>
<iframe class="video-i" src="https://www.youtube.com/embed/KGLIEwsAf2c"  ></iframe>
</div>
</div>
<div class="col-lg-4 ">
<div class="content_item">
<a href="https://www.youtube.com/watch?v=onHnmrEEgts" target="_blank">
<h3 class="video-a">КАК СТАТЬ УСПЕШНЫМ МУЗЫКАНТОМ?</h3>
</a>
<iframe class="video-i" src="https://www.youtube.com/embed/onHnmrEEgts"  ></iframe>
</div>
</div>
<div class="col-lg-4 ">
<div class="content_item">
<a href="https://www.youtube.com/watch?v=VcK56srn4D8" target="_blank">
<h3 class="video-a">ПОЧЕМУ СТОИТ НАЧАТЬ СЛУШАТЬ JAZZ?!</h3>
</a>
<iframe class="video-i" src="https://www.youtube.com/embed/VcK56srn4D8"  ></iframe>
</div>
</div>
				</div>
				<a href="https://www.youtube.com/user/Florents1/featured" class="btn_all" target="_blank">все видео</a>
			</div>
		</div>
    </div>
	</div>
	<!-- START FOOTER -->
	<div class="section fp-section fp-table section7" id="section7" data-anchor="6" style="height: 900px;">
	<div class="fp-tableCell" style="height:900px;">
	<div class="container">
	<div class="row">
	<!-- START navMenufooter -->
	<div class="footerCol1">
  <ul class=""><li class="first"><a href="/" >Главная</a></li><li><a href="service/" >Услуги</a></li><li><a href="concerts/" >афиша</a></li><li class="last"><a href="musicans/" >Резиденты</a></li></ul>

</div>
<div class="footerCol2">
 <ul class=""><li class="first"><a href="news/" >новости</a></li><li><a href="about/" >об агентстве</a></li><li><a href="contacts/" >контакты</a></li><li class="last"><a href="partners/" >партнеры</a></li></ul>
</div>
<div class="footerCol3">
<ul class=""><li class="first"><a href="progs/" >Шоу-программы</a></li><li><a href="stars/" >Звезды джаза на ваше событие</a></li><li class="last"><a href="key/" >Мероприятие под ключ</a></li></ul>


</div>
<div class="footerCol4">
 <a href="tel:+74951202899" class="tel">+7 (495) 120 28 99</a>
 <a href="mailto:office@vrjazzagency.com" class="mailto">office@vrjazzagency.com</a>
 <div class="footer_socButt">
  <span>Подписаться</span>
  <a target="_blank" href="https://www.facebook.com/vrjazzagency/?fref=ts"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  <a target="_blank" href="https://vk.com/vrjazz"><i class="fa fa-vk" aria-hidden="true"></i></a>
  <a target="_blank" href="https://twitter.com/Vr_Jazz"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  <a target="_blank" href="https://www.instagram.com/vr_jazz_agency"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  <a target="_blank" href="https://www.youtube.com/user/Florents1/videos"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
 </div>
</div>

	<!-- END navMenufooter-->
	</div>
	</div>
	</div>
	</div>
	<!-- END FOOTER -->
</div>
	<!-- START Remodal (popUp) -->
	<div class="remodal" data-remodal-id="modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
	<button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
	
	<div class="row">
		<form id="form" class="section4_form" >
<h2>получите предварительный расчет</h2>
	<h3>для вашего мероприятия</h3>
			<div class="section4_form-block">
				<label>имя</label><input type="text" name="name" required>
			</div>
			<div class="section4_form-block">
				<label>телефон</label><input type="text" name="phone" id="phone" placeholder="+7(___) ___-___" required>
			</div>
			<div class="section4_form-block">
				<label>e-mail</label><input type="text" name="email" id="email"  placeholder="E-mail">
			</div>
			<div class="section4_form-block">
				<label >услуга</label>

				<select type="text" name="programs" class="cs-select cs-skin-elastic first">
					<option value="" disabled selected>выберите услугу</option>
					<option value="Шоу программы" data-class="show_programm" >Шоу программы</option>
                                        <option value="звезды первой величины" data-class="show">звезды первой величины</option>
					<option value="мероприятие под ключ" data-class="show">мероприятие под ключ</option>
				</select>


			</div>
<div id="shows" class="section4_form-block" >
<label >Шоу-программа</label>
<select type="text" name="shows" class="cs-select cs-skin-elastic second">
<option value="" disabled selected>выберите шоу-программу</option>
<option value="SINATRA ШОУ" >SINATRA ШОУ</option>
<option value="SOMETHING BLUE (ИТАЛИЯ)" >SOMETHING BLUE (ИТАЛИЯ)</option>
<option value="FUNK & HIP HOP JAZZ" >FUNK & HIP HOP JAZZ</option>
<option value="ОДИН ВЕЧЕР В РИО-ДЕ-ЖАНЕЙРО (Бразилия)" >ОДИН ВЕЧЕР В РИО-ДЕ-ЖАНЕЙРО (Бразилия)</option>
<option value="LA DOLCE VITA (Италия)" >LA DOLCE VITA (Италия)</option>
<option value="ПЕРВЫЕ ЛЕДИ ДЖАЗА (США)" >ПЕРВЫЕ ЛЕДИ ДЖАЗА (США)</option>
<option value="ОГНИ НЬЮ-ЙОРКА (США-Италия)" >ОГНИ НЬЮ-ЙОРКА (США-Италия)</option>
<option value="ДЖАЗ И ОПЕРА (Италия)" >ДЖАЗ И ОПЕРА (Италия)</option>
<option value="DJ & SMOOTH & ACCID JAZZ" >DJ & SMOOTH & ACCID JAZZ</option>
<option value="ЛЕГЕНДЫ РОК-Н-РОЛЛА!" >ЛЕГЕНДЫ РОК-Н-РОЛЛА!</option>
</select>
</div>
			<div class="section4_form-block">
				<label>бюджет</label>

				<select type="text" name="budget" class="cs-select cs-skin-elastic third">
					<option value="" disabled selected>Бюджет</option>
					<option value="200000-500000" data-class=" ">200000-500000</option>
					<option value="500000-1000000" data-class=" ">500000-1000000</option>
					<option value="1000000+" data-class=" ">1000000+</option>
				</select>


			</div>
			<div class="section4_form-block">
				<label>дата</label>
				<input type="text" name="data" type="text" id="datepicker1" placeholder="dd.mm.yy">
			</div>
<input type="hidden" id="order-title" name="order-title" value="Международное джазовое агентство" />
			<button class="section4_form-button" >Получить</button>
		</form>

</div>
</div>




