<header id="js-nav" class="header">
        <div class="header__navbar" >
          <div class="container">
            <div class="header__inner">
                <a [routerLink]="'/'"><div class="header__logo"><span class="logo-img"></span><span class="logo">Портфолио</span></div></a>
              <nav class="header__nav" role="navigation">
                <ul class="nav">
                  <li><a [routerLink]="'/'">Главная</a></li>
                  <li><a href="">Мои project</a></li>
                  <li><a href="">Мои portfolio</a></li>
                  <li><a href="#contacts">Контакты</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
</header>

<router-outlet></router-outlet>
