.contant
  .banner-bg
    .fp-tableCell
      header
        #menu.container
          .col-md-6.banner-bg-media-text-left
            .row
              .d-inline-block.col-md-3
                .row
                  .fa.fa-for-who.d-inline-block
                  p.d-inline-block
                    a(href='#for-who') &Dcy;&lcy;&yacy; &kcy;&ocy;&gcy;&ocy;
              .d-inline-block.col-md-9
                .fa.fa-check.d-inline-block
                p.d-inline-block
                  a(href='#programm') &Pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&acy; &mcy;&acy;&scy;&tcy;&iecy;&rcy;-&kcy;&lcy;&acy;&scy;&scy;&acy;
          .col-md-6.banner-bg-media-text-right
            .row
              .d-inline-block.col-md-6
                .fa.fa-calendar.d-inline-block
                p.d-inline-block
                  span.webinar_day
                  span.webinar_month
                  span.webinar_year
              .d-inline-block.col-md-6
                a.btn.d-inline-block(href='#free') &Bcy;&iecy;&scy;&pcy;&lcy;&acy;&tcy;&ncy;&acy;&yacy; &rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&yacy;
      .container
        .col-md-12.col-sm-12.col-xs-12
          .row
            .section-video.col-md-12.col-sm-12.col-xs-12
              .row
                .video.section-form-arrow
                  iframe(width='100%' height='100%' src='https://www.youtube.com/embed/z72EbNrx-TI' frameborder='0' allow='autoplay; encrypted-media' allowfullscreen='')
            #free.section-content.col-md-12.col-sm-12.col-xs-12
              .row
                .col-md-8.col-sm-12.col-xs-12
                  .row
                    .section-content-title.text-center.col-md-12
                      h1
                        | &Ucy;&zcy;&ncy;&acy;&jcy;&tcy;&iecy; &pcy;&ocy;&shcy;&acy;&gcy;&ocy;&vcy;&ycy;&jcy; &pcy;&lcy;&acy;&ncy; &kcy;&acy;&kcy; &zcy;&acy;&rcy;&acy;&bcy;&acy;&tcy;&ycy;&vcy;&acy;&tcy;&softcy; 
                        span
                        |  &ncy;&acy; &vcy;&ycy;&dcy;&acy;&chcy;&iecy; &zcy;&acy;&jcy;&mcy;&ocy;&vcy;
                    .section-content-info.col-md-12
                      .col-md-3.col-sm-3.section-content-img
                        img(src='https://finansvest.ru/masterclass/images/DSC03724.jpg')
                      .col-md-9.col-sm-9
                        .fa.fa-microphone.d-inline-block
                        p.d-inline-block &Acy;&vcy;&tcy;&ocy;&rcy;: &Acy;&rcy;&tcy;&iecy;&mcy; &Tcy;&kcy;&acy;&chcy;&iecy;&vcy;
                        ul
                          li &Vcy;&lcy;&acy;&dcy;&iecy;&lcy;&iecy;&tscy; &scy;&iecy;&tcy;&icy; &mcy;&icy;&kcy;&rcy;&ocy;&kcy;&iecy;&dcy;&icy;&tcy;&ncy;&ycy;&khcy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&jcy; &quot;&Fcy;&icy;&ncy;&acy;&ncy;&scy; &Icy;&ncy;&vcy;&iecy;&scy;&tcy;&quot;
                          li &Ocy;&tcy;&kcy;&rcy;&ycy;&lcy; &bcy;&ocy;&lcy;&iecy;&iecy; 90 &ocy;&fcy;&icy;&scy;&ocy;&vcy; &vcy; 45 &gcy;&ocy;&rcy;&ocy;&dcy;&acy;&khcy;
                          li &Zcy;&acy; &pcy;&ocy;&scy;&lcy;&iecy;&dcy;&ncy;&icy;&jcy; &gcy;&ocy;&dcy; &ucy;&vcy;&iecy;&lcy;&icy;&chcy;&icy;&lcy; &ocy;&bcy;&ocy;&rcy;&ocy;&tcy; &ncy;&acy; 24% &vcy; &scy;&rcy;&iecy;&dcy;&ncy;&iecy;&mcy; &pcy;&ocy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy;
                        .fa.fa-calendar-2.d-inline-block
                        p.d-inline-block
                          span.webinar_day
                          span.webinar_month
                          span.webinar_year
                .col-sm-2.col-xs-1
                .col-md-4.col-sm-8.col-xs-10
                  .row
                    .section-form
                      .block-form
                        form#form
                          h3 &Vcy;&vcy;&iecy;&dcy;&icy;&tcy;&iecy; &Vcy;&acy;&shcy; E-mail &icy; &mcy;&ycy; &ocy;&tcy;&pcy;&rcy;&acy;&vcy;&icy;&mcy; &vcy;&acy;&mcy; &scy;&scy;&ycy;&lcy;&kcy;&ucy; &ncy;&acy; &mcy;&acy;&scy;&tcy;&iecy;&rcy;-&kcy;&lcy;&acy;&scy;&scy;
                          input.input-fa.fa.fa-user2.fa-form1(type='text' name='name' pattern='^[а-яА-ЯёЁ\-\s]+$' placeholder='Ваше Имя' required='')
                          input.input-fa.fa.fa-envelope.fa-form1(type='text' name='email' pattern='^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$' placeholder='Ваш E-mail' required='')
                          input.fa.fa-telephone.fa-form1(type='text' name='phone' placeholder='Ваш Телефон' required='')
                          input(type='hidden' name='location' value='1')
                          button &Pcy;&rcy;&icy;&dcy;&ucy; &ncy;&acy; &mcy;&acy;&scy;&tcy;&iecy;&rcy;-&kcy;&lcy;&acy;&scy;&scy;
                        p
                          | &Ucy;&zhcy;&iecy; &zcy;&acy;&rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&ocy;: 
                          b 214
                          |  &chcy;&iecy;&lcy;&ocy;&vcy;&iecy;&kcy;
                      .block-counter
                        h3 &Mcy;&acy;&scy;&tcy;&iecy;&rcy; &kcy;&lcy;&acy;&scy;&scy; &scy;&tcy;&acy;&rcy;&tcy;&ucy;&iecy;&tcy; &chcy;&iecy;&rcy;&iecy;&zcy;: 
                        #t
  .article
    .container
      .col-md-12.text-center
        .row
          h2#programm &Ncy;&acy; &ecy;&tcy;&ocy;&mcy; &Mcy;&acy;&scy;&tcy;&iecy;&rcy;-&Kcy;&lcy;&acy;&scy;&scy;&iecy; &Vcy;&ycy; &ucy;&zcy;&ncy;&acy;&iecy;&tcy;&iecy;:
          .article-contant
            .col-md-12.col-sm-12.col-xs-12.article-contant-list
              .col-md-3.col-sm-3.col-xs-3.text-right
                .icon.icon-open.d-inline-block
              .col-md-8.col-sm-8.col-xs-8.text-left
                .article-contant-text
                  p &Kcy;&acy;&kcy; &pcy;&rcy;&ocy;&scy;&tcy;&ocy; &icy;&nbsp;&bcy;&ycy;&scy;&tcy;&rcy;&ocy; &ocy;&tcy;&kcy;&rcy;&ycy;&tcy;&softcy; &ocy;&fcy;&icy;&scy; &pcy;&ocy;&nbsp;&vcy;&ycy;&dcy;&acy;&chcy;&iecy; &zcy;&acy;&jcy;&mcy;&ocy;&vcy; &scy;&nbsp;&mcy;&icy;&ncy;&icy;&mcy;&acy;&lcy;&softcy;&ncy;&ycy;&mcy;&icy; &vcy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&yacy;&mcy;&icy;
            .col-md-12.col-sm-12.col-xs-12.article-contant-list
              .col-md-3.col-sm-3.col-xs-3.text-right
                .icon.icon-security.d-inline-block
              .col-md-8.col-sm-8.col-xs-8.text-left
                .article-contant-text
                  p
                    | &Kcy;&acy;&kcy; &pcy;&rcy;&acy;&vcy;&icy;&lcy;&softcy;&ncy;&ocy; &pcy;&rcy;&ocy;&vcy;&iecy;&rcy;&yacy;&tcy;&softcy; &zcy;&acy;&iecy;&mcy;&shchcy;&icy;&kcy;&acy;, &chcy;&tcy;&ocy;&bcy;&ycy; &vcy;&iecy;&rcy;&ncy;&ucy;&tcy;&softcy; &zcy;&acy;&ncy;&yacy;&tcy;&ycy;&iecy; &dcy;&iecy;&ncy;&softcy;&gcy;&icy; &scy;&nbsp;&vcy;&iecy;&rcy;&ocy;&yacy;&tcy;&ncy;&ocy;&scy;&tcy;&softcy;&yucy;&nbsp;90%
            .col-md-12.col-sm-12.col-xs-12.article-contant-list
              .col-md-3.col-sm-3.col-xs-3.text-right
                .icon.icon-gear.d-inline-block
              .col-md-8.col-sm-8.col-xs-8.text-left
                .article-contant-text
                  p
                    | &Kcy;&acy;&kcy; &scy;&dcy;&iecy;&lcy;&acy;&vcy; 3&nbsp;&pcy;&rcy;&ocy;&scy;&tcy;&ycy;&khcy; &shcy;&acy;&gcy;&acy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&tcy;&softcy; &bcy;&icy;&zcy;&ncy;&iecy;&scy;, &rcy;&acy;&bcy;&ocy;&tcy;&acy;&yucy;&shchcy;&icy;&jcy; &ncy;&acy;&nbsp;&acy;&vcy;&tcy;&ocy;&mcy;&acy;&tcy;&iecy; &bcy;&iecy;&zcy; &gcy;&ocy;&lcy;&ocy;&vcy;&ncy;&ocy;&jcy; &bcy;&ocy;&lcy;&icy; &icy; &ncy;&iecy;&rcy;&vcy;&ocy;&vcy;
            .col-md-12.col-sm-12.col-xs-12.article-contant-list
              .col-md-3.col-sm-3.col-xs-3.text-right
                .icon.icon-gift.d-inline-block
              .col-md-8.col-sm-8.col-xs-8.text-left
                .article-contant-text
                  p
                    | &Pcy;&ocy;&lcy;&ucy;&chcy;&icy;&tcy;&iecy; 
                    span &Vcy;&nbsp;&Pcy;&Ocy;&Dcy;&Acy;&Rcy;&Ocy;&Kcy;
                    |  &pcy;&ocy;&shcy;&acy;&gcy;&ocy;&vcy;&ycy;&jcy; &pcy;&lcy;&acy;&ncy;, &ocy;&tcy;&kcy;&rcy;&ycy;&tcy;&icy;&yacy;&nbsp;&ocy;&fcy;&icy;&scy;&acy;&nbsp;&pcy;&ocy; &vcy;&ycy;&dcy;&acy;&chcy;&iecy; &zcy;&acy;&jcy;&mcy;&ocy;&vcy;&nbsp;&ocy;&tcy; 10 &dcy;&ncy;&iecy;&jcy;
            .col-md-12.col-sm-12.col-xs-12
              .col-md-2
              .col-md-9.text-center
                .row
                  .article-form
                    form#form2
                      h3
                        | &Bcy;&iecy;&scy;&pcy;&lcy;&acy;&tcy;&ncy;&ycy;&jcy; &mcy;&acy;&scy;&tcy;&iecy;&rcy;-&kcy;&lcy;&acy;&scy;&scy; 
                        br
                        span.webinar_day
                        span.webinar_month
                        |  &vcy; 
                        span.webinar_h
                        | :00
                      p &pcy;&ocy; &Mcy;&ocy;&scy;&kcy;&ocy;&vcy;&scy;&kcy;&ocy;&mcy;&ucy; &vcy;&rcy;&iecy;&mcy;&iecy;&ncy;&icy;.
                      p &Vcy;&vcy;&iecy;&dcy;&icy;&tcy;&iecy; &Vcy;&acy;&shcy; E-mail &icy;&nbsp;&mcy;&ycy;&nbsp;&ocy;&tcy;&pcy;&rcy;&acy;&vcy;&icy;&mcy; &vcy;&acy;&mcy; &scy;&scy;&ycy;&lcy;&kcy;&ucy; &ncy;&acy;&nbsp;&mcy;&acy;&scy;&tcy;&iecy;&rcy;-&kcy;&lcy;&acy;&scy;&scy;
                      input.input-fa.fa.fa-user2.fa-form1(type='text' name='name' pattern='^[а-яА-ЯёЁ\-\s]+$' placeholder='Ваше Имя' required='')
                      input.input-fa.fa.fa-envelope.fa-form1(type='text' name='email' pattern='^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$' placeholder='Ваш E-mail' required='')
                      input.fa.fa-telephone.fa-form1(type='text' name='phone' placeholder='Ваш Телефон' required='')
                      input(type='hidden' name='location' value='2')
                      button &Pcy;&rcy;&icy;&dcy;&ucy; &ncy;&acy; &mcy;&acy;&scy;&tcy;&iecy;&rcy;-&kcy;&lcy;&acy;&scy;&scy;
                    p
                      | &Ucy;&zhcy;&iecy; &zcy;&acy;&rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&ocy;: 
                      b 214
                      |  &chcy;&iecy;&lcy;&ocy;&vcy;&iecy;&kcy;
          h3#for-who &Ecy;&tcy;&ocy;&tcy; &Mcy;&Acy;&Scy;&Tcy;&IEcy;&Rcy;-&Kcy;&Lcy;&Acy;&Scy;&Scy; &dcy;&lcy;&yacy; &vcy;&acy;&scy;, &iecy;&scy;&lcy;&icy;:
          .article-contant
            .col-md-12.col-sm-12.col-xs-12
              .row
                .col-md-6.col-sm-6.col-xs-12.master-contant-list
                  .row
                    .col-md-4.text-media
                      .row
                        .icon.icon-big.icon-coin-hand.d-inline-block
                    .col-md-8.text-left
                      .article-contant-text.article-contant-text-p-m
                        p
                          | &Vcy;&ycy;&nbsp;&ucy;&scy;&tcy;&acy;&lcy;&icy; &rcy;&acy;&bcy;&ocy;&tcy;&acy;&tcy;&softcy; &pcy;&ocy;&nbsp;&ncy;&acy;&jcy;&mcy;&ucy; &icy;&nbsp;&pcy;&ocy;&lcy;&ucy;&chcy;&acy;&tcy;&softcy; &ncy;&icy;&shchcy;&iecy;&ncy;&scy;&kcy;&ucy;&yucy; &zcy;&acy;&rcy;&pcy;&lcy;&acy;&tcy;&ucy; &bcy;&iecy;&zcy; &ncy;&acy;&dcy;&iecy;&zhcy;&dcy;&ycy; &ncy;&acy;&nbsp;&khcy;&ocy;&rcy;&ocy;&shcy;&ucy;&yucy; &zhcy;&icy;&zcy;&ncy;&softcy; &dcy;&lcy;&yacy; &scy;&iecy;&bcy;&yacy; &icy;&nbsp;&scy;&vcy;&ocy;&icy;&khcy; &dcy;&iecy;&tcy;&iecy;&jcy;
                .col-md-6.col-sm-6.col-xs-12.master-contant-list
                  .row
                    .col-md-4.text-media
                      .row
                        .icon.icon-big.icon-man.d-inline-block
                    .col-md-8.text-left
                      .article-contant-text.article-contant-text-p-m
                        p
                          | &Pcy;&iecy;&rcy;&icy;&ocy;&dcy;&icy;&chcy;&iecy;&scy;&kcy;&icy; &dcy;&ucy;&mcy;&acy;&iecy;&tcy;&iecy; &ocy;&bcy;&nbsp;&ocy;&tcy;&kcy;&rcy;&ycy;&tcy;&icy;&icy; &scy;&vcy;&ocy;&iecy;&gcy;&ocy; &bcy;&icy;&zcy;&ncy;&iecy;&scy;&acy;, &ncy;&ocy;&nbsp;&ncy;&iecy;&nbsp;&zcy;&ncy;&acy;&iecy;&tcy;&iecy; &scy;&nbsp;&chcy;&iecy;&gcy;&ocy; &ncy;&ucy;&zhcy;&ncy;&ocy; &ncy;&acy;&chcy;&icy;&ncy;&acy;&tcy;&softcy; &icy;&nbsp;&chcy;&tcy;&ocy; &dcy;&iecy;&lcy;&acy;&tcy;&softcy;
                .col-md-6.col-sm-6.col-xs-12
                  .row
                    .col-md-4.text-media
                      .row
                        .icon.icon-big.icon-aircraft.d-inline-block
                    .col-md-8.text-left
                      .article-contant-text.article-contant-text-p-m
                        p
                          | &KHcy;&ocy;&tcy;&iecy;&lcy;&icy;&nbsp;&bcy;&ycy; &pcy;&ocy;&mcy;&iecy;&ncy;&yacy;&tcy;&softcy; &mcy;&acy;&shcy;&icy;&ncy;&ucy;, &kcy;&vcy;&acy;&rcy;&tcy;&icy;&rcy;&ucy; &ncy;&acy;&nbsp;&bcy;&ocy;&lcy;&iecy;&iecy; &pcy;&rcy;&iecy;&scy;&tcy;&icy;&zhcy;&ncy;&ycy;&iecy;, &ocy;&tcy;&pcy;&rcy;&acy;&vcy;&icy;&tcy;&softcy; &dcy;&iecy;&tcy;&iecy;&jcy; &vcy;&nbsp;&khcy;&ocy;&rcy;&ocy;&shcy;&icy;&jcy; &Vcy;&Ucy;&Zcy; &icy;&nbsp;&ocy;&tcy;&dcy;&ycy;&khcy;&acy;&tcy;&softcy; &zcy;&acy;&nbsp;&gcy;&rcy;&acy;&ncy;&icy;&tscy;&iecy;&jcy; &ncy;&iecy;&scy;&kcy;&ocy;&lcy;&softcy;&kcy;&ocy; &rcy;&acy;&zcy; &vcy;&nbsp;&gcy;&ocy;&dcy;
                .col-md-6.col-sm-6.col-xs-12
                  .row
                    .col-md-4.text-media
                      .row
                        .icon.icon-big.icon-partner.d-inline-block
                    .col-md-8.text-left
                      .article-contant-text.article-contant-text-p-m
                        p
                          | &KHcy;&ocy;&tcy;&iecy;&lcy;&icy;&nbsp;&bcy;&ycy; &chcy;&tcy;&ocy;&bcy;&ycy; &pcy;&rcy;&icy;&shcy;&iecy;&lcy; &chcy;&iecy;&lcy;&ocy;&vcy;&iecy;&kcy; &icy;&nbsp;&pcy;&rcy;&ocy;&vcy;&iecy;&lcy; &vcy;&acy;&scy; &zcy;&acy;&nbsp;&rcy;&ucy;&chcy;&kcy;&ucy; &kcy;&nbsp;&dcy;&iecy;&ncy;&softcy;&gcy;&acy;&mcy;, &acy;&nbsp;&vcy;&ycy;&nbsp;&gcy;&ocy;&tcy;&ocy;&vcy;&ycy; &vcy;&kcy;&lcy;&acy;&dcy;&ycy;&vcy;&acy;&tcy;&softcy; &scy;&vcy;&ocy;&icy; &scy;&icy;&lcy;&ycy; &vcy;&nbsp;&dcy;&iecy;&lcy;&ocy; &icy;&nbsp;&ncy;&iecy;&nbsp;&lcy;&iecy;&ncy;&icy;&tcy;&softcy;&scy;&yacy;
          h3 &CHcy;&iecy;&gcy;&ocy; &mcy;&ycy; &dcy;&ocy;&scy;&tcy;&icy;&gcy;&lcy;&icy; &icy; &chcy;&iecy;&mcy;&ucy; &ncy;&acy;&ucy;&chcy;&icy;&mcy;
          h4
            span 134 500
            |  &rcy;&ucy;&bcy;&lcy;&iecy;&jcy; &vcy; &mcy;&iecy;&scy;&yacy;&tscy; - &mcy;&icy;&ncy;&icy;&mcy;&acy;&lcy;&softcy;&ncy;&acy;&yacy; &chcy;&icy;&scy;&tcy;&acy;&yacy; &pcy;&rcy;&icy;&bcy;&ycy;&lcy;&softcy; &ocy;&fcy;&icy;&scy;&acy; &pcy;&ocy; &vcy;&ycy;&dcy;&acy;&chcy;&icy; &zcy;&acy;&jcy;&mcy;&ocy;&vcy;
          .article-contant
            .col-md-12.col-sm-12.col-xs-12
              .row
                .col-md-3.col-sm-6.col-xxs-6.col-xxxs-6
                  .row
                    .article-contant-what-we
                      .article-contant-what-we-img.bg-lchegorsk
                      .article-contant-what-we-text
                        h4 &pcy;&gcy;&tcy;. &Lcy;&ucy;&chcy;&iecy;&gcy;&ocy;&rcy;&scy;&kcy; 
                        p.text-left.title-h5 &Pcy;&rcy;&icy;&mcy;&ocy;&rcy;&scy;&kcy;&icy;&jcy; &kcy;&rcy;&acy;&jcy;
                        p.text-left.d-inline-block &Scy;&rcy;&ocy;&kcy; &ocy;&tcy;&kcy;&rcy;&ycy;&tcy;&icy;&yacy;
                        p.text-right.d-inline-block 10 &dcy;&ncy;&iecy;&jcy;
                        p.text-left.d-inline-block &Scy;&rcy;&ocy;&kcy; &ocy;&kcy;&ucy;&pcy;&acy;&iecy;&mcy;&ocy;&scy;&tcy;&icy;
                        p.text-right.d-inline-block 6,5 &mcy;&iecy;&scy;&yacy;&tscy;&iecy;&vcy;
                        p.text-left.d-inline-block &Pcy;&rcy;&icy;&bcy;&ycy;&lcy;&softcy; &vcy; &mcy;&iecy;&scy;&yacy;&tscy;
                        p.text-right.d-inline-block 219 421 &#x20BD;
                        p.text-left.d-inline-block &Pcy;&rcy;&icy;&bcy;&ycy;&lcy;&softcy; &vcy; &gcy;&ocy;&dcy;
                        p.text-right.d-inline-block 2 633 062 &#x20BD;
                .col-md-3.col-sm-6.col-xxs-6.col-xxxs-6
                  .row
                    .article-contant-what-we
                      .article-contant-what-we-img.bg-belogorsk
                      .article-contant-what-we-text
                        h4 &gcy;.&Bcy;&iecy;&lcy;&ocy;&gcy;&ocy;&rcy;&scy;&kcy; 
                        p.text-left.title-h5 &Acy;&mcy;&ucy;&rcy;&scy;&kcy;&acy;&yacy; &ocy;&bcy;&lcy;&acy;&scy;&tcy;&softcy;
                        p.text-left.d-inline-block &Scy;&rcy;&ocy;&kcy; &ocy;&tcy;&kcy;&rcy;&ycy;&tcy;&icy;&yacy;
                        p.text-right.d-inline-block 15 &dcy;&ncy;&iecy;&jcy;
                        p.text-left.d-inline-block &Scy;&rcy;&ocy;&kcy; &ocy;&kcy;&ucy;&pcy;&acy;&iecy;&mcy;&ocy;&scy;&tcy;&icy;
                        p.text-right.d-inline-block 6 &mcy;&iecy;&scy;&yacy;&tscy;&iecy;&vcy;
                        p.text-left.d-inline-block &Pcy;&rcy;&icy;&bcy;&ycy;&lcy;&softcy; &vcy; &mcy;&iecy;&scy;&yacy;&tscy;
                        p.text-right.d-inline-block 227 500 &#x20BD;
                        p.text-left.d-inline-block &Pcy;&rcy;&icy;&bcy;&ycy;&lcy;&softcy; &vcy; &gcy;&ocy;&dcy;
                        p.text-right.d-inline-block 2 730 470 &#x20BD;
                .col-md-3.col-sm-6.col-xxs-6.col-xxxs-6
                  .row
                    .article-contant-what-we
                      .article-contant-what-we-img.bg-mozaisk
                      .article-contant-what-we-text
                        h4 &gcy;.&Mcy;&ocy;&zhcy;&acy;&jcy;&scy;&kcy; 
                        p.text-left.title-h5 &Mcy;&ocy;&scy;&kcy;&ocy;&vcy;&scy;&kcy;&acy;&yacy; &ocy;&bcy;&lcy;&acy;&scy;&tcy;&softcy;
                        p.text-left.d-inline-block &Scy;&rcy;&ocy;&kcy; &ocy;&tcy;&kcy;&rcy;&ycy;&tcy;&icy;&yacy;
                        p.text-right.d-inline-block  20 &dcy;&ncy;&iecy;&jcy;
                        p.text-left.d-inline-block &Scy;&rcy;&ocy;&kcy; &ocy;&kcy;&ucy;&pcy;&acy;&iecy;&mcy;&ocy;&scy;&tcy;&icy;
                        p.text-right.d-inline-block 5 &mcy;&iecy;&scy;&yacy;&tscy;&iecy;&vcy;
                        p.text-left.d-inline-block &Pcy;&rcy;&icy;&bcy;&ycy;&lcy;&softcy; &vcy; &mcy;&iecy;&scy;&yacy;&tscy;
                        p.text-right.d-inline-block 134 500 &#x20BD;
                        p.text-left.d-inline-block &Pcy;&rcy;&icy;&bcy;&ycy;&lcy;&softcy; &vcy; &gcy;&ocy;&dcy;
                        p.text-right.d-inline-block 1 608 235 &#x20BD;
                .col-md-3.col-sm-6.col-xxs-6.col-xxxs-6
                  .row
                    .article-contant-what-we
                      .article-contant-what-we-img.bg-verhnevilyisk
                      .article-contant-what-we-text
                        h4 &gcy;.&Vcy;&iecy;&rcy;&khcy;&ncy;&iecy;&vcy;&icy;&lcy;&yucy;&jcy;&scy;&kcy;
                        p.text-left.title-h5  &YAcy;&kcy;&ucy;&tcy;&icy;&yacy;
                        p.text-left.d-inline-block &Scy;&rcy;&ocy;&kcy; &ocy;&tcy;&kcy;&rcy;&ycy;&tcy;&icy;&yacy;
                        p.text-right.d-inline-block 23 &dcy;&ncy;&iecy;&jcy;
                        p.text-left.d-inline-block &Scy;&rcy;&ocy;&kcy; &ocy;&kcy;&ucy;&pcy;&acy;&iecy;&mcy;&ocy;&scy;&tcy;&icy;
                        p.text-right.d-inline-block 5 &mcy;&iecy;&scy;&yacy;&tscy;&iecy;&vcy;
                        p.text-left.d-inline-block &Pcy;&rcy;&icy;&bcy;&ycy;&lcy;&softcy; &vcy; &mcy;&iecy;&scy;&yacy;&tscy;
                        p.text-right.d-inline-block 217 050 &#x20BD;
                        p.text-left.d-inline-block &Pcy;&rcy;&icy;&bcy;&ycy;&lcy;&softcy; &vcy; &gcy;&ocy;&dcy;
                        p.text-right.d-inline-block 2 604 600 &#x20BD;
          h3 &Pcy;&ocy;&chcy;&iecy;&mcy;&ucy; &scy;&iecy;&jcy;&chcy;&acy;&scy; &ecy;&tcy;&ocy; &dcy;&iecy;&lcy;&acy;&tcy;&softcy; &ocy;&scy;&ocy;&bcy;&iecy;&ncy;&ocy; &vcy;&ycy;&gcy;&ocy;&dcy;&ncy;&ocy;
          .article-contant
            .col-md-12
              .row
                .col-md-8
                  div(style='    position: absolute;\
                  z-index: 10;\
                  width: 90%;')
                    .col-md-12
                      .map-russia
                .col-md-8.text-left.article-contant-f-r
                  .article-contant-text-why-now
                    .col-md-5
                    .col-md-7
                      p.fa-6 &Rcy;&ycy;&ncy;&ocy;&kcy; &zcy;&acy;&jcy;&mcy;&ocy;&vcy; &scy;&vcy;&ocy;&bcy;&ocy;&dcy;&iecy;&ncy; &ncy;&acy; 65%
                      p.fa-6 &Bcy;&ocy;&lcy;&iecy;&iecy; 5 &mcy;&lcy;&ncy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&ocy;&vcy; &Mcy;&Fcy;&Ocy;
                      span &scy; 2017 &gcy;&ocy;&dcy;&ucy; &pcy;&ocy; &dcy;&acy;&ncy;&ncy;&ycy;&mcy; &TScy;&Bcy;
                      p.fa-6 &scy; 2017 &gcy;&ocy;&dcy;&ucy; &pcy;&ocy; &dcy;&acy;&ncy;&ncy;&ycy;&mcy; &TScy;&Bcy;
                      span &scy;&rcy;&iecy;&dcy;&ncy;&iecy;&gcy;&ocy;&dcy;&ocy;&vcy;&ocy;&jcy; &tcy;&iecy;&mcy;&pcy; &rcy;&ocy;&scy;&tcy;&acy; &rcy;&ycy;&ncy;&kcy;&acy;
                      p.fa-6 7 450 P
                      span  &scy;&rcy;&iecy;&dcy;&ncy;&yacy;&yacy; &scy;&ucy;&mcy;&mcy;&acy; &zcy;&acy;&jcy;&mcy;&acy; 
                      p.fa-6 2 397 &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy;
                      span  &vcy; &gcy;&ocy;&scy;&ucy;&dcy;&acy;&rcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ocy;&mcy; &rcy;&iecy;&iecy;&scy;&tcy;&rcy;&iecy; &Mcy;&Fcy;&Ocy; &vcy; &ocy;&kcy;&tcy;&yacy;&bcy;&rcy;&iecy; 2017 &gcy;&ocy;&dcy;&acy;
  .footer-bg
    .fp-tableCell
      .container
        h2 &Fcy;&ocy;&rcy;&mcy;&acy;&tcy; &Mcy;&Acy;&Scy;&Tcy;&IEcy;&Rcy;-&Kcy;&Lcy;&Acy;&Scy;&Scy;&Acy;
        .col-md-6
          .row
            .block-counter
              h3 &Ncy;&acy;&chcy;&acy;&lcy;&ocy; &chcy;&iecy;&rcy;&iecy;&zcy;: 
              #t2
              div
                p -&Mcy;&acy;&scy;&tcy;&iecy;&rcy;-&kcy;&lcy;&acy;&scy;&scy; &bcy;&ucy;&dcy;&iecy;&tcy; &vcy; &rcy;&iecy;&zhcy;&icy;&mcy;&iecy; &ocy;&ncy;&lcy;&acy;&jcy;&ncy;
                p -&Dcy;&lcy;&yacy; &ucy;&chcy;&acy;&scy;&tcy;&icy;&yacy; &ncy;&iecy;&ocy;&bcy;&khcy;&ocy;&dcy;&icy;&mcy;&ycy; &tcy;&ocy;&lcy;&softcy;&kcy;&ocy; &kcy;&ocy;&mcy;&pcy;&softcy;&yucy;&tcy;&iecy;&rcy; &icy; &ncy;&acy;&ucy;&shcy;&ncy;&icy;&kcy;&icy;
                p -&Vcy;&acy;&mcy; &ncy;&iecy; &ncy;&ucy;&zhcy;&ncy;&ocy; &ncy;&icy;&kcy;&ucy;&dcy;&acy; &iecy;&khcy;&acy;&tcy;&softcy;
        .col-md-6
          .row
            .section-form
              .block-form
                form#form3
                  h3
                    | &Vcy;&vcy;&iecy;&dcy;&icy;&tcy;&iecy; &Vcy;&acy;&shcy; E-mail &icy; &mcy;&ycy; &ocy;&tcy;&pcy;&rcy;&acy;&vcy;&icy;&mcy; &vcy;&acy;&mcy; &scy;&scy;&ycy;&lcy;&kcy;&ucy; &ncy;&acy; &mcy;&acy;&scy;&tcy;&iecy;&rcy;-&kcy;&lcy;&acy;&scy;&scy;
                  input.input-fa.fa.fa-user2.fa-form1(type='text' name='name' pattern='^[а-яА-ЯёЁ\-\s]+$' placeholder='Ваше Имя' required='')
                  input.input-fa.fa.fa-envelope.fa-form1(type='text' name='email' pattern='^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$' required='')
                  input.fa.fa-telephone.fa-form1(type='text' name='phone' placeholder='Ваш Телефон' required='')
                  input(type='hidden' name='location' value='3')
                  button &Pcy;&rcy;&icy;&dcy;&ucy; &ncy;&acy; &mcy;&acy;&scy;&tcy;&iecy;&rcy;-&kcy;&lcy;&acy;&scy;&scy;
                p
                  | &Ucy;&zhcy;&iecy; &zcy;&acy;&rcy;&iecy;&gcy;&iecy;&scy;&tcy;&rcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&ncy;&ocy;: 
                  b 214
                  |  &chcy;&iecy;&lcy;&ocy;&vcy;&iecy;&kcy;
  footer
    .container
      .col-md-6.col-sm-6.col-xs-6.text-left
        .row
          p
            img(src='https://finansvest.ru/masterclass/images/logo-white.png')
          div(style='color: #828282; line-height:14px; font-size:12px;')
            a(style='color: #bbb;' href='http://finansvest.ru/wp-content/uploads/2014/12/policy.pdf' target='_blank' rel='nofollow') &Pcy;&ocy;&lcy;&icy;&tcy;&icy;&kcy;&acy;
            |  &vcy; &ocy;&bcy;&lcy;&acy;&scy;&tcy;&icy; &ocy;&bcy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&icy; &icy; &ocy;&bcy;&iecy;&scy;&pcy;&iecy;&chcy;&iecy;&ncy;&icy;&yacy; &bcy;&iecy;&zcy;&ocy;&pcy;&acy;&scy;&ncy;&ocy;&scy;&tcy;&icy; &pcy;&iecy;&rcy;&scy;&ocy;&ncy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; &dcy;&acy;&ncy;&ncy;&ycy;&khcy;.
      .col-md-6.col-sm-6.col-xs-6.text-right
        .row
          .nomber 8 (800) 333 21 17
