header
  .col-lg-12.strip
  .container-fluid.head
    .container
      .row
        .col-lg-2.col-sm-3.logo
          img(src='../../img/portfolio/pulsar/logo.png' alt='')
        .col-lg-4.col-sm-4
          .time_work &scy; 9.00 &dcy;&ocy; 21.00 &bcy;&iecy;&zcy; &vcy;&ycy;&khcy;&ocy;&dcy;&ncy;&ycy;&khcy;
          .mail
            a(href='mailto:info@akvahit.ru') info@akvahit.ru
        .col-lg-4.col-sm-5
          .phone
            a(href='tel:74955405059') +7 (495) 540-50-59
        .col-lg-2.col-sm-12
          a.recall(href='#') &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &zcy;&vcy;&ocy;&ncy;&ocy;&kcy;
.container.main_block
  .row
    .col-lg-12.title_main
      | &Ucy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&kcy;&acy; &icy; &zcy;&acy;&mcy;&iecy;&ncy;&acy; 
      span &kcy;&vcy;&acy;&rcy;&tcy;&icy;&rcy;&ncy;&ocy;&gcy;&ocy; &tcy;&iecy;&pcy;&lcy;&ocy;&scy;&chcy;&iecy;&tcy;&chcy;&icy;&kcy;&acy;
  .row
    .col-lg-offset-3.col-lg-6.subtitle_main
      | &Zcy;&acy; 1 &dcy;&iecy;&ncy;&softcy; 
      br
      | &scy; &gcy;&acy;&rcy;&acy;&ncy;&tcy;&icy;&iecy;&jcy;
      .price 12 000
    .col-lg-3
      form.send_mail(action='')
        input(type='text' name='name' placeholder='Имя' required='')
        input(type='phone' name='phone' placeholder='Телефон' required='')
        button &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy;
.installation_cost
  .container
    .row
      .col-lg-12
        .title &CHcy;&tcy;&ocy; &vcy;&khcy;&ocy;&dcy;&icy;&tcy; &vcy; &scy;&tcy;&ocy;&icy;&mcy;&ocy;&scy;&tcy;&softcy; &ucy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&kcy;&icy;
    .row
      .col-lg-3.col-sm-6
        .point
          img(src='../../img/portfolio/pulsar/6.png' alt='')
          .subtitel &Kcy;&Vcy;&Acy;&Rcy;&Tcy;&Icy;&Rcy;&Ncy;&Ycy;&Jcy; &Tcy;&IEcy;&Pcy;&Lcy;&Ocy;&Scy;&CHcy;&IEcy;&Tcy;&CHcy;&Icy;&Kcy; &quot;&Pcy;&Ucy;&Lcy;&SOFTcy;&Scy;&Acy;&Rcy;&quot;
      .col-lg-3.col-sm-6
        .point
          img(src='../../img/portfolio/pulsar/7.png' alt='')
          .subtitel &Kcy;&Ocy;&Mcy;&Pcy;&Lcy;&IEcy;&Kcy;&Tcy; &Pcy;&Rcy;&Icy;&Scy;&Ocy;&IEcy;&Dcy;&Icy;&Ncy;&Icy;&Tcy;&IEcy;&Lcy;&IEcy;&Jcy;
      .col-lg-3.col-sm-6
        .point
          img(src='../../img/portfolio/pulsar/8.png' alt='')
          .subtitel
            | &SHcy;&Acy;&Rcy;&Ocy;&Vcy;&Ycy;&Jcy; &Kcy;&Rcy;&Acy;&Ncy;
            br
            | &Pcy;&Ocy;&Dcy; &Tcy;&IEcy;&Rcy;&Mcy;&Ocy;&Dcy;&Acy;&Tcy;&CHcy;&Icy;&Kcy;
      .col-lg-3.col-sm-6
        .point
          img(src='../../img/portfolio/pulsar/9.png' alt='')
          .subtitel &SHcy;&Acy;&Rcy;&Ocy;&Vcy;&Ycy;&Jcy; &Kcy;&Rcy;&Acy;&Ncy; &Pcy;&Ocy;&Scy;&Lcy;&IEcy; &Tcy;&IEcy;&Pcy;&Lcy;&Ocy;&Scy;&CHcy;&IEcy;&Tcy;&CHcy;&Icy;&Kcy;&Acy;
    .row
      .col-lg-3.col-sm-6
        .point
          img(src='../../img/portfolio/pulsar/10.png' alt='')
          .subtitel &Fcy;&Icy;&Lcy;&SOFTcy;&Tcy;&Rcy; &Gcy;&Rcy;&Ucy;&Bcy;&Ocy;&Jcy; &Ocy;&CHcy;&Icy;&Scy;&Tcy;&Kcy;&Icy;
      .col-lg-3.col-sm-6
        .point
          img(src='../../img/portfolio/pulsar/11.png' alt='')
          .subtitel &Fcy;&Icy;&Tcy;&Icy;&Ncy;&Gcy;&Icy; &Dcy;&Lcy;&YAcy; &Tcy;&Rcy;&Ucy;&Bcy;
      .col-lg-3.col-sm-6
        .point
          img(src='../../img/portfolio/pulsar/12.png' alt='')
          .subtitel
            | &Pcy;&Acy;&Scy;&Pcy;&Ocy;&Rcy;&Tcy;
            br
            | &Ncy;&Acy; &Tcy;&IEcy;&Pcy;&Lcy;&Ocy;&Scy;&CHcy;&IEcy;&Tcy;&CHcy;&Icy;&Kcy;
      .col-lg-3.col-sm-6
        .point
          img(src='../../img/portfolio/pulsar/13.png' alt='')
          .subtitel
            | &Dcy;&Ocy;&Kcy;&Ucy;&Mcy;&IEcy;&Ncy;&Tcy;&Ycy; &Dcy;&Lcy;&YAcy; &Vcy;&Vcy;&Ocy;&Dcy;&Acy;
            br
            | &Vcy; &Ecy;&Kcy;&Scy;&Pcy;&Lcy;&Ucy;&Acy;&Tcy;&Acy;&TScy;&Icy;&YUcy;
.flat
  .container
    .row
      .col-lg-12
        .title &Vcy; &kcy;&acy;&kcy;&ucy;&yucy; &kcy;&vcy;&acy;&rcy;&tcy;&icy;&rcy;&ucy; &mcy;&ocy;&zhcy;&ncy;&ocy; &scy;&tcy;&acy;&vcy;&icy;&tcy;&softcy;?
    .row
      .col-lg-6.col-md-6.col-sm-12
        .one_flat
          img(src='../../img/portfolio/pulsar/14.png' alt='')
          .flat_title
            img(src='../../img/portfolio/pulsar/16.png' alt='')
            span &Vcy;&iecy;&rcy;&tcy;&icy;&kcy;&acy;&lcy;&softcy;&ncy;&acy;&yacy;
            |  &scy;&icy;&scy;&tcy;&iecy;&mcy;&acy; &ocy;&tcy;&ocy;&pcy;&lcy;&iecy;&ncy;&icy;&yacy;
          .desc
            p
              | &Pcy;&rcy;&icy; &vcy;&iecy;&rcy;&tcy;&icy;&kcy;&acy;&lcy;&softcy;&ncy;&ocy;&jcy; &rcy;&acy;&zcy;&vcy;&ocy;&dcy;&kcy;&iecy; &vcy; &kcy;&vcy;&acy;&rcy;&tcy;&icy;&rcy;&ucy; &zcy;&acy;&khcy;&ocy;&dcy;&icy;&tcy; &ncy;&iecy;&scy;&kcy;&ocy;&lcy;&softcy;&kcy;&ocy; &scy;&tcy;&ocy;&yacy;&kcy;&ocy;&vcy;, &icy; &ocy;&tcy; &kcy;&acy;&zhcy;&dcy;&ocy;&gcy;&ocy; &scy;&tcy;&ocy;&yacy;&kcy;&acy; &vcy; &kcy;&vcy;&acy;&rcy;&tcy;&icy;&rcy;&iecy; &zcy;&acy;&pcy;&icy;&tcy;&acy;&ncy; &tcy;&ocy;&lcy;&softcy;&kcy;&ocy; &ocy;&dcy;&icy;&ncy; &rcy;&acy;&dcy;&icy;&acy;&tcy;&ocy;&rcy; &ocy;&tcy;&ocy;&pcy;&lcy;&iecy;&ncy;&icy;&yacy;.
            p
              | &Vcy; &dcy;&acy;&ncy;&ncy;&ocy;&mcy; &scy;&lcy;&ucy;&chcy;&acy;&iecy; &ucy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&kcy;&acy; &icy;&ncy;&dcy;&icy;&vcy;&icy;&dcy;&ucy;&acy;&lcy;&softcy;&ncy;&ocy;&gcy;&ocy; &tcy;&iecy;&pcy;&lcy;&ocy;&scy;&chcy;&iecy;&tcy;&chcy;&icy;&kcy;&acy; 
              span.red &ncy;&iecy;&vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&ncy;&acy;
              | .
      .col-lg-6.col-md-6.col-sm-12
        .one_flat
          img(src='../../img/portfolio/pulsar/15.png' alt='')
          .flat_title
            img(src='../../img/portfolio/pulsar/17.png' alt='')
            span &Gcy;&ocy;&rcy;&icy;&zcy;&ocy;&ncy;&tcy;&acy;&lcy;&softcy;&ncy;&acy;&yacy;
            |  &scy;&icy;&scy;&tcy;&iecy;&mcy;&acy; &ocy;&tcy;&ocy;&pcy;&lcy;&iecy;&ncy;&icy;&yacy;
          .desc
            p
              | &Pcy;&rcy;&icy; &gcy;&ocy;&rcy;&icy;&zcy;&ocy;&ncy;&tcy;&acy;&lcy;&softcy;&ncy;&ocy;&jcy; &rcy;&acy;&zcy;&vcy;&ocy;&dcy;&kcy;&iecy; &vcy; &kcy;&vcy;&acy;&rcy;&tcy;&icy;&rcy;&ucy; &zcy;&acy;&khcy;&ocy;&dcy;&icy;&tcy; &tcy;&ocy;&lcy;&softcy;&kcy;&ocy; &ocy;&dcy;&icy;&ncy; &scy;&tcy;&ocy;&yacy;&kcy; &ocy;&tcy;&ocy;&pcy;&lcy;&iecy;&ncy;&icy;&yacy;, &icy; &ocy;&tcy; &ncy;&iecy;&gcy;&ocy; &zcy;&acy;&pcy;&icy;&tcy;&acy;&ncy;&ycy; &vcy;&scy;&iecy; &ocy;&scy;&tcy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy; &rcy;&acy;&dcy;&icy;&acy;&tcy;&ocy;&rcy;&ycy; &ocy;&tcy;&ocy;&pcy;&lcy;&iecy;&ncy;&icy;&yacy; &vcy; &kcy;&vcy;&acy;&rcy;&tcy;&icy;&rcy;&iecy; &pcy;&ocy; &kcy;&ocy;&lcy;&softcy;&tscy;&ucy;.
            p
              | &Vcy; &dcy;&acy;&ncy;&ncy;&ocy;&mcy; &scy;&lcy;&ucy;&chcy;&acy;&iecy; &ucy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&kcy;&acy; &icy;&ncy;&dcy;&icy;&vcy;&icy;&dcy;&ucy;&acy;&lcy;&softcy;&ncy;&ocy;&gcy;&ocy; &tcy;&iecy;&pcy;&lcy;&ocy;&scy;&chcy;&iecy;&tcy;&chcy;&icy;&kcy;&acy; 
              span.green &vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&ncy;&acy;
              | .
.scheme_of_work.container
  .row
    .col-lg-12
      .title &Scy;&acy;&mcy;&acy;&yacy; &pcy;&rcy;&ocy;&scy;&tcy;&acy;&yacy; &scy;&khcy;&iecy;&mcy;&acy; &rcy;&acy;&bcy;&ocy;&tcy;&ycy;
  .row
    .col-lg-3.col-sm-3
      .image_center
        img(src='../../img/portfolio/pulsar/19.png' alt='')
      .subtitel &Ocy;&scy;&tcy;&acy;&vcy;&softcy;&tcy;&iecy; &zcy;&acy;&yacy;&vcy;&kcy;&ucy; &ncy;&acy; &scy;&acy;&jcy;&tcy;&iecy; &icy;&lcy;&icy; &pcy;&ocy;&zcy;&vcy;&ocy;&ncy;&icy;&tcy;&iecy;
    .col-lg-3.col-sm-3
      .image_center
        img(src='../../img/portfolio/pulsar/20.png' alt='')
      .subtitel
        | &Ncy;&acy;&shcy; &scy;&pcy;&iecy;&tscy;&icy;&acy;&lcy;&icy;&scy;&tcy; &ocy;&tcy;&vcy;&iecy;&tcy;&icy;&tcy; &ncy;&acy; &vcy;&scy;&iecy; &vcy;&acy;&shcy;&icy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy;
        br
        | &icy; &dcy;&ocy;&gcy;&ocy;&vcy;&ocy;&rcy;&icy;&tcy;&scy;&yacy; &ocy;&bcy; &ucy;&dcy;&ocy;&bcy;&ncy;&ocy;&mcy; &vcy;&rcy;&iecy;&mcy;&iecy;&ncy;&icy; &ncy;&acy; &ucy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&kcy;&ucy;
    .col-lg-3.col-sm-3
      .image_center
        img(src='../../img/portfolio/pulsar/21.png' alt='')
      .subtitel
        | &Vcy;&ycy;&iecy;&zcy;&dcy; &mcy;&ocy;&ncy;&tcy;&acy;&zhcy;&ncy;&icy;&kcy;&ocy;&vcy;
        br
        | &icy; &ucy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&kcy;&acy;
    .col-lg-3.col-sm-3
      .image_center
        img(src='../../img/portfolio/pulsar/22.png' alt='')
      .subtitel &Pcy;&ocy;&lcy;&ucy;&chcy;&acy;&iecy;&tcy;&iecy; &pcy;&ocy;&lcy;&ncy;&ycy;&jcy; &pcy;&acy;&kcy;&iecy;&tcy; &dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&ocy;&vcy; &dcy;&lcy;&yacy; &rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;- &tscy;&icy;&icy; &tcy;&iecy;&pcy;&lcy;&ocy;&scy;&chcy;&iecy;&tcy;&chcy;&icy;&kcy;&acy;
.why_we
  .container
    .row
      .title &Pcy;&ocy;&chcy;&iecy;&mcy;&ucy; &acy;&kcy;&vcy;&acy;&khcy;&icy;&tcy;
    .row
      .col-lg-4.col-sm-4
        .subtitle
          span &numero;1
          | &ncy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&ocy;&mcy; &rcy;&ycy;&ncy;&kcy;&iecy;
        .image_center
          img(src='../../img/portfolio/pulsar/25.png' alt='')
      .col-lg-4.col-sm-4
        .subtitle
          span 6142
          | &scy;&chcy;&iecy;&tcy;&chcy;&icy;&kcy;&ocy;&vcy; &ucy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&lcy;&iecy;&ncy;&ocy;
        .image_center
          img(src='../../img/portfolio/pulsar/26.png' alt='')
      .col-lg-4.col-sm-4
        .subtitle
          span 5913
          | &dcy;&ocy;&vcy;&ocy;&lcy;&softcy;&ncy;&ycy;&khcy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&ocy;&vcy;
        .image_center
          img(src='../../img/portfolio/pulsar/27.png' alt='')
.reviews.container
  .row
    .col-lg-12
      .title &Ocy;&tcy;&zcy;&ycy;&vcy;&ycy; &ncy;&acy;&shcy;&icy;&khcy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&ocy;&vcy;
  .row.all_reviews
    .col-lg-12
      .one_review
        .text
          | &Mcy;&ycy; &ucy;&vcy;&iecy;&rcy;&iecy;&ncy;&ycy;, &chcy;&tcy;&ocy; &scy;&ocy;&tcy;&rcy;&ucy;&dcy;&ncy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &ndash; &ocy;&scy;&ncy;&ocy;&vcy;&acy; &ucy;&scy;&pcy;&iecy;&shcy;&ncy;&ocy;&gcy;&ocy; &bcy;&icy;&zcy;&ncy;&iecy;&scy;&acy;. &Vcy; &chcy;&icy;&scy;&lcy;&iecy; &ncy;&acy;&shcy;&icy;&khcy; &pcy;&acy;&rcy;&tcy;&ncy;&iecy;&rcy;&ocy;&vcy; &vcy;&iecy;&dcy;&ucy;&shchcy;&icy;&iecy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&icy;&tcy;&iecy;&lcy;&icy; &pcy;&rcy;&icy;&bcy;&ocy;&rcy;&ocy;&vcy; &ucy;&chcy;&iecy;&tcy;&acy; &tcy;&iecy;&pcy;&lcy;&acy;, &tcy;&acy;&kcy;&icy;&iecy; &kcy;&acy;&kcy; Ista, Landis&amp;Gyr, Qundis, Danfoss &icy; &mcy;&ncy;&ocy;&gcy;&icy;&iecy; &dcy;&rcy;&ucy;&gcy;&icy;&iecy;. &Mcy;&ycy; &pcy;&ocy;&scy;&tcy;&ocy;&yacy;&ncy;&ncy;&ocy; &rcy;&acy;&bcy;&ocy;&tcy;&acy;&iecy;&mcy; &ncy;&acy;&dcy; &rcy;&acy;&zcy;&vcy;&icy;&tcy;&icy;&iecy;&mcy; &dcy;&iecy;&lcy;&ocy;&vcy;&ycy;&khcy; &ocy;&tcy;&ncy;&ocy;&shcy;&iecy;&ncy;&icy;&jcy; &scy; &pcy;&acy;&rcy;&tcy;&ncy;&iecy;&rcy;&acy;&mcy;&icy;, &chcy;&tcy;&ocy;&bcy;&ycy; &vcy;&scy;&iecy;&gcy;&dcy;&acy; &icy;&mcy;&iecy;&tcy;&softcy; &vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&ncy;&ocy;&scy;&tcy;&softcy; &pcy;&rcy;&iecy;&dcy;&lcy;&acy;&gcy;&acy;&tcy;&softcy; &ncy;&acy;&shcy;&icy;&mcy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&acy;&mcy; &shcy;&icy;&rcy;&ocy;&kcy;&icy;&jcy; &acy;&scy;&scy;&ocy;&rcy;&tcy;&icy;&mcy;&iecy;&ncy;&tcy; &vcy;&ycy;&scy;&ocy;&kcy;&ocy;&kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ocy;&jcy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&icy;&icy; &pcy;&ocy; &scy;&acy;&mcy;&ycy;&mcy; &ncy;&icy;&zcy;&kcy;&icy;&mcy; &tscy;&iecy;&ncy;&acy;&mcy;.
        .name &Icy;&vcy;&acy;&ncy; &Icy;&vcy;&acy;&ncy;&ocy;&vcy;. &Dcy;&icy;&rcy;&iecy;&kcy;&tcy;&ocy;&rcy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy; &ldquo;&Ocy;&dcy;&ucy;&vcy;&acy;&ncy;&chcy;&icy;&kcy;&rdquo;
    .col-lg-12
      .one_review
        .text
          | &Mcy;&ycy; &ucy;&vcy;&iecy;&rcy;&iecy;&ncy;&ycy;, &chcy;&tcy;&ocy; &scy;&ocy;&tcy;&rcy;&ucy;&dcy;&ncy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &ndash; &ocy;&scy;&ncy;&ocy;&vcy;&acy; &ucy;&scy;&pcy;&iecy;&shcy;&ncy;&ocy;&gcy;&ocy; &bcy;&icy;&zcy;&ncy;&iecy;&scy;&acy;. &Vcy; &chcy;&icy;&scy;&lcy;&iecy; &ncy;&acy;&shcy;&icy;&khcy; &pcy;&acy;&rcy;&tcy;&ncy;&iecy;&rcy;&ocy;&vcy; &vcy;&iecy;&dcy;&ucy;&shchcy;&icy;&iecy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&icy;&tcy;&iecy;&lcy;&icy; &pcy;&rcy;&icy;&bcy;&ocy;&rcy;&ocy;&vcy; &ucy;&chcy;&iecy;&tcy;&acy; &tcy;&iecy;&pcy;&lcy;&acy;, &tcy;&acy;&kcy;&icy;&iecy; &kcy;&acy;&kcy; Ista, Landis&amp;Gyr, Qundis, Danfoss &icy; &mcy;&ncy;&ocy;&gcy;&icy;&iecy; &dcy;&rcy;&ucy;&gcy;&icy;&iecy;. &Mcy;&ycy; &pcy;&ocy;&scy;&tcy;&ocy;&yacy;&ncy;&ncy;&ocy; &rcy;&acy;&bcy;&ocy;&tcy;&acy;&iecy;&mcy; &ncy;&acy;&dcy; &rcy;&acy;&zcy;&vcy;&icy;&tcy;&icy;&iecy;&mcy; &dcy;&iecy;&lcy;&ocy;&vcy;&ycy;&khcy; &ocy;&tcy;&ncy;&ocy;&shcy;&iecy;&ncy;&icy;&jcy; &scy; &pcy;&acy;&rcy;&tcy;&ncy;&iecy;&rcy;&acy;&mcy;&icy;, &chcy;&tcy;&ocy;&bcy;&ycy; &vcy;&scy;&iecy;&gcy;&dcy;&acy; &icy;&mcy;&iecy;&tcy;&softcy; &vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&ncy;&ocy;&scy;&tcy;&softcy; &pcy;&rcy;&iecy;&dcy;&lcy;&acy;&gcy;&acy;&tcy;&softcy; &ncy;&acy;&shcy;&icy;&mcy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&acy;&mcy; &shcy;&icy;&rcy;&ocy;&kcy;&icy;&jcy; &acy;&scy;&scy;&ocy;&rcy;&tcy;&icy;&mcy;&iecy;&ncy;&tcy; &vcy;&ycy;&scy;&ocy;&kcy;&ocy;&kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ocy;&jcy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&icy;&icy; &pcy;&ocy; &scy;&acy;&mcy;&ycy;&mcy; &ncy;&icy;&zcy;&kcy;&icy;&mcy; &tscy;&iecy;&ncy;&acy;&mcy;.
        .name &Icy;&vcy;&acy;&ncy; &Icy;&vcy;&acy;&ncy;&ocy;&vcy;. &Dcy;&icy;&rcy;&iecy;&kcy;&tcy;&ocy;&rcy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy; &ldquo;&Ocy;&dcy;&ucy;&vcy;&acy;&ncy;&chcy;&icy;&kcy;&rdquo;
    .col-lg-12
      .one_review
        .text
          | &Mcy;&ycy; &ucy;&vcy;&iecy;&rcy;&iecy;&ncy;&ycy;, &chcy;&tcy;&ocy; &scy;&ocy;&tcy;&rcy;&ucy;&dcy;&ncy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &ndash; &ocy;&scy;&ncy;&ocy;&vcy;&acy; &ucy;&scy;&pcy;&iecy;&shcy;&ncy;&ocy;&gcy;&ocy; &bcy;&icy;&zcy;&ncy;&iecy;&scy;&acy;. &Vcy; &chcy;&icy;&scy;&lcy;&iecy; &ncy;&acy;&shcy;&icy;&khcy; &pcy;&acy;&rcy;&tcy;&ncy;&iecy;&rcy;&ocy;&vcy; &vcy;&iecy;&dcy;&ucy;&shchcy;&icy;&iecy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&icy;&tcy;&iecy;&lcy;&icy; &pcy;&rcy;&icy;&bcy;&ocy;&rcy;&ocy;&vcy; &ucy;&chcy;&iecy;&tcy;&acy; &tcy;&iecy;&pcy;&lcy;&acy;, &tcy;&acy;&kcy;&icy;&iecy; &kcy;&acy;&kcy; Ista, Landis&amp;Gyr, Qundis, Danfoss &icy; &mcy;&ncy;&ocy;&gcy;&icy;&iecy; &dcy;&rcy;&ucy;&gcy;&icy;&iecy;. &Mcy;&ycy; &pcy;&ocy;&scy;&tcy;&ocy;&yacy;&ncy;&ncy;&ocy; &rcy;&acy;&bcy;&ocy;&tcy;&acy;&iecy;&mcy; &ncy;&acy;&dcy; &rcy;&acy;&zcy;&vcy;&icy;&tcy;&icy;&iecy;&mcy; &dcy;&iecy;&lcy;&ocy;&vcy;&ycy;&khcy; &ocy;&tcy;&ncy;&ocy;&shcy;&iecy;&ncy;&icy;&jcy; &scy; &pcy;&acy;&rcy;&tcy;&ncy;&iecy;&rcy;&acy;&mcy;&icy;, &chcy;&tcy;&ocy;&bcy;&ycy; &vcy;&scy;&iecy;&gcy;&dcy;&acy; &icy;&mcy;&iecy;&tcy;&softcy; &vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&ncy;&ocy;&scy;&tcy;&softcy; &pcy;&rcy;&iecy;&dcy;&lcy;&acy;&gcy;&acy;&tcy;&softcy; &ncy;&acy;&shcy;&icy;&mcy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&acy;&mcy; &shcy;&icy;&rcy;&ocy;&kcy;&icy;&jcy; &acy;&scy;&scy;&ocy;&rcy;&tcy;&icy;&mcy;&iecy;&ncy;&tcy; &vcy;&ycy;&scy;&ocy;&kcy;&ocy;&kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ocy;&jcy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&icy;&icy; &pcy;&ocy; &scy;&acy;&mcy;&ycy;&mcy; &ncy;&icy;&zcy;&kcy;&icy;&mcy; &tscy;&iecy;&ncy;&acy;&mcy;.
        .name &Icy;&vcy;&acy;&ncy; &Icy;&vcy;&acy;&ncy;&ocy;&vcy;. &Dcy;&icy;&rcy;&iecy;&kcy;&tcy;&ocy;&rcy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy; &ldquo;&Ocy;&dcy;&ucy;&vcy;&acy;&ncy;&chcy;&icy;&kcy;&rdquo;
.questions.container
  .row
    .col-lg-12
      .title &Vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy; &icy; &ocy;&tcy;&vcy;&iecy;&tcy;&ycy;
  .row
    .col-lg-12
      a.one_question.active(href='#')
        img(src='../../img/portfolio/pulsar/29.png' alt='')
        .subtitle &Kcy;&ocy;&gcy;&dcy;&acy; &pcy;&iecy;&rcy;&iecy;&zcy;&vcy;&ocy;&ncy;&icy;&tcy; &ocy;&pcy;&iecy;&rcy;&acy;&tcy;&ocy;&rcy;?
        .text
          | &Mcy;&ycy; &ucy;&vcy;&iecy;&rcy;&iecy;&ncy;&ycy;, &chcy;&tcy;&ocy; &scy;&ocy;&tcy;&rcy;&ucy;&dcy;&ncy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &ndash; &ocy;&scy;&ncy;&ocy;&vcy;&acy; &ucy;&scy;&pcy;&iecy;&shcy;&ncy;&ocy;&gcy;&ocy; &bcy;&icy;&zcy;&ncy;&iecy;&scy;&acy;. &Vcy; &chcy;&icy;&scy;&lcy;&iecy; &ncy;&acy;&shcy;&icy;&khcy; &pcy;&acy;&rcy;&tcy;&ncy;&iecy;&rcy;&ocy;&vcy; &vcy;&iecy;&dcy;&ucy;&shchcy;&icy;&iecy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&icy;&tcy;&iecy;&lcy;&icy; &pcy;&rcy;&icy;&bcy;&ocy;&rcy;&ocy;&vcy; &ucy;&chcy;&iecy;&tcy;&acy; &tcy;&iecy;&pcy;&lcy;&acy;, &tcy;&acy;&kcy;&icy;&iecy; &kcy;&acy;&kcy; Ista, Landis&amp;Gyr, Qundis, Danfoss &icy; &mcy;&ncy;&ocy;&gcy;&icy;&iecy; &dcy;&rcy;&ucy;&gcy;&icy;&iecy;. &Mcy;&ycy; &pcy;&ocy;&scy;&tcy;&ocy;&yacy;&ncy;&ncy;&ocy; &rcy;&acy;&bcy;&ocy;&tcy;&acy;&iecy;&mcy; &ncy;&acy;&dcy; &rcy;&acy;&zcy;&vcy;&icy;&tcy;&icy;&iecy;&mcy; &dcy;&iecy;&lcy;&ocy;&vcy;&ycy;&khcy; &ocy;&tcy;&ncy;&ocy;&shcy;&iecy;&ncy;&icy;&jcy; &scy; &pcy;&acy;&rcy;&tcy;&ncy;&iecy;&rcy;&acy;&mcy;&icy;, &chcy;&tcy;&ocy;&bcy;&ycy; &vcy;&scy;&iecy;&gcy;&dcy;&acy; &icy;&mcy;&iecy;&tcy;&softcy; &vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&ncy;&ocy;&scy;&tcy;&softcy; &pcy;&rcy;&iecy;&dcy;&lcy;&acy;&gcy;&acy;&tcy;&softcy; &ncy;&acy;&shcy;&icy;&mcy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&acy;&mcy; &shcy;&icy;&rcy;&ocy;&kcy;&icy;&jcy; &acy;&scy;&scy;&ocy;&rcy;&tcy;&icy;&mcy;&iecy;&ncy;&tcy; &vcy;&ycy;&scy;&ocy;&kcy;&ocy;&kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ocy;&jcy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&icy;&icy; &pcy;&ocy; &scy;&acy;&mcy;&ycy;&mcy; &ncy;&icy;&zcy;&kcy;&icy;&mcy; &tscy;&iecy;&ncy;&acy;&mcy;.
      a.one_question(href='#')
        img(src='../../img/portfolio/pulsar/29.png' alt='')
        .subtitle &Kcy;&acy;&kcy; &dcy;&ocy;&lcy;&gcy;&ocy; &ucy;&scy;&tcy;&acy;&ncy;&acy;&vcy;&lcy;&icy;&vcy;&acy;&tcy;&softcy; &tcy;&iecy;&pcy;&lcy;&ocy;&scy;&chcy;&iecy;&tcy;&chcy;&icy;&kcy;?
        .text
          | &Mcy;&ycy; &ucy;&vcy;&iecy;&rcy;&iecy;&ncy;&ycy;, &chcy;&tcy;&ocy; &scy;&ocy;&tcy;&rcy;&ucy;&dcy;&ncy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &ndash; &ocy;&scy;&ncy;&ocy;&vcy;&acy; &ucy;&scy;&pcy;&iecy;&shcy;&ncy;&ocy;&gcy;&ocy; &bcy;&icy;&zcy;&ncy;&iecy;&scy;&acy;. &Vcy; &chcy;&icy;&scy;&lcy;&iecy; &ncy;&acy;&shcy;&icy;&khcy; &pcy;&acy;&rcy;&tcy;&ncy;&iecy;&rcy;&ocy;&vcy; &vcy;&iecy;&dcy;&ucy;&shchcy;&icy;&iecy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&icy;&tcy;&iecy;&lcy;&icy; &pcy;&rcy;&icy;&bcy;&ocy;&rcy;&ocy;&vcy; &ucy;&chcy;&iecy;&tcy;&acy; &tcy;&iecy;&pcy;&lcy;&acy;, &tcy;&acy;&kcy;&icy;&iecy; &kcy;&acy;&kcy; Ista, Landis&amp;Gyr, Qundis, Danfoss &icy; &mcy;&ncy;&ocy;&gcy;&icy;&iecy; &dcy;&rcy;&ucy;&gcy;&icy;&iecy;. &Mcy;&ycy; &pcy;&ocy;&scy;&tcy;&ocy;&yacy;&ncy;&ncy;&ocy; &rcy;&acy;&bcy;&ocy;&tcy;&acy;&iecy;&mcy; &ncy;&acy;&dcy; &rcy;&acy;&zcy;&vcy;&icy;&tcy;&icy;&iecy;&mcy; &dcy;&iecy;&lcy;&ocy;&vcy;&ycy;&khcy; &ocy;&tcy;&ncy;&ocy;&shcy;&iecy;&ncy;&icy;&jcy; &scy; &pcy;&acy;&rcy;&tcy;&ncy;&iecy;&rcy;&acy;&mcy;&icy;, &chcy;&tcy;&ocy;&bcy;&ycy; &vcy;&scy;&iecy;&gcy;&dcy;&acy; &icy;&mcy;&iecy;&tcy;&softcy; &vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&ncy;&ocy;&scy;&tcy;&softcy; &pcy;&rcy;&iecy;&dcy;&lcy;&acy;&gcy;&acy;&tcy;&softcy; &ncy;&acy;&shcy;&icy;&mcy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&acy;&mcy; &shcy;&icy;&rcy;&ocy;&kcy;&icy;&jcy; &acy;&scy;&scy;&ocy;&rcy;&tcy;&icy;&mcy;&iecy;&ncy;&tcy; &vcy;&ycy;&scy;&ocy;&kcy;&ocy;&kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ocy;&jcy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&icy;&icy; &pcy;&ocy; &scy;&acy;&mcy;&ycy;&mcy; &ncy;&icy;&zcy;&kcy;&icy;&mcy; &tscy;&iecy;&ncy;&acy;&mcy;.
      a.one_question(href='#')
        img(src='../../img/portfolio/pulsar/29.png' alt='')
        .subtitle &Zcy;&acy;&chcy;&iecy;&mcy; &mcy;&ncy;&iecy; &ucy;&scy;&tcy;&acy;&ncy;&acy;&vcy;&lcy;&icy;&vcy;&acy;&tcy;&softcy; &tcy;&iecy;&pcy;&lcy;&ocy;&scy;&chcy;&iecy;&tcy;&chcy;&icy;&kcy;?
        .text
          | &Mcy;&ycy; &ucy;&vcy;&iecy;&rcy;&iecy;&ncy;&ycy;, &chcy;&tcy;&ocy; &scy;&ocy;&tcy;&rcy;&ucy;&dcy;&ncy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &ndash; &ocy;&scy;&ncy;&ocy;&vcy;&acy; &ucy;&scy;&pcy;&iecy;&shcy;&ncy;&ocy;&gcy;&ocy; &bcy;&icy;&zcy;&ncy;&iecy;&scy;&acy;. &Vcy; &chcy;&icy;&scy;&lcy;&iecy; &ncy;&acy;&shcy;&icy;&khcy; &pcy;&acy;&rcy;&tcy;&ncy;&iecy;&rcy;&ocy;&vcy; &vcy;&iecy;&dcy;&ucy;&shchcy;&icy;&iecy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&icy;&tcy;&iecy;&lcy;&icy; &pcy;&rcy;&icy;&bcy;&ocy;&rcy;&ocy;&vcy; &ucy;&chcy;&iecy;&tcy;&acy; &tcy;&iecy;&pcy;&lcy;&acy;, &tcy;&acy;&kcy;&icy;&iecy; &kcy;&acy;&kcy; Ista, Landis&amp;Gyr, Qundis, Danfoss &icy; &mcy;&ncy;&ocy;&gcy;&icy;&iecy; &dcy;&rcy;&ucy;&gcy;&icy;&iecy;. &Mcy;&ycy; &pcy;&ocy;&scy;&tcy;&ocy;&yacy;&ncy;&ncy;&ocy; &rcy;&acy;&bcy;&ocy;&tcy;&acy;&iecy;&mcy; &ncy;&acy;&dcy; &rcy;&acy;&zcy;&vcy;&icy;&tcy;&icy;&iecy;&mcy; &dcy;&iecy;&lcy;&ocy;&vcy;&ycy;&khcy; &ocy;&tcy;&ncy;&ocy;&shcy;&iecy;&ncy;&icy;&jcy; &scy; &pcy;&acy;&rcy;&tcy;&ncy;&iecy;&rcy;&acy;&mcy;&icy;, &chcy;&tcy;&ocy;&bcy;&ycy; &vcy;&scy;&iecy;&gcy;&dcy;&acy; &icy;&mcy;&iecy;&tcy;&softcy; &vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&ncy;&ocy;&scy;&tcy;&softcy; &pcy;&rcy;&iecy;&dcy;&lcy;&acy;&gcy;&acy;&tcy;&softcy; &ncy;&acy;&shcy;&icy;&mcy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&acy;&mcy; &shcy;&icy;&rcy;&ocy;&kcy;&icy;&jcy; &acy;&scy;&scy;&ocy;&rcy;&tcy;&icy;&mcy;&iecy;&ncy;&tcy; &vcy;&ycy;&scy;&ocy;&kcy;&ocy;&kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ocy;&jcy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&icy;&icy; &pcy;&ocy; &scy;&acy;&mcy;&ycy;&mcy; &ncy;&icy;&zcy;&kcy;&icy;&mcy; &tscy;&iecy;&ncy;&acy;&mcy;.
      a.one_question(href='#')
        img(src='../../img/portfolio/pulsar/29.png' alt='')
        .subtitle &Scy;&kcy;&ocy;&lcy;&softcy;&kcy;&ocy; &mcy;&ocy;&zhcy;&ncy;&ocy; &scy;&ecy;&kcy;&ocy;&ncy;&ocy;&mcy;&icy;&tcy;&softcy; &pcy;&ocy;&scy;&lcy;&iecy; &ucy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&kcy;&icy;?
        .text
          | &Mcy;&ycy; &ucy;&vcy;&iecy;&rcy;&iecy;&ncy;&ycy;, &chcy;&tcy;&ocy; &scy;&ocy;&tcy;&rcy;&ucy;&dcy;&ncy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &ndash; &ocy;&scy;&ncy;&ocy;&vcy;&acy; &ucy;&scy;&pcy;&iecy;&shcy;&ncy;&ocy;&gcy;&ocy; &bcy;&icy;&zcy;&ncy;&iecy;&scy;&acy;. &Vcy; &chcy;&icy;&scy;&lcy;&iecy; &ncy;&acy;&shcy;&icy;&khcy; &pcy;&acy;&rcy;&tcy;&ncy;&iecy;&rcy;&ocy;&vcy; &vcy;&iecy;&dcy;&ucy;&shchcy;&icy;&iecy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&icy;&tcy;&iecy;&lcy;&icy; &pcy;&rcy;&icy;&bcy;&ocy;&rcy;&ocy;&vcy; &ucy;&chcy;&iecy;&tcy;&acy; &tcy;&iecy;&pcy;&lcy;&acy;, &tcy;&acy;&kcy;&icy;&iecy; &kcy;&acy;&kcy; Ista, Landis&amp;Gyr, Qundis, Danfoss &icy; &mcy;&ncy;&ocy;&gcy;&icy;&iecy; &dcy;&rcy;&ucy;&gcy;&icy;&iecy;. &Mcy;&ycy; &pcy;&ocy;&scy;&tcy;&ocy;&yacy;&ncy;&ncy;&ocy; &rcy;&acy;&bcy;&ocy;&tcy;&acy;&iecy;&mcy; &ncy;&acy;&dcy; &rcy;&acy;&zcy;&vcy;&icy;&tcy;&icy;&iecy;&mcy; &dcy;&iecy;&lcy;&ocy;&vcy;&ycy;&khcy; &ocy;&tcy;&ncy;&ocy;&shcy;&iecy;&ncy;&icy;&jcy; &scy; &pcy;&acy;&rcy;&tcy;&ncy;&iecy;&rcy;&acy;&mcy;&icy;, &chcy;&tcy;&ocy;&bcy;&ycy; &vcy;&scy;&iecy;&gcy;&dcy;&acy; &icy;&mcy;&iecy;&tcy;&softcy; &vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&ncy;&ocy;&scy;&tcy;&softcy; &pcy;&rcy;&iecy;&dcy;&lcy;&acy;&gcy;&acy;&tcy;&softcy; &ncy;&acy;&shcy;&icy;&mcy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&acy;&mcy; &shcy;&icy;&rcy;&ocy;&kcy;&icy;&jcy; &acy;&scy;&scy;&ocy;&rcy;&tcy;&icy;&mcy;&iecy;&ncy;&tcy; &vcy;&ycy;&scy;&ocy;&kcy;&ocy;&kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ocy;&jcy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&icy;&icy; &pcy;&ocy; &scy;&acy;&mcy;&ycy;&mcy; &ncy;&icy;&zcy;&kcy;&icy;&mcy; &tscy;&iecy;&ncy;&acy;&mcy;.
      a.one_question(href='#')
        img(src='../../img/portfolio/pulsar/29.png' alt='')
        .subtitle &Kcy;&acy;&kcy;&icy;&iecy; &gcy;&acy;&rcy;&acy;&ncy;&tcy;&icy;&icy; &yacy; &pcy;&ocy;&lcy;&ucy;&chcy;&ucy;?
        .text
          | &Mcy;&ycy; &ucy;&vcy;&iecy;&rcy;&iecy;&ncy;&ycy;, &chcy;&tcy;&ocy; &scy;&ocy;&tcy;&rcy;&ucy;&dcy;&ncy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &ndash; &ocy;&scy;&ncy;&ocy;&vcy;&acy; &ucy;&scy;&pcy;&iecy;&shcy;&ncy;&ocy;&gcy;&ocy; &bcy;&icy;&zcy;&ncy;&iecy;&scy;&acy;. &Vcy; &chcy;&icy;&scy;&lcy;&iecy; &ncy;&acy;&shcy;&icy;&khcy; &pcy;&acy;&rcy;&tcy;&ncy;&iecy;&rcy;&ocy;&vcy; &vcy;&iecy;&dcy;&ucy;&shchcy;&icy;&iecy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&icy;&tcy;&iecy;&lcy;&icy; &pcy;&rcy;&icy;&bcy;&ocy;&rcy;&ocy;&vcy; &ucy;&chcy;&iecy;&tcy;&acy; &tcy;&iecy;&pcy;&lcy;&acy;, &tcy;&acy;&kcy;&icy;&iecy; &kcy;&acy;&kcy; Ista, Landis&amp;Gyr, Qundis, Danfoss &icy; &mcy;&ncy;&ocy;&gcy;&icy;&iecy; &dcy;&rcy;&ucy;&gcy;&icy;&iecy;. &Mcy;&ycy; &pcy;&ocy;&scy;&tcy;&ocy;&yacy;&ncy;&ncy;&ocy; &rcy;&acy;&bcy;&ocy;&tcy;&acy;&iecy;&mcy; &ncy;&acy;&dcy; &rcy;&acy;&zcy;&vcy;&icy;&tcy;&icy;&iecy;&mcy; &dcy;&iecy;&lcy;&ocy;&vcy;&ycy;&khcy; &ocy;&tcy;&ncy;&ocy;&shcy;&iecy;&ncy;&icy;&jcy; &scy; &pcy;&acy;&rcy;&tcy;&ncy;&iecy;&rcy;&acy;&mcy;&icy;, &chcy;&tcy;&ocy;&bcy;&ycy; &vcy;&scy;&iecy;&gcy;&dcy;&acy; &icy;&mcy;&iecy;&tcy;&softcy; &vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&ncy;&ocy;&scy;&tcy;&softcy; &pcy;&rcy;&iecy;&dcy;&lcy;&acy;&gcy;&acy;&tcy;&softcy; &ncy;&acy;&shcy;&icy;&mcy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&acy;&mcy; &shcy;&icy;&rcy;&ocy;&kcy;&icy;&jcy; &acy;&scy;&scy;&ocy;&rcy;&tcy;&icy;&mcy;&iecy;&ncy;&tcy; &vcy;&ycy;&scy;&ocy;&kcy;&ocy;&kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ocy;&jcy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&icy;&icy; &pcy;&ocy; &scy;&acy;&mcy;&ycy;&mcy; &ncy;&icy;&zcy;&kcy;&icy;&mcy; &tscy;&iecy;&ncy;&acy;&mcy;.
.docs.container
  .row
    .col-lg-12
      .title &Dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&acy;&tscy;&icy;&yacy; &ncy;&acy; &ucy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&kcy;&ucy;
  .row.all_docs
    .col-lg-3.col-sm-3
      .one_docs
        img(src='../../img/portfolio/pulsar/30.png' alt='')
    .col-lg-3.col-sm-3
      .one_docs
        img(src='../../img/portfolio/pulsar/30.png' alt='')
    .col-lg-3.col-sm-3
      .one_docs
        img(src='../../img/portfolio/pulsar/30.png' alt='')
    .col-lg-3.col-sm-3
      .one_docs
        img(src='../../img/portfolio/pulsar/30.png' alt='')
    .col-lg-3.col-sm-3
      .one_docs
        img(src='../../img/portfolio/pulsar/30.png' alt='')
    .col-lg-3.col-sm-3
      .one_docs
        img(src='../../img/portfolio/pulsar/30.png' alt='')
.contacts
  .title &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
  iframe(src='https://snazzymaps.com/embed/49158' width='100%' height='270px' style='border:none;')
  .container
    .row
      .col-lg-12
        form.send_mail(action='')
          span &Ocy;&scy;&tcy;&acy;&lcy;&icy;&scy;&softcy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy;?
          input(type='text' name='name' placeholder='Имя' required='')
          input(type='phone' name='phone' placeholder='Телефон' required='')
          button &Pcy;&ocy;&lcy;&ucy;&chcy;&icy;&tcy;&softcy; &kcy;&ocy;&ncy;&scy;&ucy;&lcy;&softcy;&tcy;&acy;&tscy;&icy;&yucy;
footer
  .container
    .row
      .col-lg-12.all_info
        .subtitle &Pcy;&ocy;&zcy;&vcy;&ocy;&ncy;&icy;&tcy;&iecy; &ncy;&acy;&mcy; &pcy;&ocy; &ncy;&ocy;&mcy;&iecy;&rcy;&ucy;
        a.phone(href='tel:74955405059') 8 (495) 540-50-59
        span &icy; &Vcy;&ycy; &ncy;&iecy;&pcy;&rcy;&iecy;&mcy;&iecy;&ncy;&ncy;&ocy; &ocy;&scy;&tcy;&acy;&ncy;&iecy;&tcy;&iecy;&scy;&softcy; &dcy;&ocy;&vcy;&ocy;&lcy;&softcy;&ncy;&ycy; &ncy;&acy;&shcy;&icy;&mcy; &scy;&iecy;&rcy;&vcy;&icy;&scy;&ocy;&mcy;
    .row
      .col-lg-12.copyright
        a(href='#') razvodka-trub-otopleniya.akvahit.ru
        |  &copy; 2018. &Vcy;&scy;&iecy; &pcy;&rcy;&acy;&vcy;&acy; &zcy;&acy;&shchcy;&icy;&shchcy;&iecy;&ncy;&ycy;
.back
.popup
  span.close
    i.fas.fa-times
  span.subtitle &Zcy;&acy;&kcy;&acy;&zhcy;&icy;&tcy;&iecy; &ucy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&kcy;&ucy; &tcy;&iecy;&pcy;&lcy;&ocy;&scy;&chcy;&iecy;&tcy;&chcy;&icy;&kcy;&acy;
  form.send_mail(action='')
    input(type='text' name='name' placeholder='Введите свое имя' required='')
    input(type='phone' name='phone' placeholder='Введите номер телефона' required='')
    button &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &ucy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&kcy;&ucy;
.thanks
  span.close
    i.fas.fa-times
  span &Scy;&pcy;&acy;&scy;&icy;&bcy;&ocy; &zcy;&acy; &Vcy;&acy;&shcy;&ucy; &zcy;&acy;&yacy;&vcy;&kcy;&ucy;!
  span.subtitle &Mcy;&ycy; &scy;&vcy;&yacy;&zhcy;&iecy;&mcy;&scy;&yacy; &scy; &Vcy;&acy;&mcy;&icy; &vcy; &bcy;&lcy;&icy;&zhcy;&acy;&jcy;&shcy;&iecy;&iecy; &vcy;&rcy;&iecy;&mcy;&yacy;.
