section#home.intro
  .intro__bg
  .intro__text
    p.intro__hello Доброе время суток, меня зовут Илья и я
    h1 Frontend Developer
    p.intro__hello Который наверстает Вам упущенное!
  a.intro__scroll.down(href='#works')
    span.down__arrow
section#works.works
  .container
    h2.works__title.title &Mcy;&ocy;&icy; &rcy;&acy;&bcy;&ocy;&tcy;&ycy;
    .works__list
      .works__col.fadeInUp.animated.delay-2s
        figure.works__effect
          img(src='../img/vr-jazz-bg.png' alt='portfolio')
          figcaption.works__descr
            h3 VR Jazz
            p VR Jazz
            a.btn-works(target='blank' href='./portfolio/vrjazz/vrjazz.html') Show
      .works__col.fadeInUp.animated.delay-2s
        figure.works__effect
          img(src='../img/finansvest.png' alt='portfolio')
          figcaption.works__descr
            h3 Finans Invest
            p Finans Invest
            a.btn-works(target='blank' href='./portfolio/finansinvest/finansinvest.html') Show
      .works__col.fadeInUp.animated.delay-2s
        figure.works__effect
          img(src='../img/evakuator.png' alt='portfolio')
          figcaption.works__descr
            h3 Evakuator
            p Evakuator
            a.btn-works(target='blank' href='./portfolio/evakuator/evakuator.html') Show
      .works__col.fadeInUp.animated.delay-2s
        figure.works__effect
          img(src='../img/akvahit.png' alt='portfolio')
          figcaption.works__descr
            h3 akvahit
            p akvahit
            a.btn-works(target='blank' href='./portfolio/pulsar/pulsar.html') Show
      .works__col.fadeInUp.animated.delay-2s
        figure.works__effect
          img(src='../img/pulsar.png' alt='portfolio')
          figcaption.works__descr
            h3 Pulsar
            p Pulsar
            a.btn-works(target='blank' href='./portfolio/pulsar/pulsar.html') Show
      .works__col.fadeInUp.animated.delay-2s
        figure.works__effect
          img(src='../img/danfoss.png' alt='portfolio')
          figcaption.works__descr
            h3 Danfoss
            p Danfoss
            a.btn-works(target='blank' href='./portfolio/danfoss/danfoss.html') Show
      .works__col.fadeInUp.animated.delay-2s
        figure.works__effect
          img(src='../img/obed-ru.png' alt='portfolio')
          figcaption.works__descr
            h3 Obed.ru
            p Obed.ru
            a.btn-works(target='blank' href='./portfolio/obed-master-card/obed-master-card.html') Show
section#skills.skills
  .skills__bg
  .container
    h2.skills__title.title &Mcy;&ocy;&icy; &ncy;&acy;&vcy;&ycy;&kcy;&icy;
    .skills__list
      ul.skills__col.technik.wow.slideInLeft.animated
        li.title
          h3 &Tcy;&iecy;&khcy;&ncy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&iecy; &ncy;&acy;&vcy;&ycy;&kcy;&icy;
        li
          i.icon-check
          | Html5, CSS3
        li
          i.icon-check
          | JavaScript, Jquery,
        li
          i.icon-check
          | Angular 2+
        li
          i.icon-check
          | LESS, SCSS
        li
          i.icon-check
          | Git
        li
          i.icon-check
          | Gulp, Webpack
        li
          i.icon-check
          | SmartGrid, Bootstrap
        li
          i.icon-check
          | Responsive
        li
          i.icon-check
          | &Bcy;&Ecy;&Mcy;
      ul.skills__col.professional.wow.slideInRight.animated
        li.title
          h3 &Pcy;&rcy;&ocy;&fcy;&iecy;&scy;&scy;&icy;&ocy;&ncy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy; &ncy;&acy;&vcy;&ycy;&kcy;&icy;
        li
          i.icon-check
          | &Ocy;&tcy;&vcy;&iecy;&tcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ocy;&iecy; &ocy;&tcy;&ncy;&ocy;&shcy;&iecy;&ncy;&icy;&iecy; &kcy; &rcy;&acy;&bcy;&ocy;&tcy;&iecy;
        li
          i.icon-check
          | &Scy;&ocy;&bcy;&lcy;&yucy;&dcy;&iecy;&ncy;&icy;&iecy; &scy;&rcy;&ocy;&kcy;&ocy;&vcy;
        li
          i.icon-check
          | &Vcy;&scy;&iecy;&gcy;&dcy;&acy; &ocy;&tcy;&kcy;&rcy;&ycy;&tcy; &kcy; &dcy;&icy;&acy;&lcy;&ocy;&gcy;&ucy;
        li
          i.icon-check
          | &Bcy;&ocy;&lcy;&softcy;&shcy;&ucy;&yucy; &chcy;&acy;&scy;&tcy;&softcy; &dcy;&ncy;&yacy; online
        li
          i.icon-check
          | &Pcy;&ocy;&dcy;&dcy;&iecy;&rcy;&zhcy;&kcy;&acy; &scy;&vcy;&ocy;&iecy;&gcy;&ocy; &kcy;&ocy;&dcy;&acy;
        li
          i.icon-check
          | &CHcy;&icy;&scy;&tcy;&ycy;&jcy;, &vcy;&acy;&lcy;&icy;&dcy;&ncy;&ycy;&jcy; &kcy;&ocy;&dcy;
        li
          i.icon-check
          | &Lcy;&iecy;&gcy;&kcy;&ocy; &pcy;&ocy;&dcy;&dcy;&iecy;&rcy;&zhcy;&icy;&vcy;&acy;&iecy;&mcy;&ycy;&jcy; &kcy;&ocy;&dcy;
        li
          i.icon-check
          | &Pcy;&ocy;&ncy;&yacy;&tcy;&ncy;&ocy;&iecy; &ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy; &kcy;&lcy;&acy;&scy;&scy;&ocy;&vcy;
        li
          i.icon-check
          | &Ocy;&pcy;&tcy;&icy;&mcy;&icy;&zcy;&acy;&tscy;&icy;&yacy; &icy;&zcy;&ocy;&bcy;&rcy;&acy;&zhcy;&iecy;&ncy;&icy;&jcy; &icy; &kcy;&ocy;&dcy;&acy;
section#contacts.contacts
  .container
    h2.contacts__title.title &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
    ul.social
      li
        a(href='mailto:ilia.workproffile@gmail.com')
          i.icon-mail
          | Gmail:
          |                         ilia.workproffile@gmail.com
      li
        a(href='https://vk.com/ilya_manokhin')
          i.icon-vkontakte
          | Vkontakte: ilya_manokhin
      li
        a(href='skype:89680548333?add')
          i.icon-skype
          | Skype:89680548333
      li
        a(href='https://github.com/ilyamanokhin')
          i.icon-github
          | Github: ilyamanokhin
