section.banner
    canvas.canvas
    .banner__logo
        .page__subtitle Ilya
            span.page_bold Manokhin
        .page__img
            img(src="../assets/img/img-frontend-developer.png")
    .page__icon_mouse-down
include blocks/skills
include blocks/services
include blocks/advantages
include blocks/projects
.page__toogle
    a.page__btn(href="./projects/projects.html") Смотреть больше
include blocks/about