section#home.intro
  .intro__bg
  canvas
  .intro__text
      
    p.intro__hello Доброе время суток, меня зовут Илья и я
    h1 Frontend Developer
    p.intro__hello Который наверстает Вам упущенное!
  a.intro__scroll.down(href='#works')
    span.down__arrow
