doctype html
html(lang='en') 
    head
        title Hello, World!
        link(rel='stylesheet', href='css/styles.css', type='text/css')
        script(src='js/debugGridCreate.js')
    body
       button.debugGrid-btn.debugGrid-btn__create(onclick="debugGridCreate()")
       button.debugGrid-btn.debugGrid-btn__remove.debugGrid-btn__hidden(onclick="debugGridRemove()")
       div.debugGrid.debugGrid__z-index-negative