extends templates/template

block title
	title Portfolio
block append style
block content
	div.theme
		.theme-color.theme-color-3
		.theme-color.theme-color-2
		.theme-color.theme-color-1
		
		
	include modules/header-module
	include content
	
block append script
	script(src='js/canvans-rings.js')